[2020-07-13 00:49] taylrcawte opened #1574 "[Bug]: <Assigning integer value to geo2['pore.diameter'] changes all values in pn['pore.diameter'] to that integer>"
**Describe the bug**
After a geometry is updated using op.geometry.Imported(net) and new boundary pores are added, when assigning attributes to the new boundary pores if the value is an integer it changes all values of that attribute to the integer. If a float is used no issue. Found in https://github.com/PMEAL/OpenPNM/blob/dev/examples/extractions/Managing%20Geometrical%20Properties%20of%20Import

[2020-07-13 11:27] xu-kai-xu commented on #862
I think the boundary condition setting now is nice.  The name of  `value` and `rate` is vivid and explicit. And the name of `Dirichlet` and `Neumann` seems too mathematical.

Then, I have another question about the boundary condition. In some numerical simulations, like LBM, **periodic boundary condition**, **elastic boundary condition**, and so on. These boundary conditions may deal with the mate

[2020-07-13 12:33] jgostick commented on #862
I don't know about elastic bcs, but periodic would indeed be nice. This requires more than just a BC though, it's requires topological changes to the network, by adding 'stitch' throats.  In fact, our oldest open issues on github pertains to how to deal with 'periodic' throats.

[2020-07-13 14:42] jgostick commented on #1574
Hi @taylrcawte...thanks very much for the report and easy to reproduce code snippet!

This bug is a bit more subtle that it seems.

It's not that all the values on ``geo`` get over-written with 0's.  In fact, the values on ``geo`` remain untouched.  If you do ``'print(geo['pore.diameter'])`` you'll see the original correct values.

The problem is with the ``interleave_data`` function, which must d

[2020-07-13 14:59] taylrcawte commented on #1574
Awesome!

Thank you!

[2020-07-13 15:06] jgostick commented on #1574
It's still a bug...the type conversion is not working properly.

[2020-07-13 15:31] ma-sadeghi opened #1575 "Interchange front-back and left-right in accordance with the right hand rule"
# Right hand rule (Blender manual)
<img src="https://user-images.githubusercontent.com/14086031/87323157-67c52f00-c4fc-11ea-9ebc-d06fa9b0fa5b.png" width=30%>

# Graph Algorithms and Applications I (textbook)
<img src="https://user-images.githubusercontent.com/14086031/87327567-36e7f880-c502-11ea-90c5-7e14660756a3.png" width=80%>

[2020-07-13 15:36] jgostick commented on #1575
how does this compare to numpy indexing and to paraview?

[2020-07-13 16:25] ma-sadeghi commented on #1575
## Create `Cubic` network from `numpy` array
[code]
## Visualize in Paraview
<img src="https://user-images.githubusercontent.com/14086031/87327047-8ed22f80-c501-11ea-9cd4-8b6998841fbe.png" width=70%>

## Interchange left-right w/ front-back
[code]
## Visualize in Paraview
<img src="https://user-images.githubusercontent.com/14086031/87328000-d6a58680-c502-11ea-931a-792a908fc375.png" width=70%>

[2020-07-14 14:29] #1574 closed, assigned to jgostick

[2020-07-14 16:07] jgostick opened #1578 "[Feature Request]: Cache the build artifacts for faster testings?"
**Is your feature request related to a problem? Please describe.**
The ubuntu builds take ages, because they have to compile petsc every time.

**Describe the solution you'd like**
On travis there was an option to cache the compiled items between tests, and it'd automatically recompile only if the dependencies changed (I think).  I think it'd be worth investigating whether Github actions can cache

[2020-07-15 13:49] xu-kai-xu commented on #677
@jgostick , hi, I did an easy simulation by using two sets of pores to construct a pnm. The two pore diameters are 5e-5 m and 2.5 e-5 m, respectively. Then I use it to simulation single-phase flow. As intuitive feeling, I think the constant-pressure surface should not be vertical to the flow direction (z-axis) near the pore-size-changing areas. But the results show that the pressrue is the same at

[2020-07-15 14:34] ma-sadeghi opened #1579 "[Feature Request]: continuity boundary condition between networks"
**Is your feature request related to a problem? Please describe.**
When modeling a multidomain problem, such as in fuel cells where we have GDL and CL, it's not trivial to connect GDL-CL interface pores. In fact, the pore connectivity at interface is not important, but rather the mass distribution between the two domains is.

**Describe the solution you'd like**
No need to stitch the two networks,

[2020-07-15 14:51] jgostick commented on #677
I do not understand your question but the data you show above all looks good.

The pressure should be relatively constant at any z-position.

The flow should be 0 in every pore, except for boundary pores, because the mass balances to 0 (in - out).    Your flow rate axis is scaled by 10^-22, so  the red points are basically just showing numerical noise...the flows are indeed 0 as expected.

[2020-07-15 15:34] xu-kai-xu commented on #677
Thank you. Still, I don't understand why the pore size will not change the pressure distribution. About the flow rate, I understand it.

[2020-07-15 16:03] ma-sadeghi commented on #677
If you radically change the pore size distribution, you might see some noticeable change.

Try on a smaller network so the heterogeneity gets more pronounced.

[2020-07-15 16:22] jgostick commented on #677
The only thing that pore size changes is the **flow in the throats**., not the pressure in the pores.  There are several ways to think about this.  Consider the pores at the same z-position...if there were a pressure difference between them, then flow would move between them, but there is no reason for flow to move laterally when the pressure is lower toward the outlet.  Or, you can say that the f

[2020-07-16 01:42] xu-kai-xu commented on #677
I guess I understand. I forget the steady-state condition. Thank you!

Then, I made some changes, the new pore size distribution is as follows:

![p-cubic-half-5-f](https://user-images.githubusercontent.com/44153643/87622361-8c681380-c755-11ea-9bfc-c2d3c597d326.png)

From the figure, I can see pressure difference obviously  in lateral direction. This may show the flow at the x-y plane.

[2020-07-16 14:07] jgostick opened #1580 "[Bug]: loc not working in some PSDs"
The ``loc`` keyword is supposed to apply an offset to the distributions, but it doesn't seem to be working.

[2020-07-16 14:29] mkaguer commented on #1428
Question for this issue, @jgostick  or @ma-sadeghi. Do we only want this geometry to work for cubic lattice structures? I can imagine rectangular lattice structures with different spacing in each direction but that would complicate things.

[2020-07-16 14:38] jgostick commented on #1428
Eventually we'd like anisotropic meshes, but we can get to that later.  BTW, I fiddled with this a bit on a branch.  I'll push it so we can use it as a starting point.

[2020-07-16 14:52] ma-sadeghi opened #1581 "[Feature Request]: add "origin" as optional argument to Cubic"
**Is your feature request related to a problem? Please describe.**
Although it is very minor, this feature is handy when creating multidomain networks. Also, the change would be entirely backwards compatible.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Currently, the user needs to manually translate the nodes to a different origin via:
[code]

[2020-07-16 15:04] mkaguer commented on #1428
Ok great, thanks.

[2020-07-16 15:34] jgostick commented on #1580
False alarm, had a typo in my model

[2020-07-16 15:34] #1580 closed, assigned to nobody

[2020-07-17 02:58] jgostick opened #1584 "Add pores-scale models to networks"
I just had a bit of a eureka.  This is in addition to the already great idea in #1505 of using them to do health checks on the topology.

We should add pore-scale models to the GenericNetwork class, and here's why:

1.  'throat.bond_length': This would be the site-to-site distance between each pore.  It is useful when finding actual throat lengths in geometry models.
2.  'pore.nearest_neighbor':

[2020-07-17 08:16] xu-kai-xu commented on #1250
Can we just calculate the porosity using `throat.endpoints` as the boundaries between throats and pores? This may reduce the intersection of pores and throats. About the domain size, it may be hard to infer automatically.

[2020-07-17 08:53] xu-kai-xu commented on #1003
@jgostick  @ma-sadeghi, hi, I guess just use the following method to calculate porosity will get larger value than the actual one.  In built-in StickandBall model, `pore.volume` and `throat.volume` are calculated with `diameters`. This means, there may be some space in which pores and throats are intersected.

Then, the built-in model has parameters like `throat.conduit_length.pore1`, `throat.cond

[2020-07-17 13:48] Ni2M commented on #1421
![image](https://user-images.githubusercontent.com/43128873/87793036-b2072280-c812-11ea-9feb-b5156d6e561a.png)

[2020-07-17 14:00] jgostick commented on #1003
The main issue is actually finding vol_total.  We have no way of knowing what the domain boundaries are, as we only track pore locations and sizes.  Regarding overlapping pores and throats, that is an important issue to, but it solvable.

[2020-07-17 14:17] jgostick commented on #1497
I was browsing the scipy source code the other day, and the use something similar to inherit docs.  I'm making a note here to check what they use.  Here is an [example](https://github.com/scipy/scipy/blob/6bd8975294ec0d66d159195d3ffb50d336eb6410/scipy/ndimage/filters.py#L54).

[2020-07-17 14:33] jgostick opened #1586 "Telecon Agenda - July 17, 2020"
- [x] Status of examples_galore
- [x] Update on conductance models #1421, #1570 @Ni2M
- [x] DNS or Continuum Geometry class #1428 @mkaguer
- [x] Throat volume in transient sims #1459 @magnaou
- [x] Multiple physics in PNP #1481
- [x] Overview of high priority bugs: #1526, #1501,

[2020-07-17 15:55] jgostick commented on #1459
The solution should be as follows:
1.  Add a ``pore_volume`` to the settings of TransientReactiveTransport, and set the default to 'pore.volume'
2.  Add a model to models.geometry.pore_volume called ``effective_volume`` which distributes throat volume to the neighbor pores...this could have some 'modes' to control how the volume is divided up.
3.  Users should then do ``alg.settings['pore_volume']

[2020-07-17 15:59] jgostick commented on #1459
Offending lines are [here](https://github.com/PMEAL/OpenPNM/blob/f9c9efa4f056e055b5b01561a3bce1e02615e749/openpnm/algorithms/TransientReactiveTransport.py#L199) and [here](https://github.com/PMEAL/OpenPNM/blob/f9c9efa4f056e055b5b01561a3bce1e02615e749/openpnm/algorithms/TransientReactiveTransport.py#L219)

[2020-07-17 16:28] jgostick opened #1587 "Remove use of scipy when should be numpy"
Functions at the top level of scipy are being removed, so ``sp.array`` should be changed to ``np.array``.

[2020-07-17 16:47] jgostick commented on #1501
The for-else construct might be useful, since it's literally meant to check 'why' the loop ended, either a ``break`` or the end of the loop.

https://book.pythontips.com/en/latest/for_-_else.html

[2020-07-17 17:50] Ni2M commented on #1421
We will use the proposed method in #1570

[2020-07-17 18:03] jgostick opened #1588 "Support geometry=network in Physics init"
At the moment it is possible to initialize a physics like this:

`` phys = op.physics.Standard(network=pn, phase=phase, geometry=pn)``

This is a little trick that the devs are aware of, but is not generally supported or advertized.  It does break thinks though, since there are places where openpnm looks for multiple physics objects but only one has been defined.  It would be a GREAT idea to suppo

[2020-07-18 01:05] xu-kai-xu commented on #1003
@jgostick, about the totol volume, can you use `pore.coords` for calculation? According to the coordinates, you can get the min and max values at each axis (if a xyz coordinate system). Then, the total volume may be confirmed.

[2020-07-18 02:13] jgostick commented on #1003
That misses the volume between the pores and the domain boundary.

[2020-07-18 03:22] xu-kai-xu commented on #1421
@Ni2M, thanks. I see the derivation process. I have two questions. The first is that the equation: $$  g\*SF = g*L / (A\*F) $$

It seems not the same as the code, which is $$ g\*SF = g*L / (A^2 \*F) $$.

The second is that the concept **flow shape factor** has no dimension. But it seems different to the definition of $$SF = A / P^2$$, in which A is the area of the cross-section, P is the perimeter

[2020-07-20 01:39] mkaguer commented on #1459
I just pushed a new branch called effective_volume with the changes. I tested it on my passive sampler project and it helped. @jgostick want me to open a PR? Or do we want Stephen to test out this effective volume first?

Before using effective volume
![image](https://user-images.githubusercontent.com/57453394/87891283-708b9880-ca07-11ea-9422-dcc36fe76f7f.png)
After using effective volume
![image]

[2020-07-20 02:18] jgostick commented on #1459
Wow, that helped a lot more that I was expecting.  Create a PR, then Stephen can check it out and make sure it works for his problem too before we finally merge it.

[2020-07-20 03:08] jgostick commented on #1459
Wait a minute...i didn't realize those fits were before and after...I remember the before being much worse?

[2020-07-20 14:50] Ni2M commented on #1421
@xu-kai-xu Thank you for your comment. You are right. I apologize the right equation is  $$ g*SF = g*L / (A^2 *F) $$. It was my bad in writing the equations. Just to give you a side update we are not using this new derived F factor, as it still provides problems. We are working on other ideas that are mentioned in related issues.

The idea we defined shape factor here is adopted from the reference

[2020-07-20 18:32] magnaou opened #1589 "[Bug]: Turn off the cache when using the PNP or non Newtonian algs"
Set {'cache_A': False, 'cache_b': False} in the PNP and non Newtonian algs.

[2020-07-21 00:06] mkaguer commented on #1459
Yea, the before was much worse because the network I did the simulation on prior didn't have the same effective diffusivity as the actual sorbent. Just as we talked about, I increased the pore volume to get the same effective diffusivity. That's the improvement you are seeing in the 'before' plot.

[2020-07-21 00:20] mkaguer commented on #1459
I created a PR here: #1590

That was my first PR let me know if I didn't do something right.

[2020-07-23 01:14] #1459 closed

[2020-07-23 13:38] ma-sadeghi opened #1591 "[Feature Request]: Add setter methods for conns and coords in GenericNetwork"

[2020-07-23 13:43] ma-sadeghi opened #1592 "[Bug]: plot_connections and plot_networkx produce out-of-scale plots"
**Describe the bug**
plot_connections and plot_networkx produce out-of-scale plots

**To Reproduce**
Steps to reproduce the behavior, ideally a code snippet that only reproduces the bug:
[code]

**Expected behavior**
Similar plot but with better margins.

**Screenshots**
Here's what you get:
![image](https://user-images.githubusercontent.com/14086031/88293178-a8753300-ccc8-11ea-83cf-dcc08ec0242c.p

[2020-07-23 14:10] ma-sadeghi opened #1593 "[Bug]: merge_networks doesn't always preserve geometries"
**Describe the bug**
`merge_networks` doesn't always preserve geometries

**To Reproduce**
Steps to reproduce the behavior, ideally a code snippet that only reproduces the bug:
[code]
[code]

**Expected behavior**
[code]

[2020-07-23 14:13] ma-sadeghi commented on #1589
@magnaou As per our discussion on Teams, this is not a bug on our algorithms' side, but is rather related to our dependency handling. So, we should always keep `cache_A` and `cache_b` as `True`. But, let's keep this issue as a reminder to fix the dependency handling bug.

[2020-07-23 14:33] #1586 closed, assigned to nobody

[2020-07-23 14:38] jgostick commented on #1311
This is related to #1588.  If we decide to support that option, then this one is not necessary.

[2020-07-23 16:49] jgostick opened #1594 "Objects should have a more robust identifer other than name"
``obj.name`` is handy and user friendly, but it is actually a bit fragile, and if for some reason the object loses is ``project`` the whole system breaks.  I think the back end should be re-factored to look for uuids instead of names.  These never change and are never in conflict.

Given the above plan it would also be possible to keep a handle for every single object in the ``Workspace`` , indexe

[2020-07-23 17:47] jgostick opened #1595 "Projects should be the place where subdomains are controlled"
The Project is meant to 'oversee' the whole operation.  It has the birds-eye view of the domain and subdomains.  It is already responsible for 'some' of this stuff, like ``check_geometry_health``, but it should be given more powers.

[2020-07-23 19:51] jgostick opened #1596 "Explicit mode in transient solver throws error"
When using t_scheme = 'explicit' in transient advection-diffusion, it complains that variable f2 is not assigned.

[2020-07-27 02:14] xu-kai-xu commented on #1584
About the coordination number,  what about to add a function for showing the statistical information of a PNM, including, pore diameter distribution, throat, diameter distribution, and pore coordination distribution. You can also plot it directly. For now, I just think the three, do you think throat length is also important for the statistical information? Or, it is too easy to make it a function?

[2020-07-27 13:37] jgostick commented on #1584
There is a function already, called ``show_hist``, and you can pass in a list of props, like ['pore.diameter', 'throat.length', etc].  This isn't super well formatted, but people should make their own graphs if they want something publishable.

[2020-07-27 14:28] ma-sadeghi opened #1599 "Telecon Agenda - July 31, 2020"
- [ ] Update on examples_galore?
- [ ] NP maintenance #1585
- [ ] Caching issue #1589
- [ ] `powerlaw`: shape factor or conductance model? #1582 #1583
- [ ] Flow shape factor models #1421
- [ ] Volunteer for bugfixes?

[2020-07-28 18:05] taylrcawte opened #1600 "[Question]: <Warning thrown when adding new pores to a network, does this indicate issue when geometry is assigned?>"
When adding boundary pores to network a warning issues the following statement (pictured below) : "WARNING: Network has active geometries, new pores must be assigned a Geometry". This warning is thrown even if the pores are assigned a geometry after being added. Is the warning just highlighting the need to assign a geometry to the new pores or is it saying that these new pores do not have a geomet

[2020-07-28 18:08] jgostick commented on #1600
Yes, it's just a warning...you're covered because you create ``geom_b`` below, so you heeded the warning ;-)

[2020-07-28 19:21] taylrcawte commented on #1600
Great Thanks for the clarification !

[2020-07-28 19:21] #1600 closed, assigned to nobody

[2020-07-31 12:43] jgostick opened #1601 "[Bug]: size_by argument in plot_coordinates still expects string"
**Describe the bug**
We decided that the color_by and size_by arguments should take arrays, not dict keys, but it seems I forgot to change this in the plot_coordinates function.

[2020-07-31 13:00] jgostick commented on #1601
I 'think' this is fixed on dev, we just haven't merged it in the branch I was using.

[2020-07-31 13:13] #1601 closed, assigned to nobody

[2020-07-31 15:35] #1593 closed, assigned to nobody

[2020-08-10 07:30] xu-kai-xu commented on #1146
@jgostick, hi, jeff, I use PNM from ICL and calculate permeability as the IO tutorial, the results seem still different. The problem is still existing, is that right? I found the extracted PNM has a property `pore.clay_volume`. Is that possible the existance of clay components will narrow the flow channels so the permeability calculated by ICL is smaller than by OpenPNM?

[2020-08-11 14:06] Ni2M commented on #1592
investigation on https://github.com/PMEAL/OpenPNM/blob/98e055cf3e680b023e47904efcf8b9936ec9d0cb/openpnm/topotools/plottools.py#L333 and https://github.com/PMEAL/OpenPNM/blob/98e055cf3e680b023e47904efcf8b9936ec9d0cb/openpnm/topotools/plottools.py#L350

[2020-08-11 21:45] ma-sadeghi opened #1602 "Fix deprecation warnings"
After merging @Ni2M's PR, most of the deprecation warnings are now fixed. There are a few left though that need to be addressed. Here is a summary of outstanding warnings:
[code]
@Ni2M Could you please address these outstanding warnings? Thank you.

[2020-08-11 21:49] Ni2M commented on #1602
Thank you @ma-sadeghi for following up. I will check these warnings and fix them in a PR.

[2020-08-12 01:05] ma-sadeghi commented on #1589
@magnaou I just checked and it seems that the problem is fixed on the `dev` branch, meaning that the dependency handler automatically sets `cache_A` and `cache_b` to `False`, at least for `NonNewtonianStokesFlow`. Can you please confirm if that's indeed the case (both for NonNewtonian and NP)?

[2020-08-12 15:11] ma-sadeghi opened #1606 "Change models to only accept one keyword for each prop (temperature, instead of pore_temperature and throat_temperature)"
Many of our methods' arguments include both pore and throat properties, such as `pore_diffusivity` and `throat_diffusivity`. Is that really necessary? I'm proposing, for the benefit of brevity and cleaning up the argument list, to remove most of these references and only leave out those that would otherwise introduce significant errors if interpolated.

What do you think @jgostick ?

[2020-08-12 15:32] jgostick commented on #1606
There is some value to that suggestion for sure

[2020-08-12 18:44] Ni2M opened #1607 "Which flow_shape_factor should be defined for Standard physics?"
The ball_and_stick flow shape factor is the default for Standard physics. For cases with problematic pore size, they can not use Standard physics neither.
please refer to https://github.com/PMEAL/OpenPNM/pull/1605#issuecomment-673038767
I think we might need to assign an alternative shape factor model for Standard physics.

[2020-08-12 19:16] ma-sadeghi commented on #1607
Good point @Ni2M. This was proposed in #1570, so I'm closing this issue.

[2020-08-12 19:16] #1607 closed, assigned to nobody

[2020-08-14 13:53] ma-sadeghi opened #1608 "Stop adding the internal label during network instantiation"
I expected that "internal" refers to all pores except those labeled "surface", but apparently that's not the case.

[2020-08-14 14:16] ma-sadeghi opened #1609 "Leverage caching of A factorization (pypardiso)"

[2020-08-14 14:16] #1599 closed, assigned to nobody

[2020-08-14 15:34] #1481 closed, assigned to magnaou

[2020-08-14 15:36] jgostick commented on #1592
https://matplotlib.org/3.1.1/api/_as_gen/matplotlib.pyplot.autoscale.html

[2020-08-14 15:42] jgostick commented on #1596
This tried to run, but should have thrown an error with a clear message that an unsupported mode was received.

[2020-08-14 15:52] #1512 closed, assigned to magnaou

[2020-08-14 15:55] jgostick opened #1611 "[Feature Request]: Add "results" method to NernstPlankMultiphysicsSolver"
The ``results`` method of the main solver should reach into each of the sub-algs, and pull out the concentrations of each species, pressure, and voltages, the return them all together in a single dictionary.

The one issue to keep in mind is that we'd like to do ``phase.update(PNP.results())``, so the format of the returned results needs to be compatible with this.

[2020-08-14 16:05] #1589 closed, assigned to magnaou

[2020-08-14 18:08] ma-sadeghi opened #1613 "Migrate from pip to conda installation in CI workflows"
Since we're going to use `pypardiso` as the default solver, we're going to migrate from pip to conda since `pypardiso` is not robust on `pip` for Windows.

[2020-08-14 22:07] Ni2M commented on #1587
This issue can be closed. It is addressed in #1598

[2020-08-15 23:25] ma-sadeghi opened #1615 "Replace pep8 with pycodestyle"
Most recent pytest is incompatible w/ pep8 (last updated 2014, so no surprise).

[2020-08-15 23:34] #1587 closed, assigned to Ni2M

[2020-08-15 23:43] #1421 closed

[2020-08-16 02:45] #1615 closed, assigned to nobody

[2020-08-16 10:11] #1613 closed, assigned to ma-sadeghi

[2020-08-18 00:13] jgostick opened #1618 "Add name to settings, change name attr to property method"
It would be super handy if the name of the object was stored in its settings, as well as any other attributes for that matter, so that we can more easily store all of an objects meta-data.  This is relevant to the new file format.

[2020-08-18 02:34] jgostick opened #1619 "All classes should be instantiable with no args"
While working on the new file format, I'm wishing / needing that all classes can be created without passing in any args.  For instance, I want to create an empty Cubic class, but this is impossible.  I could create non-empty networks then delete the data afterwards, but this would require writing a custom delete sequence for every class, including each new one!  Ouch.

[2020-08-18 04:26] #1602 closed, assigned to Ni2M

[2020-08-18 04:45] #1592 closed, assigned to Ni2M

[2020-08-19 16:25] TomTranter opened #1620 "Why does A need to be symmetric in LinearTransport?"
https://github.com/PMEAL/OpenPNM/blob/289558826270ab8e1558aa5c8e0194177d9a34e0/openpnm/algorithms/GenericTransport.py#L479

A way to set value BC's is to set all the coefficients in the A matrix to zero except the BC pore and set this coefficient to 1 then set b to the value. The current implementation is more complicated and affects the connected pores and I think was done to keep the A matrix sy

[2020-08-19 18:00] ma-sadeghi commented on #1620
Hey @TomTranter. For symmetric matrices, direct solvers such as `spsolve` are faster. Also, iterative solvers like `cg` only work on symmetric matrices. The alternative is to use more general iterative solvers such as `bicgstab` or `gmres` which is considerably slower than `cg`.

RE: connected pores, what exactly is the issue?

[2020-08-19 21:59] TomTranter commented on #1620
It's just I'm not getting the solution I expect and thought it was this boundary logic but could be something else. Thanks for the explanation. I'm using pyamg and seems to handle the solving fine

[2020-08-19 21:59] #1620 closed, assigned to nobody

[2020-08-20 20:22] ma-sadeghi opened #1622 "Partial assignment of geometric properties on network should throw a warning"
When `"pore.diameter"` is already available on `geometry`, **partial** assignment of `"pore.diameter"` silently fails. I think it should throw a visible warning under such circumstances.

[2020-08-25 14:40] TomTranter commented on #1579
Sounds useful. Did you make any progress on this?

[2020-08-26 18:55] ma-sadeghi commented on #1579
Not really. I'm wondering if this can be done without adding a fictitious pore (to preserve Np by Np structure).

[2020-08-28 03:58] jgostick opened #1623 "Telecon agenda for August 28, 2020"
- [ ] Demo of new file format
- [ ] Discussion of open PRs
- [ ] Overview of recently merged PRs
- [ ] Scan of open issues.

[2020-08-28 16:39] Ni2M opened #1626 "[Bug]: Plot_connections in 3D has problem with scaling"
**Describe the bug**
3D network's plot_connection does not work properly

https://github.com/PMEAL/OpenPNM/blob/fbb4a8d7a0204f4d85ceff3a6d112a11d7e2b02d/openpnm/topotools/plottools.py#L250
https://github.com/PMEAL/OpenPNM/blob/fbb4a8d7a0204f4d85ceff3a6d112a11d7e2b02d/openpnm/topotools/plottools.py#L289

**To Reproduce**
[code]

![image](https://user-images.githubusercontent.com/43128873/91591822-8

[2020-08-29 01:42] #1623 closed, assigned to nobody

[2020-08-29 21:56] hazardary opened #1633 "[Question]: Net flow rate is not zero for permeability calculation"
I am implementing permeability calculation for a extracted network with both water phase and air phase in the network. I have been study the code in OpenPNM/examples/simulations/Relative Permeability in 2D.ipynb. In the last snippet of code I found that flow rate of the boundary where pressure is assigned to 1, is used to calculate permeability. In my code I used flow rate from the outlet. But it

[2020-08-30 00:56] jgostick commented on #1633
To answer your second question first, when you do 'left' and 'right', you probably also get some 'top' and bottom' pores.  Though you said you were working on an extracted network, so maybe my answer is not correct.  Check to see if pn.pores('left') and pn.pores('front') have any pore indices in common.

Regarding your first point, the only way that the inlet and outlet would not match is if the s

[2020-08-30 17:06] jgostick opened #1634 "pore.index is missing from CubicTemplate"
This array in needed for adding values to the network using the original image

[2020-08-31 20:30] Ni2M commented on #1626
refer to PR #1635

[2020-09-02 19:40] j-d-edwards opened #1636 ""import openpnm" leads to "IndexError: tuple index out of range""
This is a problem that has cropped up only recently, after I changed machines and upgraded openpnm. If I try to import the OpenPNM package into a Python script, I get the following error:

[code]

I am running an Ubuntu 18.04.5 machine, Linux Kernel 5.4.0-45. I have Anaconda version 2020.07. The OpenPNM release I am running now is 2.4.2.

I have tried uninstalling OpenPNM, running it with an older

[2020-09-02 20:34] ma-sadeghi commented on #1636
You need to update `OpenPNM` to 2.5.1. Run
[code]

[2020-09-02 20:53] j-d-edwards commented on #1636
Thank you, that worked! I was using the `conda install -c conda-forge openpnm` installation instructions, which seems to be downloading the older version of the package. Unfortunately, I'm now running into an issue with `No module named 'pypardiso'`, but I should be able to work that out.

[2020-09-02 20:53] #1636 closed, assigned to nobody

[2020-09-02 21:22] ma-sadeghi commented on #1636
@j-d-edwards That's right, we're moving towards making `conda` the default installation, but at the moment I'm trying to add `pypardiso` to `conda-forge`. Should be done in a week or so.

Anyways, you can install `pypardiso` by:
[code]

[2020-09-04 03:15] jgostick opened #1637 "All IO classes should have a save_project method"
At the moment there are some inconsistencies in the various apis of the IO classes.  I don't think we can start to rip these apart yet, but we can add a ``save_project`` method to all classes, and this should ONLY accept a project object, not a network or list of phases.  It may also be useful to allow any list of objects to be passed as a ``project``, so that users can save a specified set of obj

[2020-09-06 14:56] jgostick opened #1638 "The IO classes should differentiate between 'save_project' and 'export_data'"
Use of these terms would make it crystal clear what's going to happen.  We also need to banish the 'save' and 'load' terms, since they're too vague.  This would be backwards incompatible though.

[2020-09-06 20:24] DMaxJ opened #1639 "Enforcing matching of surface labeling between OpenPNM and SNOW networks"
[openpnm2.docx](https://github.com/PMEAL/OpenPNM/files/5180215/openpnm2.docx)

**Problem description**
There seems to be a mismatch depending on how networks are generated/imported in OpenPNM. This issue could also go to the porespy thread, but I am a bit confused.
1) When one generates a network using the cubic template like this
[code]
the generated surfaces will be labeled like this: (here the

[2020-09-09 21:02] ma-sadeghi commented on #1636
@j-d-edwards We just fixed the conda-forge builds. So you can install `openpnm` via conda as well. Also, we've packaged `pypardiso` ourselves (as the package author is no longer active on github) and shipped it to conda-forge under `pardiso4py`. It's now listed as a dependency, so if you install `openpnm` via `conda`, you shouldn't get any error regarding `pypardiso`.

[2020-09-10 17:40] jgostick commented on #1639
Hi @borahdj2010 thanks for the suggestion.  We are in the process of moving PoreSpy to V2, at which point we can make the backwards incompatible changes you suggest.  This process is just taking ages but there is reason to believe things will go faster this fall.

[2020-09-13 15:27] jgostick commented on #1591
what would be the use case for this?  I added the getter/helper methods for convenience to save typing, but the setter would be a lot more trouble.

[2020-09-14 02:03] jgostick opened #1642 "Add model to subdomain objects that returns the indices into the full domain"
This would allow something like ``Ps = geo['pore.net_01']`` and would in many cases remove the need to use the ``map_pores/throats`` function which is a bit confusing to use.

[2020-09-14 12:03] DMaxJ opened #1643 "Problem with physics"
I am having trouble understanding some results of simulations performed on networks extracted using SNOW algorithm. I have used the following approach

1. GEO1: (in the code below): standard pore and throat diameter with throat conduit length
2. GEO2: geometry models using equivalent diameter
3. PHYSICS1: generic physics and then adding Hagen-Poisseuille model
4. PHYSICS2: Standard physics model

[2020-09-14 12:54] ma-sadeghi commented on #1643
`Standard` physics also includes a "flow shape factor", which corrects for the fact that pores are not cylinders. To back it up, all our basic conductance models assume that each conduit, i.e. pore + throat + pore, is a series of cylinders. To take into account, for instance the fact that pores are spherical, we use shape factors. Currently, we support two distinct shape factors: `ball_and_stick`,

[2020-09-14 13:29] DMaxJ commented on #1643
Thanks. It seems I overlooked that aspect. Thanks for the clarification.

[2020-09-14 13:34] DMaxJ commented on #1643
When we use generic physics with Hagen-Poisseuille model, then which shape factor is used in OpenPNM? I see that when I use standard physics model with equivalent diameter, the calculated permeability decreases (as compared to generic physics+HP), but the opposite happens when I just use pore diameter and not equivalent diameter.

[2020-09-14 14:16] ma-sadeghi commented on #1643
No shape factor will be used. Basically, all our classes starting with `Generic` are templates, meaning that they're empty and only serve as placeholders. You need to manually add models.

When using shape factors, it's really hard to tell which direction the permeability changes (i.e. increase or decrease). If you exclude shape factors, however, it's easier to predict: if the equivalent diameter

[2020-09-14 14:25] DMaxJ commented on #1643
Thank you. I have the following output
[code]
It becomes clear from the results that without shape factor the permeability increases by a factor of 3 when equivalent diameter is used. But the same cannot be observed with shape factor.  There the calculated permeability value is smaller with equivalent diameter. Your explanation makes it clear.

Any suggestions regarding what could be a/the realist

[2020-09-14 14:33] ma-sadeghi commented on #1643
Can you print the average diameters? I mean print average `pore.diameter` and average `pore.equivalent_diameter`?

@borahdj2010 In my experience (which is limited), you're always better off using "a" shape factor, rather than not. The reason is that pores are almost certainly not a bundle of tubes, but rather much closer to sliced cones or deformed spheres.

@Zohaib-Atiq is much more experienced,

[2020-09-14 14:37] DMaxJ commented on #1643
Yes
average pore.diameter =  6.175725394373993e-06
average pore.equivalent_diameter =  1.4394915727386392e-05

median pore.diameter = 5.600609985337265e-06
average pore.equivalent_diameter = 1.2571392133939607e-05

[2020-09-14 16:09] jgostick commented on #1478
Why not just store it in the dict, along with all the other arrays?  ``'pore.x0'``, or ``'pore.initial_guess'``

[2020-09-14 16:18] jgostick opened #1644 "Clean-up the settings on the algorithms"
It would be very helpful to add some 'categorization to the settings dict on each algorithm.  For instance, it'd be nice if we had something like:

[code]

[2020-09-14 22:27] Ni2M opened #1646 "Problem with network extraction examples"
For some reason the example for the Berea simulation gives 1 additional pore in its network extraction, while the resulting network  from test runs have 1 less pore. Accordingly, the results for simulations will be different as well. I'm checking the versions of the libraries and PoreSpy first.

[2020-09-15 01:24] ma-sadeghi commented on #1646
@Ni2M Actually, I experienced the same issue in a recent PR, and it turned out that it's Linux/Windows issue. For some reason, on Linux, we sometimes get slightly different results, which is OK. Since the CI machine that runs our examples runs Linux, and incidentally most of us are using Windows, occasionally we have this issue.

Long story short, this is not a bug on our side, but an OS-dependent

[2020-09-15 01:24] #1646 closed, assigned to Ni2M

[2020-09-15 15:26] Ni2M commented on #1646
Thank you @ma-sadeghi for your explanations. That is true. I also found a similar reasoning on my search on the internet for some other software. There was the possibility to run CI locally to see if the results are the same or not, but the OS are still different. Thank you.

[2020-09-15 15:27] jgostick commented on #1646
So the solution is the #NB_VAL INGORE the offending cells?

[2020-09-15 15:50] jgostick commented on #1478
this is now forbidden...only json serializable objects can be stored in settings as of PR #1641

[2020-09-15 16:44] ma-sadeghi commented on #1646
@jgostick I'd suggest to leave it as is. If I remember correctly, the Berea example is the only one having this OS-dependent problem. So, as long as we're not changing the example, it should be fine. Btw, I already updated the Berea example on dev using a native Linux installation, so the test is passing on dev.

[2020-09-15 16:48] jgostick commented on #1646
I had to change the example since the 'name' of the object now appears in the settings dict, so upon re-running it I broke the ubuntu tests.  I have added the ignore and a message to future selves about why.

[2020-09-16 12:14] ma-sadeghi commented on #1591
I can't recall why I opened up this issue, so I'm closing it.

[2020-09-16 12:14] #1591 closed, assigned to nobody

[2020-09-16 12:47] ma-sadeghi commented on #1643
I'm closing this for now, if you have more questions, feel free to follow up here or open up another issue.

[2020-09-16 12:47] #1643 closed, assigned to nobody

[2020-09-17 20:08] megavolts opened #1648 "VTK output failed to visualized in ParaView"
**Describe the bug**
Pore network was extracted with porespy 1.3, then imported in openpnm via pn.update(net), and finally exported in VTK or XDMF format for visualization in Paraview.

When loading the file in Paraview, Paraview consume all available memory and freeze the computer. The not working VTK output is attached in the tarball archive (FAIL.vtk)

I am expecting the but to be either in ope

[2020-09-17 20:11] jgostick commented on #1648
Based on your above code, the offending line is ``openpnm.update(net)``.  It should be ``pn.update(net)``.  This transfers all the data from the 'net' dict produced by porespy onto the empty network created by openpnm.

[2020-09-17 20:13] jgostick commented on #1648
We are working to improve the import process, and I recommend doing the following:
[code]

This will create both a network and a geometry, storing them both in the project.  It divides the data between two accordingly.

[2020-09-17 21:03] megavolts commented on #1648
My bad, I used `pn.update(net)`

I used the following code:
[code]
As the use of  `op.io.PoreSpy(net)` led to:
[code]

However the problem still exists, and it seems to depends on the voxel_size parameters:
- voxel_size = 1 succesfully visualize
- voxel_size = 4e-5 failed to visualize

[2020-09-18 02:10] jgostick commented on #1648
Also, my bad, should have been ``op.io.PoreSpy.load``.

[2020-09-18 02:36] jgostick commented on #1648
I just ran the following and it worked like a charm:

[code]

ps.__version__ = '1.3.0'
op.__verison__ = '2.5.1'
Paraview version = 5.7.0

[2020-09-18 02:42] jgostick commented on #1648
Also, your FAILED file opens in my Paraview no probs.

[2020-09-18 18:39] #1594 closed, assigned to nobody

[2020-09-18 18:39] #1618 closed, assigned to jgostick

[2020-09-18 19:26] #1626 closed, assigned to Ni2M

[2020-09-18 21:12] megavolts commented on #1648
Thanks for testing.
I will investigate more on my side.

[2020-09-18 21:12] #1648 closed, assigned to nobody

[2020-09-18 23:55] jgostick commented on #1609
You said you got a 2x speed up with this, is that on a PR anywhere yet?

[2020-09-19 00:00] jgostick opened #1649 "interpolate_data is stupidly slow for pore data"
Luckily it never gets called, because we'd still be waiting for the first result to arrive.  It loops over each pore, then loops over each throat.  This can be done using numpy's accumulate functionality, along with the conns array.  This can be used to put throat properties into a pore sequentially, summing the result instead of over writing.

[2020-09-19 02:59] jgostick opened #1650 "Automatically apply the Import geometry object when importing data"
At present some classes do and some do not.  I'm trying to make it all more consistent.

[2020-09-20 02:22] jgostick commented on #1649
It turns out this can be done using the incidence matrix in coo format, rather than the adjacency matrix:

[code]

[2020-09-20 23:06] jgostick commented on #1482
You could actually do this with the code as it is now, just write a new model that accepts "parameters", and then looks up the values from the Project, assuming you've manually added the 'parameters' attribute as a dictionary.  A sample model would look like:

[code]

We could / should officially support this by adding an empty ``params`` dict to each project.  We could then include this dict when

[2020-09-20 23:07] jgostick commented on #1462
@ma-sadeghi this must be addressed now by the new conda install approach right?

[2020-09-21 01:01] ma-sadeghi commented on #1462
That's right, it's done.

[2020-09-21 01:01] #1462 closed

[2020-09-21 14:08] p-thomson opened #1653 "Is it possible for the boundary pores to allow flux?"
I am running the transient advection diffusion simulation and I want to obtain the pore concentration in the outlet pores. At present I am applying Dirichlet boundary conditions like those in the Transient Fickian Diffusion example (ad.set_value_BC(pores=outlet, values=0.0) so all boundary pores at the outlet have a value of 0 at the end of the simulation.

Is there a way to get the pore concentra

[2020-09-21 19:18] ma-sadeghi commented on #1653
We have `set_rate_BC` which does that, except that it's rate not flux. Does that answer your question?

[2020-09-21 20:43] DMaxJ opened #1654 "Problem adding boundary pores to extracted networks"
I am trying to add boundary pores to an extracted (SNOW) network. I first use the Imported class to get the network data to the geometry object. Then I add boundary pores. But using the Boundary class to create the boundary object fails. The code is shown below (I have mentioned only the relevant portion)

[code]

The error occurs with throat_endpoints.spherical_pores. The error message looks like

[2020-09-22 01:24] jgostick commented on #1653
Ya, we don't have a flux because we don't know the 'area' of the cells, meaning we only know the area of the pores/throats, but not the solid area that surrounds them.

[2020-09-22 01:54] jgostick commented on #1588
I no longer think this is a good idea.  It break things.

[2020-09-22 01:54] #1588 closed, assigned to nobody

[2020-09-22 01:55] jgostick commented on #1311
I am going to close this now too, as I closed #1588.  This breaks things.

[2020-09-22 01:55] #1311 closed

[2020-09-22 02:02] jgostick commented on #1417
This problem seems to have fixed itself!

[2020-09-22 02:02] #1417 closed

[2020-09-22 02:37] jgostick commented on #1622
I'm going to need you to elaborate.  When I try to write 'pore.diameter' to a network when it's already defined on a geometry, I get an error.  I'm not sure what you mean by partial.

[2020-09-22 12:24] ma-sadeghi commented on #1622
I meant assignment of properties on "network" as opposed to geometry, for instance:
[code]
has no effect if `pore.diameter` is avaiable on geometry.

[2020-09-22 12:29] ma-sadeghi commented on #1654
@DMaxJ Thanks for reporting this. Boundary pores in OpenPNM are finicky and not robust at the moment. We're trying to address this issue soon.

You mean when adding boundary pores to a Cubic network and assigning `Boundary` class to those pores, you don't get the same error?

[2020-09-22 12:37] DMaxJ commented on #1654
Hi! I have a solution to the problem as well.
`You mean when adding boundary pores to a Cubic network and assigning Boundary class to those pores, you don't get the same error?
`
You are right, I do not get any error while adding boundary pores whether 1) I assign existing pores and throats to geometry or 2) I do not

**THE SOLUTION**

I tried changing
[code]
 to
[code]

and changed the respective

[2020-09-22 12:40] DMaxJ commented on #1654
Actually I had some simulations from some earlier version of openpnm. Now, things have changed and I lost track of what I did before. But this error was solved by pure chance only (after trying many things).

[2020-09-22 13:14] DMaxJ opened #1655 "Possible changes/addition to the label surface function"
While working with extracted networks, it becomes essential to find the surface pores and add labels to them. The present function inside topotools allow that functionality, but it has some limitations.
1) The function
[code]
takes the tolerance parameter as a fraction of the xspan, yspan or zspan. Thus, if the dimensions of the domain are not same in all directions it will label different fractio

[2020-09-22 13:25] DMaxJ commented on #1654
By source file I mean the `throat_endpoints.py` file

[2020-09-22 15:08] ma-sadeghi commented on #1654
@DMaxJ I'll look into it.

[2020-09-22 19:46] jgostick commented on #1655
Thanks for the thoughtful suggestion.  I really appreciate that you put some sample code down.

The issue is that there is NO universal/rigorous way to find surface pores.  The 'proximity to extremity' approach works on networks with a narrow pore size distribution, but on wide psds would find many small pores on surfaces, or if the threshold were too small would find no big pores.  The way the fu

[2020-09-22 21:12] DMaxJ commented on #1655
Thanks. I understood your point. This was just my kind of quick fix which worked at least for the types of materials that I deal with.

[2020-09-23 09:27] p-thomson commented on #1653
Thank you both. In the end I used **set_outflow_BC** on the outlet pores and this gives me the pore concentration at each time step.

[2020-09-23 13:17] ma-sadeghi commented on #1653
Just to state the obvious: `set_outflow_bc` sets the diffusive gradient at the given pores to zero, whereas `set_rate_bc(pores, values=0)` sets the entire rate to zero.

[2020-09-23 13:17] #1653 closed, assigned to nobody

[2020-09-23 14:43] #1554 closed, assigned to nobody

[2020-09-24 14:20] Eravalord opened #1656 "Assigning geometry to merged pores"
Hello everyone,

I am writing a code that splits and merges certain pores based on different conditions. I am not quite sure if this question was asked before: How can I add a previously existing geometry to a newly merged pore?

I have an existing geometry:
`geo=op.geometry.GenericGeometry(network=net, pores=net.Ps, throats=net.Ts)`

Indeed I create a pore with:
`op.topotools.merge_pores(network=

[2020-09-24 16:48] jgostick commented on #1656
Your question is a good one.  It is related to #1407 actually, which is pretty high on our 'to do/fix' list.  There is a work around, but it's hidden:

[code]

We used to have a ``add_locations`` and ``drop_locations`` methods on the geometry class, but removed it for reasons I can't recall.  The issue I mentioned above will basically result in us re-implementing those functions.

[2020-09-25 02:15] jgostick commented on #1418
I just came across another use case for allowing conduit as a keyword.  Consider a throat viscosity model for a powerlaw fluid.  It returns a viscosity for each element of the conduit, pore1-throat-pore2.  Now consider using viscosity in a standard conductance model.  The models needs to know whether a standard viscosity or a 'conduit' viscosity is provided.  'conduit.viscosity' would indicate tha

[2020-09-25 16:30] jgostick opened #1657 "Add outflow_BC to PNP"

[2020-09-25 16:36] jgostick commented on #1518
This can fix the present issues as well as issue #1340:
1.  Remove `value` argument
2.  Add a `rates` argument that only accepts arrays
3.  Add a `total_rate` argument that only accepts a scalar.

[2020-09-25 16:36] jgostick commented on #1518
While we're at it, fix the doc string to remove erroneous discussion of Neumann bc

[2020-09-25 16:37] #1340 closed

[2020-09-25 16:44] jgostick opened #1658 "Create wrapper Physics classes instead of pore-scale models"
The idea is to create a 'StickAndBall' physics classes to correspond to 'StickAndBall' geomertries.

[2020-09-25 19:01] Ni2M commented on #1575
OpenPNM:
YZ front,back  deltaX
XZ left, right  deltaY
XY top,bottom  deltaZ
It should be:
YZ left, right  deltaX
XZ front, back deltaY
XY top, bottom deltaZ
working on a PR.

[2020-09-25 19:20] mkaguer opened #1659 "Add set outflow BC to Nernst Planck algorithm"
@magnaou I noticed that set_outflow_BC is not available in nernst planck simulations only in advection diffusion simulations. But since nernst planck has flow we should also make this set_outflow_BC feature available for nernst planck simulations, right? Is there any reason why nernst planck currently does not have this feature? Right now set_outflow_BC method is found in the AdvectionDiffusion cl

[2020-09-25 19:23] magnaou commented on #1659
Good catch, this is being fixed on issue ##1657.

[2020-09-25 19:23] #1659 closed, assigned to mkaguer

[2020-09-25 19:33] magnaou commented on #1657
I just checked the code. Apparently, it needs more work than what I thought. We can't inherit directly from the "AdvectionDiffusion" class to get the "set_outflow_BC" because the migration term is missing there! So, I'm deriving and making a new "ish" BC to work with the "NersntPlanck" class. Stay tuned @mkaguer

[2020-09-25 19:36] mkaguer commented on #1657
Ok, great thanks @magnaou

[2020-09-25 19:52] mkaguer commented on #1657
Oh and @magnaou one other thing. The _apply_BC method will need to be updated for the nernst planck algorithm as well so that it looks for set_outflow_BC. The AdvectionDiffusion class does this. Maybe you already noticed this but I wanted to bring it to your attention in case not.

[2020-09-25 22:05] Zohaib-Atiq commented on #1510
@ma-sadeghi, @jgostick This is a bug in `numba` (https://github.com/numba/numba/issues/4926). Actually `heapq` method does not accept `numba` builtin `typed.list()`. This is already a pending issue in `numba` that @ma-sadeghi posted last year. For now just ignore the warning as we are doing. May be they will implement this in future. If not then we have to find alternate of `heapq` method or write

[2020-09-25 22:41] Zohaib-Atiq commented on #1527
@ma-sadeghi @jgostick I just realised that we have specified `throat.equivalent_diameter` instead of `throat.inscribed_diameter`. So if I change `pore.extended_diameter` to `pore.inscribed_diameter` then network could have throats bigger than pores. In PoreSpy `throat.equivalent_diameter` is the most efficient one. So I suggest to change `pore.extended_diameter` to `pore.equivalent_diameter`. Othe

[2020-09-25 23:48] DMaxJ opened #1661 "OpenPNM version number and journal output"
I have a request for few things to be incorporated within OpenPNM. I am not completely sure as to how it can be done, but it would be helpful if the following can be done.

1) While importing OpenPNM, it should show which version it is.
2) Is it possible for the OpenPNM output files to have the OpenPNM version number mentioned somewhere for later reference?
3) Is it possible to have some kind of a

[2020-09-26 02:19] jgostick commented on #1661
Hi @DMaxJ
1.  You can type ``op.__version__`` at the command line to get the version.  This is standard practice in python, even though the __version__ thing is a bit hidden...once you know it's there, pretty much all packages have it.
2.  We are working on a new file format, which is more robust to saving/loading in different versions, unlike the pickle approach we currently use.  This file will

[2020-09-26 02:36] ma-sadeghi commented on #1527
@Zohaib-Atiq Can you do a quick study on different combinations?

[2020-09-26 18:28] DMaxJ commented on #1661
Hello @jgostick
Thank you for your reply.
Sorry for using the word 'journal', it is actually the .out file typically created when one runs a simulation in Ansys fluent (or some job in a computer cluster). It is like writing the console output to a file. I am not completely sure as to how exactly it should be. Below is a part of such an output.
[code]

It could be something like this. How exactly i

[2020-09-28 09:36] Eravalord commented on #1656
@jgostick thank you very much for your answer!

An additional question to this topic would be the visualization. As I create new pores for example by splitting (the program selects a point, creates a random amount of new pores between 2-5, and allocates them around the original cube randomly by taking 0,5*spacing to each direction), then I search for neighboring pores with op.topotools.find_neary_

[2020-09-28 13:21] jgostick commented on #1656
Can you run a network health check on your network, using:

[code]

I'm guess that your network is not fully connected. That warning is probably not important, it's just telling you that it received [b, a] as a throat conn, but is switching it to [a, b] to keep the adjacency matrix upper triangular.

[2020-09-28 18:03] ma-sadeghi opened #1662 "Why do we need both Generic and ReactiveTransport?"
Currently, `ReactiveTransport` is `GenericTransport` with the ability to add source terms. However, I feel like a "generic" transport class is not generic if it doesn't natively support source terms, hence maybe they should be one? Any thoughts?

[2020-09-28 18:07] ma-sadeghi opened #1663 "Deprecate Python 3.6"

[2020-09-28 20:39] jgostick commented on #1658
I don't think this is needed anymore...the 'conduit_diffusive/hydraulic_coefficient' models in the geometry models now dictates all the shape info, so a generic physics model is sufficient.

[2020-09-28 20:39] #1658 closed, assigned to jgostick

[2020-09-28 22:07] jgostick commented on #1308
After a bit of thought, I've realized that these models MUST ALWAYS return the individual elements.  Knowing the conductance for a full conduit as a single value is useless if the fluids have different properties in each pore, like due to temperature differences for instance.  You NEED the individual components of the conduit so they can multiplied by corresponding values of the fluid properties i

[2020-09-28 22:09] jgostick commented on #1308
Actually, let me roll back that statement slightly...conductance models CAN be single values since the phase properties are already included, but all other 'conduit' properties must be returns as Nt-by-3 arrays.

[2020-09-29 13:19] #1501 closed, assigned to ma-sadeghi

[2020-09-29 15:35] #1649 closed, assigned to nobody

[2020-09-29 15:42] jgostick commented on #1662
There is not really a reason except division of code.  I read an article on the birth of oop (simula 67), and the author points out that one of the benefits of oop is that it's actually much easier for a programmer to learn the code, since they can tackle it in chunks.  So first they learn GenericTransport to see how the A matrix is built and how BCs are applied, then they can study ReactiveTransp

[2020-09-29 15:42] #1662 closed, assigned to nobody

[2020-09-30 02:04] magnaou commented on #1657
Fixed on PR #1667

[2020-10-01 15:30] #1389 closed

[2020-10-02 19:58] #1518 closed, assigned to mkaguer

[2020-10-02 21:09] taylrcawte opened #1668 "How to handle extra boundary pores added by SNOW extraction method from porespy?"
**Background**
I have been generating and extracting networks with porespy and performing analyses in openpnm. Until recently I did not realize that if the "boundary_faces"  parameter is left blank in the SNOW algorithm, the algorithm would automatically add boundary pores to *_all_* faces. It appears to me that these boundary pores are labelled as "top", "bottom", "front" etc. After extracting th

[2020-10-02 23:20] ma-sadeghi commented on #1668
@taylrcawte I edited your question and created a Github gist instead for readability.

[2020-10-02 23:24] ma-sadeghi commented on #1668
@taylrcawte We've been meaning to properly deal with boundary pores in OpenPNM but we haven't found the time yet.

Boundary pores in the SNOW algorithm are not part of the original image, and need to be treated differently. I think SNOW already puts in reasonable values so you can directly import them in OpenPNM without any further modifications. @Zohaib-Atiq is that right?

[2020-10-02 23:49] Zohaib-Atiq commented on #1668
@taylrcawte
Instead `net = psp.networks.snow(im=im, voxel_size=1e-6)`
Use `net = psp.networks.snow(im=im, voxel_size=1e-6, boundary_faces=None)` This will not extract boundary pores for you.

SNOW gives you real pores with certain value of volume. This is needed in transient simulation. If you don't want that volume some how in your simulation you can put a zero value for these pores manually.

[2020-10-03 01:11] taylrcawte commented on #1668
@Zohaib-Atiq Do you know if the labels will still be applied to surface pores? im currently using the labelled pores as a way to add my boundary pores easily afterwards... Also how do you ensure that the boundary pores don't impact transport calculations if they have a non zero volume?

[2020-10-03 02:21] #1619 closed, assigned to nobody

[2020-10-03 02:21] #1637 closed, assigned to nobody

[2020-10-03 02:21] #1638 closed, assigned to nobody

[2020-10-03 15:48] ma-sadeghi commented on #1668
I'll give my two cents: regarding your first question, I don't think so, but you can do it yourself using a workaround: basically, use SNOW with labels, and then use `OpenPNM` to relabel the pores by looking up the neighbor pores to each label.
[code]
Regarding your second question, zero volume makes sense, but it screws up conductance calculations as a pore with zero diameter imposes infinite res

[2020-10-04 20:20] ma-sadeghi opened #1669 "The ability to freeze models not to regenerate"
**Is your feature request related to a problem? Please describe.**
Sometimes, it's convenient to be able to manually change some entries of a property, instead of properly adding a separate model to handle them.

[2020-10-05 14:06] ma-sadeghi opened #1670 "Specialize Exceptions"
While it's considered best practice to use Python's default Exceptions if possible, I think adding a few of our own might be worth it. I propose adding the following Exceptions:

- `SolverError` -> `NotConvergedError`
- `MissingDependencyError`
- `NetworkTopologyError`

[2020-10-05 14:12] jgostick commented on #1670
Great point...I'd been pondering this recently too.

[2020-10-05 14:17] jgostick opened #1671 "Allows Physics instantiation without Phase, and ability to associate with Phase afterward"
This is pretty subtle, but would help make the code more flexible and forgiving.  We've been doing several of these sort of relaxing of conditions lately, so this is part of a larger change.  This is stemming from the new PNM IO class, which needs instantiation and object associations to be as flexible as possible (ie. the ability to create things in opposite orders).

[2020-10-05 14:25] jgostick opened #1672 "NernstPlanck algorthms need to be instantiable without any phases supplied"
In general we are trying to make most classes instantiable with minimal args.  The PNP classes seem to require a phase object at the moment, so this should be changed so that phase can be added to settings after instantiation, and other info is looked up as needed.

[2020-10-05 14:58] jgostick commented on #1671
After digging into the code, I see that we already 'try' to allow this, but it doesn't work.  The project look-up breaks when no phase is given.  I will tag this as a bug.

[2020-10-05 20:05] jgostick opened #1675 "Use yapf autoformatter in project?"
It might be a good idea to have an autocode formatter run on the code whenever something is pushed, to keep it all consistent?  \

There is a [good review of the options here](https://www.kevinpeters.net/auto-formatters-for-python), and I think I like [yapf the best](https://github.com/google/yapf)

[2020-10-06 02:59] jgostick commented on #1670
https://docs.python.org/3/library/exceptions.html#exception-hierarchy

[2020-10-06 18:18] ma-sadeghi opened #1676 "Interleave data breaks when dealing with a combination of (Nt,1) and (Nt,2) conductance models"
**Describe the bug**
Suppose you have two geometries, one involves a conductance model that returns (Nt,1), and the other (Nt,2). Calling `throat.conductance` on the phase object fails.

**To Reproduce**
Steps to reproduce the behavior, ideally a code snippet that only reproduces the bug:
[code]
[code]

[2020-10-07 00:33] ma-sadeghi opened #1677 "GenericTransport._is_converged shoudn't raise Exception"
`_is_converged` is only supposed to return `True/False`.

[2020-10-07 00:39] ma-sadeghi opened #1678 "Enhance GenericTransport._validate_data_health to account for locations w/o explicit models"
Basically, in multidomain problems, if you forget to assign a model to one of the subdomains, your conductance array will contain nans in some locations, and if you run an algorithm, the health check is clueless, but this particular case can be identified.

[2020-10-07 00:46] ma-sadeghi commented on #1622
**Update**: if we have `throat.foo` on `phys1` but not on `phys2`, running `phys2["throat.foo"][subset] = 1.0` silently fails to do anything (i.e. `phys2["throat.foo"]` still evaluates to `nans`)

[2020-10-07 01:38] ma-sadeghi opened #1679 "Add name argument to io.PoreSpy.import_data"

[2020-10-07 01:42] ma-sadeghi commented on #1679
Not a good idea.

[2020-10-07 01:42] #1679 closed, assigned to nobody

[2020-10-07 14:14] ma-sadeghi commented on #1642
@jgostick, so in your snippet, `Ps` is the same as `Ps = net.map_pores(geo.Ps, origin=geo)`?

I think we also have `geo.pores(target=net)` for this purpose, is that right?

I admit that using `map_pores/throats` is confusing, but I think `obj.pores(target)` is maybe intuitive enough. What do you think?

[2020-10-07 14:20] ma-sadeghi commented on #1668
@taylrcawte Btw, did a bunch of numerical experiments the other day and it turned out that for relatively small networks (my made-up rule of thumb: less than 10 pores across each dimension), using SNOW boundary pores gives significantly different results compared to when using the approach I briefly explained above, maybe up to 50% difference between the two. However, for large enough networks (ag

[2020-10-07 14:20] #1668 closed, assigned to nobody

[2020-10-07 14:28] taylrcawte commented on #1668
Thanks @ma-sadeghi i'm currently running some validation on the networks i'm using and will jump into #1425 when i have some answers!

[2020-10-07 14:30] jgostick commented on #1642
Yes, so the following would be equivalent;

[code]

So the first line already works, and I'm just proposing to add the reverse option as shown in line 3, but to do it via a pore-scale model.

[2020-10-07 17:20] jgostick opened #1680 "Diffusion simulations with multiple species involved in reactions"
We need to come up with a way to do reactive transport with multiple species in the mixture, so we can have the following source term:  ``r = kC_{A}C_{B}`` where both species A and B are diffusing.

[2020-10-07 19:08] ma-sadeghi commented on #1680
Indeed. I think we also need to unify/integrate mixtures with phases in parallel. I don't exactly know how mixtures work and they relate to our phases.

[2020-10-07 19:17] ma-sadeghi opened #1681 "Ability to temporarily exclude some pores/throats from a simulation"
Sometimes, you want to exclude some pores/throats from your simulation. This could be excluding pores with a diameter smaller than a particular value to see the impact of nanopores on overall transport, etc.

Currently, we need to trim those pores from the network, create a brand new network, geometry, physics, and finally an algorithm.

However, this could potentially be done by manipulating the

[2020-10-07 19:18] ma-sadeghi opened #1682 "Ability to temporarily exclude some pores/throats from a simulation"
Sometimes, you want to exclude some pores/throats from your simulation. This could be excluding pores with a diameter smaller than a particular value to see the impact of nanopores on overall transport, etc.

Currently, we need to trim those pores from the network, create a brand new network, geometry, physics, and finally an algorithm.

However, this could potentially be done by manipulating the

[2020-10-08 01:26] ma-sadeghi commented on #1654
@DMaxJ which version of OpenPNM do you use? You can try:
[code]

[2020-10-08 09:09] DMaxJ commented on #1654
The version is
2.2.0

[2020-10-08 11:48] ma-sadeghi commented on #1654
@DMaxJ Oh! that explains it. We're now at 2.5.1. You should update it too. We've fixed a bunch of bugs. You can see the changelog [here](https://github.com/PMEAL/OpenPNM/releases).

Also, make sure you install OpenPNM using `conda`. Although we still support `pip`, since we've changed our default solver to `pypardiso` (now known as `pardiso4py`), which is not available on `pip`, you need to manual

[2020-10-08 11:48] #1654 closed, assigned to nobody

[2020-10-08 12:58] ma-sadeghi opened #1684 "Workspace.load_project returns None, but maybe should return project object"
Currently, the `load_project` method on our IO classes returns a project object, maybe `Workspace.load_project` should do the same? @jgostick was this intended?

[2020-10-08 13:51] jgostick commented on #1684
That's maybe a good idea.  At the moment it just loads the project into the workspace, but does not return the handle.  That's an easy fix if you think it makes more sense.

[2020-10-08 13:54] jgostick opened #1685 "PoreSpy.import_data is too agressive in removing/renaming things"
The Imported Geometry class is pretty gentle with mangling the data, but it seems I have been over-opinionated in the PoreSpy class, which also uses the Imported class.  For instance, 'throat.length' was deleted and not replaced with anything.

[2020-10-08 17:04] DMaxJ commented on #1654
Thanks for the suggestion. But what would be the best way to install from a local repository similar to pip install -e "path/". I have some custom codes which I would like to use inside of openpnm.

[2020-10-08 23:57] ma-sadeghi commented on #1654
@DMaxJ In that case, pull the latest changes from github via `git pull`, or just do a fresh `git clone https://github.com/PMEAL/OpenPNM`. Then do `pip install -e "path/"`, but make sure to install `pardiso4py` using `conda install -c conda-forge pardiso4py`.

[2020-10-09 00:08] jgostick commented on #1654
Is it possible to do `conda install -e .` ?  I've never tried.

[2020-10-09 04:21] mkaguer opened #1686 "Bug in charge_conservation in generic_source_term model file"
A charge conservation source term is applied to potential algorithm. For the electroneutrality case there is a problem with the source term always being zero. Check line number 81 in file [here](https://github.com/PMEAL/OpenPNM/blob/dev/openpnm/models/physics/generic_source_term.py)

The problem comes from how phase['pore.valence.'+e.settings['ion']] is multiplied. Element-wise multiplication will

[2020-10-09 12:59] ma-sadeghi opened #1687 "Object names must be unique within a project"
Currently, this is not enforced.

[2020-10-09 13:00] ma-sadeghi opened #1688 "Renaming objects to their current name should be allowed"
Currently, an exception is thrown complaining that another object already exists with the same name.

[2020-10-09 14:28] jgostick commented on #1687
If this is not enforced, then I must've screwed something up, because it's definitely supposed to be.

[2020-10-09 14:48] ma-sadeghi commented on #1687
@jgostick Then better double check, since I think this is my first time touching `Base.py`, it's very likely that I might have missed something. I also made a PR #1689

[2020-10-09 14:52] ma-sadeghi commented on #1654
They don't have `-e`, but they do support `conda develop path/`, though I haven't tested.

[2020-10-09 15:00] jgostick opened #1690 "Telecon Agenda: Oct 9, 2020"
* Overview of PRs
  - #1513 is nearly ready, just ironing out some bugs due to merging 100+ commits from dev
  - #1674 needs some discussion (related to #1671)
  - #1604 updates from everyone
* Overview of issues
  - These damn things keep popping up! We're almost over 100.
  - #1678 seems important
  - #1596 seems easy to fix
  - #1634 is also an easy one
* We are not getting ANY contributions fr

[2020-10-09 15:23] mkaguer commented on #1686
Here is my script where I was getting the error. print(phys['pore.charge_conservation.S2']) and you will notice that you always get zeros but if you do a hand calculation for the charge conservation source term you see it should not be zero!

`# -*- coding: utf-8 -*-
"""

Small three pore network for testing hand calaculations

Date: October 7, 2020
Created by: Mike McKague

"""

import openpnm as

[2020-10-09 16:44] jgostick commented on #1622
This is the 'expected' behavior, or more to the point, this is unavoidable.  The array returned by the call above is an 'interleaved' array and it does not exist on any object, so when you write to it, that doesn't get stored anywhere.  The only way to have this work is to subclass the numpy array and overload their __setitem__ method, but this is more trouble that we want to deal with.

[2020-10-09 20:55] Ni2M commented on #1575
It is fixed in the PR #1660

[2020-10-09 20:55] #1575 closed, assigned to Ni2M

[2020-10-09 22:36] saeidabd opened #1692 "Relative permeability in imbibition"
Dear Jeff, Amin Sadeghi and the other openpnm team,
How can I obtain relative permeability in imbibition process when applying trapping and setting residual function are included in percolation? I know relative permeability in drainage mode exist in metrics part, could we use for this purpose? how?

[2020-10-10 02:40] jgostick commented on #1634
It's actually there, we just renamed it `'pore.template_index'`.  But there is a different bug, which I'll raise in a different issue.

[2020-10-10 02:40] #1634 closed, assigned to nobody

[2020-10-10 02:46] jgostick opened #1693 "Remove from_array and to_array from Cubic class"
These methods are actually broken at present since the `'pore.index'` array is not longer found on the object.  I think it's safe to remove them.

It's also quite easy to do the `from_array` bit, just do `pn['pore.blah'] = array.flatten()`.

The reverse is a bit more involved:  `arr = pn['pore.blah'].reshape(pn._shape)`.

The above gets tricky when the boundary pores or other topology mangling has

[2020-10-10 03:19] jgostick opened #1694 "Voronoi classes should just accept points, not num_points"
If points is an array, then behave as before, if points is a scalar, then generate points as is now down for num_points.

[2020-10-10 10:52] #1687 closed, assigned to ma-sadeghi

[2020-10-10 10:52] #1688 closed, assigned to ma-sadeghi

[2020-10-11 02:34] jgostick commented on #1682
I'm not sure about this. It's now pretty easy to do this (I think, or if not, it should be as described below).

1.  You setup a network, with geometry, phases, physics.
2.  You clone or copy the project
3.  You trim the offending pores from the clones/copied network, and all it's depending objects will also be trimmed.
4.  You can then do the simulations on the cloned/copied project and copy the

[2020-10-11 02:56] jgostick commented on #1672
This is no longer needed.

[2020-10-11 02:56] #1672 closed, assigned to nobody

[2020-10-11 02:57] jgostick commented on #1671
We already support this, BUT it breaks if the physics has any models on it.  The init should be changed add 'freeze_models' to the settings if phase is None.

[2020-10-11 03:49] jgostick commented on #1669
You can set regen_mode to 'constant' and the model will stop regenerating.  If you want to have some locations set by hand, while having other regenerate, then you should create two physics's, one with the model and one for the constant values. If you're thinking about a phase, then I'm not sure we have a way to do this, though there is nothing stopping you from putting phase properties on a physi

[2020-10-11 03:53] jgostick commented on #1661
We have rolled out a new file format, called PNM (``op.io.PNM``) that is much more robust than the previous OpenpnmIO approach, which was based on pickles and therefore broke if you updated your openpnm version.  The new format can handle this.  As part of the new format, we do store the version that was used to save the file, and prints out a few key lines when the file is reloaded.

[2020-10-11 03:53] #1661 closed, assigned to nobody

[2020-10-11 03:55] jgostick commented on #1655
I'm going to close this.  Finding pores based on thresholding the coordinates is a fine approach in many cases, but is not really general enough.

[2020-10-11 03:55] #1655 closed, assigned to nobody

[2020-10-11 14:13] ma-sadeghi commented on #1661
@DMaxJ Just to make sure, by journal output do you want OpenPNM to output iteration/residual info while solving and stuff like that?

[2020-10-11 14:16] ma-sadeghi commented on #1669
I was thinking to maybe avoid the two-physics solution, for convenience. For example, maybe you want to temporarily "deactivate" some pores by setting the corresponding conductance values to a small number, without properly creating two geometries/physics.

[2020-10-12 11:37] Eravalord commented on #1656
@jgostick Since your last comment, I managed to proceed with my work, and extended it to multiple networks. I am facing a little problem when several networks are present: I have a network dictionary containing all the networks, to each one of them I assign a single geometry (all together x number of geometries are present), and I would like to do this pore assignment in the similar way as you hav

[2020-10-13 00:33] jgostick commented on #1656
Can you post a minimum code snippet so I can see what's going on?

[2020-10-13 08:36] Eravalord commented on #1656
Sure!
So basically I have a dictionary filled with networks (net dictionary), I loop through each of them like this:
`for num in range(len(net)): `
Each network has one corresponding geometry, so I have a geo dictionary with the same length. What I am trying to do is creating new pores in each network based on some conditions, and adding them to the geometry with the matching index (net[0] is matc

[2020-10-13 13:31] jgostick opened #1696 "Why is there a conduit_lengths model in the misc.py file?"
According to codecov, this does not get called, so can be deleted probably?

[2020-10-13 14:08] ma-sadeghi commented on #1696
Could it be for for `Voronoi` maybe?

[2020-10-13 14:41] jgostick opened #1697 "Add unfreeze model to GenericTransport sanity check"
the sanity check should unfreeze models on all objects, AND also call the 'throat.conductance' model on the phase so that all necessary / dependencies are run.

[2020-10-14 13:52] taylrcawte commented on #1425
From #1668

To deal with the extra boundary pores added by the SNOW algorithm we did the following:

1. extracted network using SNOW and setting boundary labels to "top"
2. stored extracted network in openpnm generic network
3. trimmed added boundary pores (from snow)
4. created imported geometry object for network
5. used the pore coordinates to determine which pores were "touching" the surface o

[2020-10-14 14:38] taylrcawte opened #1698 "Unexpected results in multiphase air diffusvity/permeability calculations when using "strict" conduit conductance."
**Background**
I am running ordinary percolation on an extracted network and calculating the relative diffusivity and permeability. The script can be found at the below gist:

https://gist.github.com/taylrcawte/1c61d80e640a649d19f5422a7b92da9c

**Question**
When using mode='strict' for the air physics multiphase conduit conductance (both hydraulic and diffusive) the relative transport drops essent

[2020-10-14 14:44] Eravalord commented on #1656
In the meantime I solved this issue, thank you for the help!

[2020-10-14 14:54] jgostick commented on #1656
great!  I guess you were just doing something too fancy with the geometry dict.

[2020-10-14 14:54] #1656 closed, assigned to nobody

[2020-10-14 19:18] jgostick commented on #1698
Thanks for the detailed issue...though it's a lot to digest.  I 'think' your problem is that 'strict' mode means that a conduit (1/2 pore + throat + 1/2 pore) is considered blocked to air transport when any of the elements are invaded by water, while 'moderate' means that two elements must be invaded (a pore and a throat, or two pores...I think).  'loose' means that all three must be water filled

[2020-10-14 19:37] taylrcawte commented on #1698
Yes! This clears up a lot. We were just concerned that the difference between strict and moderate would greatly impact the calculated relative transport. Thanks for the quick response, I'll close the issue now!

[2020-10-14 19:37] #1698 closed, assigned to nobody

[2020-10-14 19:57] jgostick commented on #1698
I will also add that strict plays havoc when transport and percolation occur from the same face, since the percolation fills all the boundary pores by default, the all transport ceases immediately.

[2020-10-14 20:18] taylrcawte commented on #1698
This is the exact problem i think we were having, looking at transport in z direction while percolating from top to bottom face!

[2020-10-14 21:00] jgostick commented on #1698
Another option is the use the boundary pores for the percolation simulation, but then use the first layer of internal pores for the transport simulation.

[2020-10-15 02:17] jgostick commented on #1671
closed by #1674

[2020-10-15 02:17] #1671 closed, assigned to nobody

[2020-10-15 04:12] #1467 closed, assigned to jgostick

[2020-10-15 04:12] #1499 closed, assigned to jgostick

[2020-10-15 04:12] #1515 closed, assigned to nobody

[2020-10-15 18:45] p-thomson opened #1699 "Should I be using set_outflow_BC for TransientFickianDiffusion simulation?"
I would like to run the Transient Fickian Diffusion simulation through my PNM imposing 100% concentration at the inlet pores and zero gradient at the outlet pores. I think I should be using the set_outflow_BC condition to achieve this?

Thanks for your help,

Paul

[2020-10-15 19:48] jgostick commented on #1699
When you say 0 gradient, you presumably mean no flux?  This happens automatically in openpnm if you don't assign any BCs, so you just want to set the ICs everywhere, and the value BCs on the inlet pores, and you'll be good to do.

FYI, we have a ``set_rate_BC``, which is analogous to flux BCs, but the 'rate' out of pores on the surface of a domain is automatically 0 from the mass balances, so ther

[2020-10-16 13:39] p-thomson commented on #1699
Ah yes, thank you. As you have described - assigning value BCs on the inlet pores and leaving the outlet pores without BCs works for me. In fact I realised after that the simulation results I obtained were as expected - there was an error in my own work when extracting the data from the results. Anyway, thank you for the information, it is good to know.
Cheers, Paul

[2020-10-16 13:40] #1699 closed, assigned to nobody

[2020-10-16 15:25] Eravalord opened #1700 "Stitching parts of different networks together"
Hello everyone!

I am thinking about stitching together networks in such a manner that for example I take 2 times 10x10x10 networks with x width, and I would like to create a new network in which every pore and throat below x/2 (width) inherits 1st network's properties, and above x/2 inherits 2nd network's properties (so connections, geometries remain). Throats which overlap with both sides should

[2020-10-16 15:55] jgostick commented on #1700
Perhaps a 2D drawing would be helpful to get a clearer picture, but it sounds like [this example](https://github.com/PMEAL/OpenPNM/blob/dev/examples/notebooks/networks/manipulation/stitching_and_merging_networks_together.ipynb) should help you.

[2020-10-16 16:34] Eravalord commented on #1700
I made a magnificent sketch as an aid, I hope it clarifies my problem:
![image](https://user-images.githubusercontent.com/71832974/96284132-77618180-0fdd-11eb-81c5-62d6a4bed9da.png)
So basically every pore and throat would be kept from the left side of Nw1 and from the right side of Nw2 in the combined Nw, however throats crossing boundary should be trimmed, and instead of those, new connections s

[2020-10-16 16:38] Eravalord commented on #1700
I think the main difference between my hypothetical scenario is that I would like to "cut" the network at a certain coordinate, and eventually create an indentical big network as the previous two, whereas in this example the new network is going to expand in space, or am I wrong?

[2020-10-16 17:08] jgostick commented on #1700
The color-coding is great!

So, the 'stitching' example I pointed you to is still relevant, but you'll have to go though a few hoops.  Let me try to enumerate the steps:

1.  identify the pores in each network that you plan to remove, and label them (e.g. 'pore.to_be_removed')
2.  Identify all pores in each network that are connected to a 'to_be_removed' pore, using the find_neighbor_pores method

[2020-10-17 16:48] ma-sadeghi opened #1703 "topotools.dimensionality sometimes treats 1D networks as 2D"
Although extremely rare, it's still a bug. It's even hard to reproduce, but I had this problem when I was doing manual coordinate manipulations for the CL project.

[code]

[2020-10-17 17:18] #1703 closed, assigned to nobody

[2020-10-17 17:28] DMaxJ opened #1704 "How to export the invasion sequence to a vtk file"
I need to visualize the invasion sequence of a percolation algorithm. Somehow, I am not able to get it in the VTK output using the `proj.export_data()` function. Maybe I have missed some detail there. Could you please help?

[2020-10-17 17:37] DMaxJ commented on #1704
I must have been stupid. Please ignore

[2020-10-17 18:06] jgostick commented on #1704
So, all good?  We should probably have more tutorials/examples on using paraview, but we're kinda having enough trouble making tutorials for openpnm, don't want to make too much work for ourselves.  Basically, you need to use the threshold on the 'pore.invasion_sequence'.

[2020-10-17 18:06] #1704 closed, assigned to nobody

[2020-10-17 18:25] DMaxJ commented on #1704
I did it before. Actually I found that the sequence data was exported by the function. I was looking at the wrong file and wondering why the data was not exported. Sorry for the trouble.

[2020-10-17 19:00] DMaxJ commented on #1698
Here is a comment after looking at the github gist @taylrcawte :
`line 68 boun['throat.diameter'] = max(pn['throat.diameter'])`
would lead to very different calculation of relative permeability if one uses 'strict' mode for conduit conductance. Using a throat diameter model to estimated the diameter from the nearest pore would produce more realistic results when one uses boundary pores for percola

[2020-10-18 01:35] #1690 closed, assigned to nobody

[2020-10-18 01:36] ma-sadeghi commented on #1686
@magnaou Can you please take a look?

[2020-10-18 14:04] ma-sadeghi opened #1706 "Calculating transport properties from micro-CT images"
I tried diffusivity example. But after advective coefficient calculation, I could not figure it out how to represent this data in 3D.

I have attached 2 volume with segmented non-pore space.

[2020-10-18 14:18] ma-sadeghi commented on #1706
We've reworked our examples recently. Can you please specify which example you are referring to?
https://github.com/PMEAL/OpenPNM/tree/dev/examples

Regarding your other question, do you mean how to visualize data outside OpenPNM? or how to do the same calculations in 3D? Can you please clarify?

[2020-10-18 14:40] taylrcawte opened #1707 "Can't load a saved project using workspace with imported geometry and boundary geometry"
**Bug Description**
Cannot load a saved pnm file that uses imported geometry class and generic geometry (for boundary pores) class, throws KeyError: 'pore.all'. The same error is not thrown if using a cubic geometry (instead of imported) with boundary geometry, or just imported geometry (see **additional context**).

**To Reproduce Error**
[code]

**Expected behavior**
Expected to be able to load

[2020-10-18 15:11] ma-sadeghi commented on #1707
@taylrcawte Can you also post the exact OpenPNM version you're using?

[2020-10-18 15:16] taylrcawte commented on #1707
@ma-sadeghi OpenPNM v. 2.4.2

[2020-10-18 15:34] ma-sadeghi commented on #1707
@taylrcawte Can you upgrade to 2.5.1 (the most recent version on conda/pip) and try again?

Btw, it'd be best to use conda to install OpenPNM, since we recently added a dependency (PARDISO solver) that's not available on pip. Although you could still install OpenPNM using pip but you need to manually install the dependency via `conda install -c conda-forge pardiso4py`.

[2020-10-18 16:14] jgostick commented on #1707
In our latest dev version (not yet released to main) we have an entirely new file format for openpnm, called PNM.  This format does not use the pickle module.  The pickle module is problematic since it requires that you open your saved files with exactly the same version of openpnm as you saved them with.  The new format does not have this limitation.  We will be releasing new version with this ne

[2020-10-18 16:29] ma-sadeghi opened #1708 "Assume all pores and throats if no pores/throats arg is passed to geometry"
I know we removed this feature because of the issue we had with our new file format. But, since that's resolved, I think we can put it back, right? @jgostick

[2020-10-18 16:35] ma-sadeghi opened #1709 "Catch missing phase when running an algorithm"
Running the following code snippet
[code]
gives:
[code]

which might be a bit confusing. I think upon calling `alg.run`, we should check for bare minimum requirements of an OpenPNM simulation such as "the algorithm **must** be associated with a phase", etc.

[2020-10-18 17:55] ma-sadeghi opened #1710 "Change default solver to scipy's spsolve if pypardiso is not found"
Currently, the default solver is `pypardiso`, which relies on MKL, and installing MKL using `pip` seems to be not so straightforward.

[2020-10-18 18:14] jgostick commented on #1708
Hmmm, worth looking into...I 'think' it is still a requirement though.  I prefer the explicit approach to be honest.

[2020-10-18 19:02] taylrcawte commented on #1707
@ma-sadeghi installing openpnm from the command line with conda did not work so i used pip and installed the dependency with the provided command. It did not solve the issue detailed above; openpnm.__version__ = '2.5.1'.

@jgostick that is good to know; will the file formats be backwards compatible? i.e. will networks saved on versions < 2.5.1 be able to be opened using the methods presented in th

[2020-10-18 19:11] taylrcawte commented on #1707
I realize this isn't the biggest issue, but wanted to bring it to your attention none the less. I've found 2 solutions that work for me:

1. remove all pores associated with boundary geometry prior to exporting the network, these can be added back in the event that i need to review the network/re-run simulations.

2. pickle the generated porespy image (3D "im" object) so that it can be re-extracte

[2020-10-18 20:32] ma-sadeghi commented on #1707
Could you please provide the error message? (I mean the `conda` error)

[2020-10-18 21:35] taylrcawte commented on #1707
It couldn't find the package, although trying it again i just had to specify the channel; i.e.
```conda install openpnm``` did not work but ```conda install -c conda-forge openpnm``` did

![image](https://user-images.githubusercontent.com/65000690/96386317-04384680-1168-11eb-84e1-2224a9c4ca58.png)

[2020-10-18 22:59] ma-sadeghi commented on #1707
That's right, `openpnm` is only on `conda-forge`. The default channels are maintained by Anaconda, so there's no control over which package gets through. I think every package on the default channels could also be found on `conda-forge`.

[2020-10-19 16:44] magnaou commented on #1657
Yes @mkaguer thanks for reporting that. I need to debug it again. I had it working before merging dev into it again.

[2020-10-19 18:29] Eravalord commented on #1700
I am almost finished with the problem exactly in the way you proposed, however the stitching does not work for this very particular reason:
![image](https://user-images.githubusercontent.com/71832974/96496281-54d3a080-1249-11eb-88a2-116732aa1e2c.png)
Does it have anything to do with the fact that phases are added as well?

[2020-10-19 18:33] jgostick commented on #1700
We have relaxed that limitation in the latest versions, but I'm not sure we've merged it into the release branch yet.  The problem is that we don't know what values to put into the new locations.  Say you've set pore.temperature to 333K in all pores on network 1, but you just added a bunch of new pores...we don't know their temperature.  In our new version we just put nans everywhere, including co

[2020-10-19 19:21] Eravalord commented on #1700
If an algorithm will be run, and it does not rely on previously calculated data, basically it is not necessary to know those values, right? Unfortunately, I do not know how to do that, would it make possible to reach the latest unreleased updates?

[2020-10-19 20:32] jgostick commented on #1700
I anticipated your question and I just made a [tutorial for this](https://github.com/PMEAL/OpenPNM/blob/using_dev_branch_example/examples/notebooks/tutorials/using_and_contributing_to_the_dev_version.md).  It's a bit rough around the edges and could use some edits. Perhaps you could give me some feed back on how it may be improved, or better yet, make edits yourself, and make a pull request to hav

[2020-10-19 22:05] Eravalord commented on #1700
I have tried this out, but unfortunately still drops the same error:

![image](https://user-images.githubusercontent.com/71832974/96514785-755d2400-1264-11eb-9d2f-953854a07a63.png)

Thank you, this small tutorial was really useful! For me it was a bit hard to get out information from it at first, a bit more indention and less text would highlight and make the point more transparent!

[2020-10-19 22:56] jgostick commented on #1700
I am so sorry...I fixed this in the merge and extend functions, where the problem actually happened, but forgot to remove it from the stitch function.  I will push a fix asap, on a branch called 'fix_stitch_phase_limit', so you can pull that branch and try it out.

[2020-10-20 04:29] taylrcawte commented on #1707
makes sense, okay since you guys are dealing with this issue in an upcoming release i will close the issue.

[2020-10-20 04:29] #1707 closed, assigned to nobody

[2020-10-20 12:02] Eravalord commented on #1700
Thank you very much, that would be really nice, especially if it worked as well after the fix! 😃

[2020-10-20 14:35] jgostick opened #1713 "Telecon agenda: Oct 23, 2020"
* #1705: Exposing the ``set_locations`` method in GenericGeometry, adding ``set_phase`` and ``set_geometry`` to GenericPhysics
  * Related to #1708, #1622, #1595, #1557, #1407,
* #1604: Revamping the conduit conductance models
* Moving the examples/notebooks/tutorials folder up one level, to examples/tutorials?
* #1650: When importing of networks from various file formats, should we *always* apply

[2020-10-21 15:07] TomTranter commented on #1710
where are you getting pypardiso from? it doesn't seem well supported

[2020-10-21 15:41] ma-sadeghi opened #1714 "size_by argument in plot_coordinates doesn't do anything"

[2020-10-21 15:45] jgostick commented on #1714
I think you have to also specify 'markersize=50' or something large like that just to see the effect.  We should probably set the marker size to something very large by default, but I don't know if this is universal across platforms.

[2020-10-21 17:34] ma-sadeghi commented on #1714
## `net["pore diameter"] = 1`
[code]
![image](https://user-images.githubusercontent.com/14086031/96756368-01c13100-13a2-11eb-949d-e8b182ec0ebf.png)
## `net["pore diameter"] = 1000`
[code]
![image](https://user-images.githubusercontent.com/14086031/96756358-fc63e680-13a1-11eb-84ad-6ede14ae75d5.png)

[2020-10-21 17:49] ma-sadeghi commented on #1710
@TomTranter It's originally from this repo: https://github.com/haasad/PyPardisoProject. The package was not on `conda-forge`, and the author has been inactive on GitHub for almost 2 years, so I had to fork it and push the fork to `conda-forge` under a different name, `pardiso4py`.

[2020-10-23 14:15] p-thomson opened #1716 "MemoryError - PNM generation"
Hi all,

I think this is more of a hardware issue but I thought I would post it here as you may have come across it and may know of an alternative solution to upgrading my RAM. I am running the below script to generate a PNM from a 3D tif image. The image has 6 um voxel resolution and the domain is 1000x1000x3000 voxels. I am working on ubuntu and when I run the script I receive the following erro

[2020-10-23 14:54] jgostick commented on #1633
Since I haven't heard back from you, I'm going to assume this problem is solved and close this issue.  Feel free to re-open if needed.

[2020-10-23 14:54] #1633 closed, assigned to nobody

[2020-10-23 14:59] jgostick opened #1717 "Detecting performance regressions during testing"
We should add performance regression testing to our CI.  This package recently came to my attention:

https://github.com/P403n1x87/pytest-austin

[2020-10-23 16:14] jgostick opened #1718 "NernstPlanck related algs should only accept ion objects, not name strings"

[2020-10-23 16:48] jgostick opened #1719 "Unify Mixtures and Multiphases"

[2020-10-23 18:55] #1713 closed, assigned to nobody

[2020-10-24 03:50] jgostick commented on #1663
this needs to be done now, tests are failing

[2020-10-24 15:12] #1663 closed, assigned to nobody

[2020-10-25 09:31] saeidabd opened #1721 "Percolation algorithm"
Dear @jgostick jgostick
I am working with your ready-made framework, OpenPNM, trying to simulate some invasion processes. I need help to handle the percolation algorithm in:

1- Invasion of oil in a water saturated pore network with oil ( under water-wet condition, meaning drainage)

2- At the end of the drainage once the phase saturations are known, I'd like to change the contact angle to an oil-

[2020-10-25 13:41] jgostick commented on #1721
If you just change contact angle uniformly in every throat, theoretically nothing will change except the shift up or down.  This is dictated by the Washburn equation.  However, there are lots of extra things to consider.  If you change the contact angle according to some distribution, then things will change.  If your angles change a lot (50 to 150) then wettability will change, but this is much m

[2020-10-27 18:40] kooti1992 opened #1722 "start with open pnm"
hi , how are you
I'm so happy to Learn about this application
I'm working about a Project that related to pore network modeling , that is simulation  a membrane its can separate  between multiple gases such as N2 from air , the membrane is hollow fiber .
1) How I can start with open pnm & simulate a cylindrical  shape ?
I have low information about working with this apps, Matlab also has this abil

[2020-10-27 20:16] mkaguer opened #1723 "Why is negative missing when calculating migration in ad_dif_mig_conductance model?"
This is a question I had that I would like to open up for discussion. When you go to [line 153](https://github.com/PMEAL/OpenPNM/blob/ceeace0c753a492dc61f6a4749cd81d3d4a7089e/openpnm/models/physics/ad_dif_mig_conductance.py#L153) of ad_dif_mig_conductance model, migration is calculated but it is missing the negative sign out in front. The convention it uses to calculate mij is opposite to the conv

[2020-10-27 20:17] jgostick commented on #1722
Hi @kooti1992
* Install the 'anaconda' distribution to get python and the "scipy-stack" pre installed.
* Assuming you're on windows, open the windows menu/anaconda/anaconda prompt
* Install openpnm with ``conda install -c conda-forge openpnm``
* Open spyder (from  windows menu/anaconda/spyder)
* Download this example script we have [here](https://github.com/PMEAL/OpenPNM/blob/dev/example.py) and r

[2020-10-27 20:17] #1722 closed, assigned to nobody

[2020-10-28 12:35] Eravalord commented on #1700
In the meantime I have tried out the stitching, and it works with the dev, thank you very much once again! However, I encountered a problem connected to the geometry: How can I import geometry from donor geometry to main geometry including all pore and throat data?  These values are not automatically included in the main geometry after stitching.

[2020-10-28 13:07] jgostick commented on #1700
Hmmm, I would have thought that the geometric properties of the donor were kept and transferred to the recipient.   Can you do ``print(net1.project)``?  It should have 1 network and 2 geometries.

[2020-10-29 12:44] alexeytopolnitskiy opened #1724 "Problems with the latest version"
Hello!
I have some problems after updating to the latest version (2.5.1).
<img width="194" alt="Снимок экрана 2020-10-29 в 15 33 50" src="https://user-images.githubusercontent.com/41486841/97574664-9eb44780-19fc-11eb-9428-f0ce4e28fd69.png">

1. First problem with model loading.
<img width="428" alt="Снимок экрана 2020-10-29 в 15 34 41" src="https://user-images.githubusercontent.com/41486841/975747

[2020-10-29 13:18] jgostick commented on #1724
Regarding your first problem, I'm guess that you're jupyter notebook is using the pip or conda release, while the new import_data function is currently only on the dev branch.  Our docs on github point to the 'default' branch, which we have set to 'dev'.  I only now occurs to me that this could lead to problems.  We'll discuss this at the next dev meeting.  To get the dev branch on your local mach

[2020-10-29 13:19] jgostick opened #1725 "Add example on domain area and length calculation issues"
Our inability to properly know the domain length and area is confusing and the warning message has generated lots of questions.  I think we should write a detailed example on the subject and literally link to it in the warning message.

[2020-10-29 14:58] hazardary opened #1726 "Permeability calculation comparison for high porosity structures"
I am trying to perform permeability calculation using OpenPNM and compare the results to simulation results using CFD software (GeoDict in this case). The structure are generated using the cylinder function. Following is the piece of code I define geometry model and phase.
![image](https://user-images.githubusercontent.com/20841062/97590045-99db9d80-19d4-11eb-8dba-50a8a6fdd171.png)
Here is the res

[2020-10-29 15:06] ma-sadeghi commented on #1726
@hazardary Can you try the same problem but for effective diffusivity as well?

[2020-10-29 19:15] aaornsc opened #1727 "Stitching parts of same network"
Hi, I've been using OpenPNM for a few months by now. The new tutorials and examples are really helpful.

I have some CT image data, I extracted the network and imported it to OpenPNM. The network is connected at first but then i trimmed the network to a new domain and the network is not connected anymore.

This is the trimmed network:
![M1_Paraview](https://user-images.githubusercontent.com/565643

[2020-10-30 07:52] alexeytopolnitskiy commented on #1724
@jgostick  Thank you for you reply. I do enter sizes of domain and length before the perm.run(( but I still do not understand why the function does not return me anything (empty list). In previous version it returned me some adequate results but now nothing. What can I do with that?

[2020-10-30 17:35] Eravalord commented on #1700
True, you are right! Actually, there is just one geometry, but all the pores and throats were merged into that one. Nevertheless, visualization did not work (saving to VTK), although network health is shown as good.
![image](https://user-images.githubusercontent.com/71832974/97738222-5b320a00-1ade-11eb-9e7a-4834e12efafb.png)

[2020-10-30 19:53] jgostick commented on #1724
Ahh, I see now...k is an empty array.  That is odd!  Let me try to reproduce.

[2020-10-30 19:55] jgostick commented on #1724
Can you post some minimal code here to make this happen? My script works just fine, so perhaps you're doing something differently?

[2020-10-30 20:07] jgostick commented on #1727
So, your act of trimming the network is breaking the connectivity.  It's possible to restitch these together but this is not likely to be representative of your original material.

Assuming you know the above point, it "might" be possible to stitch these together but OpenPNM does not offer a built in function for this.  We have something similar, topotools.stitch, but this works on separate networ

[2020-10-30 21:13] alexeytopolnitskiy commented on #1724
[code]
**fibsem** is my 3D model consists of 0s for solid and 1s for pores. Its size is [250,300,250] and the voxel size is 20nm.
I need to calculate permeability in each direction. Hope you can give me some advices on doing it appropriately.

[2020-10-30 23:30] jgostick commented on #1724
can you also share the fibsem image?  I wonder if the problem is this?

[2020-10-31 04:01] jgostick opened #1728 "Concise description of the bug"
_(Note, you don't have to fill out every section here. They're just here for guidance. That said, nicely detailed feature requests are more likely to get dev attention sooner)_

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, ideally a code snippet that only reproduces the bug:
[code]

**Expected behavior**
A clear and con

[2020-10-31 04:32] jgostick commented on #1727
OK, I have written up something that does the job. I think it will be a useful addition to openpnm, so didn't mind investing a bit of time on it.  Below is a script that illlustrates the idea, and I'll probably add the function to topotools soon, but for now you can try this.  You have to identify the pores in each of the isolated clusters yourself though:

[code]

[2020-10-31 04:33] jgostick commented on #1727
![Figure_1](https://user-images.githubusercontent.com/5092049/97771171-a1a05c80-1b10-11eb-89aa-e9b1196872cd.png)

[2020-10-31 06:37] aaornsc commented on #1727
Wow, I really appreciate the help, I'll let you know as soon as I use the function on my network.
I still have to figure out how to identify the pores i want to connect, but since they are less than 250 i can just work with the visualization on Paraview and start from there.
Thanks for the comments above too.

[2020-10-31 07:22] alexeytopolnitskiy commented on #1724
<img width="388" alt="Снимок экрана 2020-10-31 в 10 17 49" src="https://user-images.githubusercontent.com/41486841/97773610-629af700-1b62-11eb-94b7-d03bd0ffb44e.png">

Actually, porosity calculation is ok, but smth strange with permeability
<img width="634" alt="Снимок экрана 2020-10-31 в 10 20 08" src="https://user-images.githubusercontent.com/41486841/97773665-c58c8e00-1b62-11eb-837c-419092b7210

[2020-10-31 14:28] jgostick opened #1729 "Add stitch_pores to topotools"
A user recently asked if it were possible to add connections between clusters of disconnected pores in a given network (#1727).  It was possible to do this using `extend` but required lots of leg work.  A little method that does this using tessellations would be helpful.

[2020-10-31 21:59] ma-sadeghi opened #1732 "network.spacing breaks for 1D networks with only two pores"
[code]

[2020-11-03 16:34] Eravalord opened #1733 "Extracted networks - Modification of geometrical properties"
Hello everyone,
I am facing a problem right now, as I have an extracted pore network, and I would like to do simple pore diameter modifications on it, however if I change pore diameters, the throat conduit length, throat diameter, etc. should change as well based on certain requirements. Probably, if these values are linked together by the assignment of corresponding geometry models, my anticipati

[2020-11-03 16:47] jgostick commented on #1733
You can add "models" that have different names.  So you can take the 'throat.length' from the extracted network, and rename it to 'throat.length_extracted', (i.e. ``pn['throat.diameter_extracted'] = pn.pop('throat.diameter')``), THEN you can add your model.  So if you create a new geometry that applies to all pores, you can do:

[code]

[2020-11-05 14:01] Eravalord commented on #1733
It works now, thank you very much! :)

[2020-11-05 14:01] #1733 closed, assigned to nobody

[2020-11-05 14:41] #1727 closed, assigned to nobody

[2020-11-05 14:50] jgostick commented on #1726
I assume that you are getting networks from the SNOW algorithm in PoreSpy?  If so, the permeability calculations are sensitive to how boundary pores are treated, and at the moment the SNOW function in porespy does not apply sensible boundary pore properties.  When you pass these properties into OpenPNM the hydraulic conductance is not great.  We are working to fix this in the very near future (nex

[2020-11-05 15:11] jgostick commented on #1724
I'm still unable to reproduce why this is returning an empty array.  But I can say that assigning domain area and length as attributes of the class do NOT do anything.  You have to pass these values into the calc_effective_permeability function.  We are planning to eventually remove this function from the class.  We decided to do this because of the challenges with calculating area and length prop

[2020-11-05 15:19] #1721 closed, assigned to nobody

[2020-11-05 15:20] hazardary commented on #1726
Thanks for replying. I am still trying for diffusivity but meshing is
somehow cumbersome for the CFD software we are using. I'll look into the
boundary pore/throat problem and update you.

On Thu, Nov 5, 2020 at 9:50 AM jgostick <notifications@github.com> wrote:

--
Zhenyu He

[2020-11-05 15:26] jgostick commented on #1700
OK, I have been able to reproduce this error when stitching two cubic networks together.  I will work on a fix this morning.

[2020-11-05 15:46] jgostick opened #1734 "Add powerlaw viscosity model to models.phase.viscosity"
This is coming from PR #1583, which we closed, but still need to capture this viscosity model.

[2020-11-05 16:03] jgostick opened #1735 "Add docstring info about 'explicit' mode in models"
The mode 'explicit' is currently supported to mean it only gets run IF the user explicitly asks for it in ``regenerate_models``.  This is not documented.  Also, the word explicit could be changed to 'on demand' or something better?

[2020-11-05 16:09] jgostick opened #1736 "Make all physics and phase models deferred by default?"
This would prevent all 'warning' messages when initializing classes when certain things are not present.  The algorithm will eventually 'request' these properties, which will invoke the calling of the model and all dependencies will be handled accordingly.

[2020-11-05 16:31] mkaguer opened #1737 "Add Initial guess argument to run method in TransientNernstPlanck similar to run in ReactiveTransport"
Here is a link to [line 145](https://github.com/PMEAL/OpenPNM/blob/ceeace0c753a492dc61f6a4749cd81d3d4a7089e/openpnm/algorithms/ReactiveTransport.py#L145) of ReactiveTransport where the run method contains argument for initial guess. I am wondering if we could add this feature to TransientNernstPlanck or any other algorithms.

[2020-11-05 16:49] mkaguer opened #1738 "Pass initial condition to phase where it is used to update physics models prior to alg.run()"
It would help if alg.set_IC() passes initial conditions to phase object as 'pore.quantity'. Then physics models can be rerun so that upon running algorithm all physics models start at correct initial condition.

This problem came up for me when running a nernst planck simulation where ionic_conductance depends on pore.concentration but setting initial condition did not change starting value for io

[2020-11-06 03:15] #1700 closed, assigned to nobody

[2020-11-06 03:21] jgostick commented on #1407
This was addressed in PR #1705

[2020-11-06 03:21] #1407 closed

[2020-11-06 03:23] jgostick commented on #1570
We have actually side-stepped this one by creating the new size-factor models in PR #1604

[2020-11-06 03:23] #1570 closed, assigned to jgostick

[2020-11-06 03:24] jgostick commented on #1418
In PR #1604 we have add size_factor models.  These return an Nt-by-3 array so effectively return conduit models, but did not include the name conduit in the file for conciseness.

[2020-11-06 03:24] #1418 closed

[2020-11-06 03:26] jgostick commented on #1308
In PR #1604 we have created a new set of size_factor models, that return an Nt-by-3 arrays of conduit condutanctaces.  Upon refection, it was decided/realized that we should NOT lump these into a single model since these need to be multiplied by the phase properties to get the final 'conductance', and the phase properties may vary by pore, so the size part needs to be separated as well.

[2020-11-06 03:26] #1308 closed

[2020-11-06 03:27] jgostick commented on #1420
After a LOT of thought and discussion we decided to forge ahead with this in PR #1604.  It looks to be a major improvement in the way openpnm delegates tasks between objects.

[2020-11-06 03:27] #1420 closed

[2020-11-06 03:28] jgostick commented on #1423
In PR #1604 we have reworked the whole conduit conductance thing, and this issue is gone.  We use the terms diffusive and hydraulic size_factors.  They analogy is obvious and the use of poisson is gone, which was not super clear.

[2020-11-06 03:28] #1423 closed

[2020-11-06 03:31] jgostick commented on #1422
The term area_factor is widely used in the literature to mean the devation of the throat cross-section from a throat.  We used this definition in openpnm but for things other than cross-sectional area, specifically to account for diverging-converging pore-throat-pore conduits.  We have now introduced size_factor models (#1604), which include this effect, as well as the sphere/cone and cuboid/cylin

[2020-11-06 03:31] #1422 closed

[2020-11-06 03:33] jgostick commented on #1424
We are in the process of removing the shape factor terms from our standard code in favor of size_factor (PR #1604).  We have also renamed the offending file to capillary_shape_factors, so it's obvious what your getting.

[2020-11-06 03:33] #1424 closed

[2020-11-06 03:36] #1729 closed, assigned to nobody

[2020-11-06 03:37] #1717 closed, assigned to nobody

[2020-11-06 03:38] jgostick commented on #1708
I have actively prevented this behavior in a recent PR (#1705).  It think it's overall much safer to make things explicit...python style: explicit is better than implicit.

[2020-11-06 03:38] #1708 closed, assigned to nobody

[2020-11-06 03:39] #1675 closed, assigned to nobody

[2020-11-06 03:40] #1578 closed, assigned to ma-sadeghi

[2020-11-06 03:40] #1557 closed, assigned to nobody

[2020-11-06 03:43] jgostick commented on #1325
This idea is not getting any traction during group discussions.  We are thinking about making all models 'deferred' or 'explicit' by default, so the presence of some unused models is not as annoying.  I think it's safe to close this one.

[2020-11-06 03:43] #1325 closed

[2020-11-06 03:43] #1233 closed

[2020-11-06 03:44] #1229 closed

[2020-11-06 03:44] #453 closed

[2020-11-06 03:44] #725 closed

[2020-11-06 03:58] #1682 closed, assigned to nobody

[2020-11-06 04:00] #1670 closed, assigned to nobody

[2020-11-06 04:00] #1669 closed, assigned to nobody

[2020-11-06 04:01] #1595 closed, assigned to nobody

[2020-11-06 04:02] #1579 closed, assigned to nobody

[2020-11-06 04:02] #1506 closed, assigned to nobody

[2020-11-06 04:04] #1497 closed, assigned to nobody

[2020-11-06 04:18] #1444 closed

[2020-11-06 13:34] ma-sadeghi opened #1741 "Caching fails if "conductance" dictionary key is changed, same for discretization scheme in AdvectionDiffusion"
[code]

[2020-11-06 13:36] ma-sadeghi commented on #1741
The first fix that comes to mind is to set `cache_A` to `False` if conductance keyword is changed, same goes for the discretization scheme in `AdvectionDiffusion`, but maybe there's a more general approach.

[2020-11-06 15:24] #1269 closed

[2020-11-06 15:25] #1069 closed

[2020-11-06 15:27] jgostick commented on #1368
The tutorials have been massively revamped and all turned into notebooks, so I think this is safe to close.

[2020-11-06 15:27] #1368 closed

[2020-11-06 15:27] jgostick commented on #1478
I think we're doing this right?

[2020-11-06 15:31] #1362 closed

[2020-11-06 15:33] jgostick opened #1742 "Telecon Agenda: Nov 6, 2020"
* Re-organization of issues
  * Non-urgent issues moved into a *Project* and set to *closed*
  * Categorized into columns
  * They can be reopened when needed
* Conduit models now complete
  * August Sprint project is now closed
* Version 2.6 is nearly ready for release
  * Discuss issues in the 2.6 milestone
  * #1478
  * #1527
  * #1473

[2020-11-06 17:18] jgostick opened #1743 "Ensure model parameters are serializable"
This is done in the setting dicts, but should be done in the models dict as well, to ensure everything can be saved in a pnm file.

[2020-11-06 17:23] jgostick opened #1744 "Investigate whether strings and/or values could be interchangeably passed to models"

[2020-11-06 17:28] jgostick commented on #1478
This is being done, and it's use case is to see after the solution what initial guess was used.  It's not being used in solver though.

[2020-11-06 17:28] #1478 closed, assigned to ma-sadeghi

[2020-11-06 23:43] #1742 closed, assigned to nobody

[2020-11-06 23:43] #1744 closed, assigned to nobody

[2020-11-09 14:46] alexeytopolnitskiy commented on #1724
@jgostick I think I found the problem. My cube was not available for permeability calculations because there were no pores at boundaries. I got this after several reviews.
But I have one more question. Am I right that pressure gradient must in **Pa** and viscosity of the phase must be in **kg/(m*s)** for calculation of permeability? But could you clarify what is unit for discharge, which I use for

[2020-11-09 15:07] jgostick commented on #1724
Ahhh, that's interesting.  I wonder why openpnm didn't throw a warning like a singular matrix?

RE units, unfortunately they are not natively supported for numpy arrays, and are a huge pain.  We just assume SI everywhere.  The rate is in m3/s.

[2020-11-09 15:07] #1724 closed, assigned to nobody

[2020-11-09 18:34] ma-sadeghi opened #1746 "set_outflow_BC must be re-imposed when "conductance" is dynamically changed"
Suppose conductance is `throat.ad_dif_conductance` and `set_outflow_BC` is already called. Now, if conductance is changed to `throat.another_conductance`, `set_outflow_BC` must be re-imposed since it relies on the conductance values.

[2020-11-09 21:25] ma-sadeghi opened #1747 "Outflow BC and other BC types must be prevented to coexist in a given set of pores"

[2020-11-10 01:16] Zohaib-Atiq opened #1748 "pip install openpnm in new environment throws no module named numpy error."
When we create new environment which don't have `numpy` in it `pip install openpnm` throws an error although `numpy` is in `requirements.txt`

![error](https://user-images.githubusercontent.com/30351879/98615338-57fe0180-22c8-11eb-9316-e263e88b894f.PNG)

[2020-11-10 01:21] jgostick commented on #1748
It is not recommended under any circumstances to pip install numpy, so if you're doing this it will almost certainly end in tears.  Maybe our setup.py could throw a warning if this is found to be the case somehow.  We recommend using conda install, of just use an env with numpy/scipy/etc already installed

[2020-11-10 02:26] #1657 closed, assigned to magnaou

[2020-11-10 12:02] Eravalord opened #1749 "Adding miscellaneous model drops error if prop_name defined in dev version"
Hello everyone,
I have encountered with the above-mentioned problem in the dev version, as I downloaded the latest update.

I receive this message:
![image](https://user-images.githubusercontent.com/71832974/98671514-ac4ec300-2354-11eb-8c0b-bd82820d2958.png)
in case of calling the following geometry model:
`geo[i].add_model(propname='throat.max_size',
                         model=op.models.misc.

[2020-11-10 14:07] ma-sadeghi commented on #1749
I think it's been changed to just `prop` or `propname` maybe?

[2020-11-10 14:53] jgostick commented on #1749
Yes, just change `pore_prop` to `prop`.  We have been a bit aggressive with pushing 'breaking' changes lately.  It's too difficult to support so many backwards compatibility related features.

[2020-11-10 14:53] #1749 closed, assigned to nobody

[2020-11-10 18:35] ma-sadeghi commented on #1748
It's interesting though, based on the screenshot, it's not even trying to install `numpy`, which is strange.

[2020-11-11 00:07] ma-sadeghi opened #1753 "2d and 3d versions of electroneutrality, Poisson, and Laplace models are identical"
I think we should get rid of the 2d versions.

[2020-11-11 19:31] jgostick opened #1754 "Add get_conduit_data helper method"
Many of the models request both pore and throat properties for the same thing, like `pore_temperature` and `throat_temperature`.  It would be very handy to offer a shortcut for this, like `get_conduit_data('temperature')` that would return an Nt-by-3 array of temperatures in each element of each conduit.

The name and api are open to debate of course.

[2020-11-11 20:54] jgostick commented on #1754
So a model definition would be like:

[code]

[2020-11-11 20:55] jgostick commented on #1754
We *could* also update the __getitem__ to return conduit values if 'conduit' is requested, like:

[code]

The above would be convenient but maybe bit to much hidden magic?

[2020-11-11 20:57] jgostick commented on #1754
We could make the 'getter' method more general so that it interpolates if needed, so:

[code]

Would do interpolation to find throat temperatures if not present, otherwise could just return the values.

[2020-11-12 14:51] ma-sadeghi opened #1755 "Improve release notes generator"
- [x] Make it to only accept the following keywords: `#new`, `#enh`, `#maint`, `#api`, `#bug`
- [x] List merge commits without any keyword under *Uncategorized* in case we forget to add the keywords
- [x] Improve how merge commits are fetched; the current approach assumes it's a merge commit if it was done using the GitHub web app, which occasionally breaks.

These might be helpful:
https://www.at

[2020-11-12 15:25] jgostick opened #1756 "Tutorials notebooks should probably be numbered"
I hestitated to put numbers right into the notebook names, since we'd break links to them if we decided to insert a new tutorial in the middle, but they could probably use some numbering so that people know what order to go through them in.

[2020-11-12 15:26] muntahi398 opened #1757 "Unreasonably high estimate of permeability from an extracted network"
Dear good people,
I was trying to estimate permeability of a porous structure shown below. Images are from micro CT volumes and voxel resolution of 25micron. But following the steps in Barea in [Link](https://github.com/PMEAL/OpenPNM/blob/dev/examples/notebooks/networks/extraction/predicting_effective_permeability_of_berea.ipynb) I could not get a desirable result. With water column permeability m

[2020-11-12 19:43] ma-sadeghi opened #1758 "Implement Continuation Method for dealing with highly nonlinear source terms"
See here for reference:
https://www.comsol.com/support/knowledgebase/103

[2020-11-12 19:44] #1758 closed, assigned to nobody

[2020-11-12 20:55] jgostick commented on #1757
Hi @muntahi398 ... I think there is a problem with your experimental value.  Based on the stated voxel resolution (25 um per voxel) and the images you have provided, I find the particles in your image are about 1 mm diameter...is this correct?  Because they are perfectly spherical, you can directly apply the [Carman-Kozeny equation](https://en.wikipedia.org/wiki/Kozeny%E2%80%93Carman_equation).  I

[2020-11-13 00:05] aaornsc commented on #1710
Hello @ma-sadeghi, i hope you are doing great,  i'm currently having the next error message that is related to this issue :

  File "perm_OPNM.py", line 103, in <module>
    flow.run()
  File "/home/aaron/anaconda3/lib/python3.7/site-packages/openpnm/algorithms/ReactiveTransport.py", line 158, in run
    x = self._run_reactive(x0)
  File "/home/aaron/anaconda3/lib/python3.7/site-packages/openpnm/a

[2020-11-13 04:38] jgostick commented on #1748
There is a package somewhere upstream that specifies numpy < 3.9.  I tried adding 3.9 to the test suite and got this error.  Zohaib got things working when he put numpy 3.8 in the env.  I don't think this is our bug and I'm sure will be fixed soon.

[2020-11-13 04:38] #1748 closed, assigned to nobody

[2020-11-13 07:04] TomTranter commented on #1710
You need to install pypardiso from conda-forge https://anaconda.org/conda-forge/pardiso4py

[2020-11-13 20:30] jgostick opened #1759 "Move addition of temperature and pressure to subclasses so GenericPhase is truly empty"

[2020-11-15 13:36] ma-sadeghi opened #1760 "Make partitioning work for advection-diffusion algorithm too"
We should make it work for advection-diffusion problems too.

[2020-11-16 14:54] mkaguer opened #1761 "Easy to fix bug in electroneutrality conductance model"
[Line 568](https://github.com/PMEAL/OpenPNM/blob/6f58dc235a079cfe4cd5101a2234b8eb8f984c14/openpnm/models/physics/ionic_conductance.py#L568) and [line 569](https://github.com/PMEAL/OpenPNM/blob/6f58dc235a079cfe4cd5101a2234b8eb8f984c14/openpnm/models/physics/ionic_conductance.py#L569) of electroneutrality model should read `network.Np` instead of `network.Nt`. This is because it is being indexed by

[2020-11-16 14:58] jgostick commented on #1761
Yes, it looks like you are correct

[2020-11-16 15:31] mkaguer commented on #1761
Alright, I will fix it then.

[2020-11-17 14:19] #1761 closed, assigned to mkaguer

[2020-11-17 19:30] saeidabd opened #1762 "Apply Flow in MixedInvasionPercolation looks wrong"
@jgostick
Hi, the apply_flow function in the percolation looks wrong, it counts twice some pores, so sum them twice. When a pore is in the joint of two throats that their invasion sequence are higher than the pore sequence, the pore volume will be sum repeatedly. please check it again and let me know it.
Anyway, could we have time of invasion versus phase saturation in apply trapping mode? Network

[2020-11-18 22:12] ma-sadeghi commented on #1761
@mkaguer Is this fixed?

[2020-11-19 16:28] mkaguer commented on #1761
Yes @ma-sadeghi... well I made the change on the dev branch and pushed it to git hub as [commit 031894a](https://github.com/PMEAL/OpenPNM/actions/runs/367139011). Not sure if I should have done it exactly like that but it was such an easy fix that I didn't want to do the whole create a branch and merge back into dev thing.

[2020-11-19 17:56] ma-sadeghi commented on #1761
@mkaguer Good job. Just one thing: it's always desirable to create a new branch and submit the changes via a pull request, maybe with some exceptions: like when editing docstrings (and not the code) such as updating the README file or maybe updating class docstrings, etc. The reason is that when making even slight changes to the code, something might break.

Anyway, nothing broke after your commit

[2020-11-19 18:00] mkaguer commented on #1761
Ok @ma-sadeghi I will keep that in mind. I wasn't sure if it still goes through all the same units tests as a normal PR. Does it?

[2020-11-19 18:24] jgostick commented on #1757
Since you have not checked back, I'm going to close this.  Reopen it if my answer above is not correct.

[2020-11-19 18:24] #1757 closed, assigned to nobody

[2020-11-19 18:30] jgostick opened #1763 "Should we create an OpenPNM-forum repo for user questions?"
It's easy to take an issue and move it to another, so we could consider creating a new repo, called openpnm-forum or openpnm-helpdesk, or something, and move all user question related issues to that repo?  We could first triage the question to see if it's an actual bug, but most are just questions or confusions about using openpnm.  We could leave all the issues open, so they can be easily browsed

[2020-11-19 19:55] jgostick opened #1764 "Change transient algorithms so they add BCs to quantity before writing first file at t=0"

[2020-11-19 20:03] jgostick opened #1765 "Add an optional mass transfer resistance between pore centers and walls"

[2020-11-19 21:27] jgostick opened #1766 "Time varying boundary conditions needed in transient algorithms"

[2020-11-20 00:13] jgostick opened #1767 "Initial conditions needs to accept pores, and possible work sequentially"

[2020-11-20 02:38] ma-sadeghi commented on #1765
Possible duplicate of #1454

[2020-11-20 02:46] ma-sadeghi commented on #1763
We can use Discourse. Julia and a whole bunch of other famous projects (like Paraview) use it. We can apply for their free tier, which they provide for eligible open source projects. I read their FAQ and I think we qualify. Their website says if your issue tracker is being crowded with questions and feature requests, you might be eligible. Anyway, it's worth a try.

https://blog.discourse.org/2018

[2020-11-20 02:48] ma-sadeghi commented on #1761
@mkaguer You mean when pushing directly to dev? If so, yes, the CI will run whenever we "push" any changes to any branch.

[2020-11-20 04:12] jgostick commented on #1765
Yes, dupe for sure.  But this has now become more urgent.  We should reopen that other issue, and get thinking about this.

[2020-11-20 04:14] jgostick commented on #1763
Ya, I like the idea of a dedicated service that does it properly, but that won't stop people from posting their question here because most tech support type issues look like bugs at first.  If we open a new repo there is the option of transferring issues, so very low friction.  We can discuss it tomorrow morning.

[2020-11-20 13:21] ma-sadeghi commented on #1763
You're right. Actually, Discourse already takes care of that, they have integration with GitHub issues.

[2020-11-20 13:28] Ni2M commented on #1540
I have realized the same problem as well. use_out_degree=True changes the axis for summation of the conductance values of neighboring throats (off-diagonal elements) to find the value of the diagonal element. axis=0 is the default value that sums column-wise (which is no different than row-wise in a symmetric matrix), whereas in an asymmetric matrix sum over the rows and columns are not necessaril

[2020-11-20 14:00] Ni2M commented on #1723
About your first question, in the steady state case that I am working I realized the convention is qij = Gij(ci - cj), as in a simple case of fickian diffusion we have positive sign for the diagonal elements and negative sign for the off-diagonal one (the neighbouring terms). Still that would depend on what is the source term's sign. I think you can still change the convention, if you still use th

[2020-11-20 15:46] mkaguer commented on #1761
@ma-sadeghi yea that is what I meant. Thanks!

[2020-11-20 16:17] jgostick opened #1771 "When saving to PNM format non-serializable things should be handled gracefully"
We currently add a 'blank' model if there is a problem during opening, so we should do something similar during saving.  This is related to #1743 and PR #1745, but that PR is backwards incompatible.  Regardless of that other PR it's probably a good idea to save things gracefully (with plenty of warnings of course)

[2020-11-20 16:28] jgostick commented on #1767
This is wrong.  set_IC current accepts an array, so you can create a set of heterogeneous conditions, then pass them in.  It is NOT a good idea to add a pores argument since ICs need to be set everywhere, so the user should be sure to create an array that includes values for ALL pores.

[2020-11-20 16:28] #1767 closed, assigned to nobody

[2020-11-20 16:50] jgostick commented on #1756
No, this would create a linking disaster.  We should either (a) add a readme to the folder with tutorials listed and described or (b) create an extra layer of TOC in the docs (or both)

[2020-11-20 16:50] #1756 closed, assigned to nobody

[2020-11-20 17:03] #1622 closed, assigned to nobody

[2020-11-20 17:09] ma-sadeghi commented on #1753
This is approved.

[2020-11-20 17:13] #1684 closed, assigned to Ni2M

[2020-11-20 18:53] jgostick opened #1773 "plot conns and coords not passing kwargs on"

[2020-11-20 18:56] jgostick opened #1774 "Create an extra level of links for the tutorial notebooks"
Instead of numbering them, we should add an rst file to the docs that lists each tutorial in a nice table.  Could also add a markdown file to to the tutorial folder so it shows in github too.

[2020-11-20 19:02] muntahi398 commented on #1757
@jgostick Sorry for not checking this earlier. Thank you very much for testing my attached CT images and relying on them. You are right about the spherical pores having 1-2mm diameter. But usually, they have low interconnections in between. When I have tested one of the samples, I found water passing through them very slowly. 8mL water passing through a sample of 7mm  diameter and 10.4mm thickness

[2020-11-21 01:23] jgostick commented on #1757
Hi @muntahi398, I honestly think your experiment is off. The Carman-Kozeny model is bang-on for sphere packs.  Perhaps there are lots of air bubbles in your experiment?  This would block water flow significantly.  Are you able to flow air through a dry column?  This way it's for sure single phase flow.  You could also fill the column with water first, THEN drop the beads in (assuming you're not al

[2020-11-21 15:04] jgostick commented on #1759
Why do we want to do this?  It's a bit dangerous and backwards incompatible actually, since anyone making a custom phase will be expecting these values to be present.

[2020-11-21 18:33] jgostick commented on #1714
this actually works just fine, but you need to use much larger marker size, like 1000

[2020-11-21 18:33] #1714 closed, assigned to jgostick

[2020-11-21 20:54] #1596 closed, assigned to jgostick, magnaou, mkaguer

[2020-11-21 20:54] #1735 closed, assigned to jgostick

[2020-11-21 20:55] #1773 closed, assigned to jgostick

[2020-11-21 20:56] #1709 closed, assigned to jgostick

[2020-11-21 20:57] #1771 closed, assigned to jgostick

[2020-11-22 00:31] ma-sadeghi commented on #1714
You're right. Shouldn't we change the default marker size then?

[2020-11-22 21:49] #1725 closed, assigned to jgostick

[2020-11-22 21:49] #1774 closed, assigned to jgostick

[2020-11-22 22:08] #1765 closed, assigned to nobody

[2020-11-23 12:36] xu-kai-xu opened #1783 "Fully-connected validation in GenericTransport fails for bundle of tubes"
**Is your feature request related to a problem? Please describe.**
Hi, I just upgrade to the version 2.5.1, and found that there is a `fully-connected validation` in the `GenericTransport` class, as a default-included option. But i am intending to make a PNM not fully connected. This default setting seems inappropriate in this situation.

**Describe the solution you'd like**
I suggest that you may

[2020-11-23 14:00] ma-sadeghi commented on #1783
Hi @xu-kai-xu, that check is necessary since disconnected networks result in indeterminate `A` matrices. Please let me know if I'm missing something.

[2020-11-23 14:12] xu-kai-xu commented on #1783
for example, I want to make a unidirectional PNM, as follows:
![image](https://user-images.githubusercontent.com/44153643/99971171-c9b17180-2dd7-11eb-9b7e-4ec46013a1ef.png)
It is not fully connected, but partly-connected.
When I use version 2.1, I can calculate permeability.

Then When I use version 2.5.1, It raises an exception
'''
 "Your network is clustered. Run h = net.check_network_health()"

[2020-11-23 14:23] jgostick commented on #1783
@xu-kai-xu makes a good point actually. You can do a bundle of tubes model as well, even though they are 'clustered'.  I think the way boundary conditions are applied might somehow 'connect' the other disconnected channels? Because it does solve.  We should think about this, and identify a more subtle way to check for the health of the A matrix.

[2020-11-23 14:40] xu-kai-xu commented on #1783
Yes, the boundary condition plays an important role in this case. If boundary condition changes, there may be no solution.

[2020-11-23 15:02] ma-sadeghi opened #1784 "Raise exception if no pores/throats are passed to Geometry"
This is similar to #1709

[2020-11-23 15:09] ma-sadeghi commented on #1473
It seems that this issue has already been addressed in previous PRs, although using a different solution.

Currently, we "manually" call `_update_A_and_b` before the main loop, so that `_is_converged` can be safely called (safely as in: if x0 is undefined for some reason, residual will be undefined as well). Consequently, we safely got rid of the `if itr >= 1` check.

[2020-11-23 15:09] #1473 closed, assigned to ma-sadeghi

[2020-11-23 15:11] ma-sadeghi commented on #1677
If I remember correctly (based on the thread at #1473), we opened up this issue to address the problem of calling `alg._solve` at least twice, which as it seems, has already been addressed using another solution. So, we no longer need to implement this.

[2020-11-23 15:11] #1677 closed, assigned to ma-sadeghi

[2020-11-23 15:13] jgostick commented on #1784
Ya, but in principle it is OK to create a geometry with no pores or throats.  We (or rather I) changed this a few months ago because defaulting to ALL pores and throats was a strange gotcha.

Perhaps the best compromise would be for pores and throats to be mandatory arguments, and you have to pass something.  So:

[code]

Not sure how this will play with the PNM format, which was the main motivati

[2020-11-23 15:48] mkaguer commented on #1723
Hi @Ni2M. Thanks for giving your input. So you are confirming that the openpnm convention is qij = Gij(ci - cj)? The convention then should be the same for qij and mij but it is not. However, I think this is corrected later in the code when it uses qij - mij instead of qij + mij. I think the formula (eqn 18) above from the nernst Planck paper has the wrong sign. Does anyone have an opinion on that

[2020-11-23 16:02] jgostick opened #1785 "Could compressible gas flow be modelled using a source term in StokesFlow?"
I just occurred to me that a pressure dependent source time in every pore would have the effect of increasing the volumetric flow as pressure changes in the network.  If this source term were a form of the ideal gas law, then we could calculate the increase of volume vs decreasing pressure.  I "think" our current reactive flow solve could actually do this...maybe?

[2020-11-23 16:02] #1785 closed, assigned to nobody

[2020-11-23 16:13] jgostick opened #1786 "Some hidden methods on GenericTransport should be on ReactiveTransport"
I am working on a notebook about class inheritance in the algorithms, and when printing out all the methods have noticed some methods that should maybe be on Reactive:

[code]

Are these related to the solving of source terms, variable properties, or just iterative solvers?  If the latter then they're ok, but otherwise they should be moved to ReactiveTransport.

[2020-11-23 16:18] jgostick opened #1787 "Better containment of variable properties"
Two things:

1. We current use the terms 'variable properties' and 'iterative properties'.  I propose that we stick with 'variable properties' since iterative is already used to describe solvers.  The term variable property implies non-constant properties, which is exactly what we're going for here.
2. In the name of keeping the code tight, should we consider creating a new mixin class for variabl

[2020-11-23 17:42] muntahi398 commented on #1757
@jgostick Thank you very much for the nice explanation. I will recheck the experiment setup.

[2020-11-23 17:51] ma-sadeghi commented on #1786
They're used in `GenericTransport` as well as other subclassed algorithms, which is probably why we put them in `GenericTransport`. I don't think they're specifically related to source terms and variable props.

[2020-11-23 17:52] ma-sadeghi commented on #1723
It's probably best to ask @magnaou.

[2020-11-23 17:55] ma-sadeghi commented on #1784
You're right. I think making `pores` and `throats` mandatory arguments is probably a good idea, unless we can come up with a scenario where we want an empty `Geometry` (or an initially-empty one, but later-to-be-filled)

[2020-11-23 18:05] ma-sadeghi commented on #1783
@xu-kai-xu You're right, I didn't think of that scenario.

Actually, now that I think about it, I can't think of what could possibly go wrong if a network is clustered, since we already set x0 = 0, if no BC is found, x0 = 0 is propagated across the entire network (or that BC-less specific cluster).

I just tested it and it works! So, maybe we can entirely get rid of that part? @jgostick

Maybe I'm

[2020-11-25 03:21] mkaguer opened #1788 "Problem with how NernstPlanckMultiphysicsSolver passes settings (e.g. time step) to coupled algorithms"
Before running the `TransientNernstPlanckMultiphysicsSolver` I set the time step in settings to 0.01 and believed that this change would automatically change the corresponding settings in charge and mass algorithms. However, the change did not take effect until after the first time step. That is, the first time step was calculated using 0.1 (the default) and then after was mysteriously changed to

[2020-11-25 04:33] mkaguer commented on #1723
@ma-sadeghi I asked @magnaou before I created this issue. He said the negative is missing because of an OpenPNM convention and suggested I talk to @jgostick for more on that. However, Jeff and I agreed that the convention should be the same for migration and flow. Maybe @magnaou  can explain why it is qij - mij instead of qij + mij?

[2020-11-25 11:34] xu-kai-xu commented on #555
Hi, @jgostick , I just construct a locally-connected pnm, and run `check_data_health`. The checking result is easy to understand except `duplicate_throats`. I am not sure what duplicate means. Does it mean two `pn.conns` arrays are repetitive, or something else.
![image](https://user-images.githubusercontent.com/44153643/100222372-f0e17d80-2f54-11eb-970c-26d39d80082a.png)
The pnms includes 785 por

[2020-11-25 14:52] jgostick commented on #555
Yes, duplicate throats means that you have [i, j] in the adjacency matrix twice.  Bidirectional throats means you have [i, j] and [j, i] in there.  If you do ``op.topotools.trim(network=pn, throats=h['duplicate_throats']`` it should clear things up.

[2020-11-25 14:53] jgostick commented on #555
Looking at your picture I see lots of 3-pore + 2-throat, or 2-pore + 1-throat little clusters, so the number of throats in this case should be < the number of pores.

[2020-11-25 20:41] #1526 closed, assigned to ma-sadeghi

[2020-11-25 20:45] ma-sadeghi commented on #1526
@mkaguer This is now fixed on `dev`. Could you please try and give me your feedback?

There's only one API change:

[code]
is now:
[code]

since `propname` is redundant as we enforce `throat.partition_coef` (actually you _can_  change this prefix by modifying `mphase.settings["partition_coef_prefix"], whose default value is `throat.partition_coef`)

[2020-11-26 01:47] xu-kai-xu commented on #555
Yes, I made a mistake. There are some duplicate and bidirectional throats. After the trimming operation, the throat number decreases to 560.

[2020-11-26 13:29] xu-kai-xu opened #1791 "Inspect matrices A and b when simulating transport process"
Hi, I am simulating single-phase flow based on a constructed PNM. After the scripts
[code]
when I run `flow.run()`, python raises `ValueError: Matrix A is singular, because it contains empty row(s)`. So I try to check the details of matrix A. But I can not find a proper way. I use
[code]

I want to ask how to inspect matrices A and b, and check the problem. Thanks.
The detailed error info is as fo

[2020-11-26 13:50] ma-sadeghi commented on #1791
@xu-kai-xu Can you share your script?

[2020-11-26 15:17] jgostick commented on #1791
Hey @xu-kai-xu , if this is pertaining to the network you posted a few days ago, there is no connected path through the domain, which is usually the cause of this error.

[2020-11-26 20:00] ma-sadeghi commented on #1791
Note to self: it might be worth adding this check to `GenericTransport`'s health check.

[2020-11-27 00:51] xu-kai-xu commented on #1791
@ma-sadeghi, @jgostick
![image](https://user-images.githubusercontent.com/44153643/100398811-356f3500-308b-11eb-84ff-880c940a9800.png)
![image](https://user-images.githubusercontent.com/44153643/100398818-3e600680-308b-11eb-8283-7bdc3d3f0a00.png)
The first picture is the improvement of connectivity, but it seems not real. The second picture is the connectivity generated by the smallest distance. W

[2020-11-27 02:08] jgostick commented on #1791
Hi @xu-kai-xu
You can check A and b, but doing ``alg.A`` and ``alg.b``, but both of the networks you show above are problematic.  I'm not sure what you're trying to learn or what system you're studyin, but somethings seems off.  Would you like to have a short telecon to explain your objectives better?

[2020-11-27 14:58] ma-sadeghi commented on #1540
Following the discussion with @Ni2M, I don't think this is no longer an issue. Here's a brief summary for future reference:

- The use of `csgraph.laplacian` with the default settings, i.e. column-wise summation is correct.
- What's wrong is the way we used to define throat conductance
- Conductance in its most generic form is defined as `g = [G12, G21].T`, which is an Nt by 2 array.
- Mass transf

[2020-11-27 14:58] #1540 closed, assigned to Ni2M

[2020-11-28 15:43] jgostick commented on #1717
Another option:
https://github.com/loadimpact/k6

[2020-11-28 21:40] jgostick commented on #1747
This has a few gotchas actually...some modes are not being handled correctly.  I will fix.

[2020-11-28 22:28] jgostick commented on #1753
Maybe let's wait until v3.0?  This is not urgent.

[2020-11-29 02:46] jgostick commented on #1738
In my latest version I got the ICs and value BCs to both fill the 'pore.ic' array as well as the 'pore.quantity' array.  There is one problem though...the crank-nicolson scheme has different values.  There are hard coded values in the test, and now they've changed, so I'm guess that the previous version was not including BCs in the initial time step, and they didn't get added until the second time

[2020-11-30 20:43] ma-sadeghi opened #1796 "ReactiveTransientTransport breaks when t_final == t_initial"

[2020-11-30 21:55] ma-sadeghi opened #1797 "Refactor GenericTransport and subclassed algorithms' run method"
Currently, each algorithm is overloading the `run` method on `GenericTransport`. A better design would be to have only the `run` method only on `GenericTransport`, which calls `_run_special` at the end. `_run_special` is then overloaded by subclassed algorithms. The reason this is a better design is that we're doing a bunch of checks (`_validate_data_health`, `_validate_settings`) that needs to be

[2020-11-30 22:16] #1710 closed, assigned to jgostick

[2020-12-01 03:59] #1747 closed, assigned to jgostick

[2020-12-01 08:13] ma-sadeghi opened #1799 "Catch unassigned pores/throats at runtime in algorithms"

[2020-12-01 08:13] #1799 closed, assigned to nobody

[2020-12-03 05:24] jgostick commented on #1784
I have confirmed that the PNM format does not need the geometry to have empty instantiation.  SOOO, it's possible to got back to the old way, where ``op.geometry.StickAndBall(network=pn)`` automatically applies to all pores and throats.  I'm just not sure that we should do this.  I closed off this behavior because it was a hidden gotcha.   I'm not sure why we want to do it again?

[2020-12-04 00:26] ma-sadeghi opened #1804 "PNM export ignores object attributes"

[2020-12-04 16:46] jgostick commented on #1686
closed by #1803

[2020-12-04 16:46] #1686 closed, assigned to magnaou, mkaguer

[2020-12-05 00:35] jgostick commented on #1784
We now raise an exception at the algorithm level is not pores/throats are defined, so this is fixed in a round-about way

[2020-12-09 21:57] ma-sadeghi opened #1810 "How to plot histogram of properties?"

[2020-12-09 21:57] #1810 closed

[2020-12-10 02:37] #1791 closed, assigned to nobody

[2020-12-10 02:37] #1706 closed, assigned to nobody

[2020-12-10 02:39] #1448 closed

[2020-12-10 02:41] #1484 closed, assigned to nobody

[2020-12-15 13:24] WenRui-Lv666 opened #1811 "Which kind of algorithm can be used to solve electrochemical system problems？"
Dear all:
I am currently learning to use OpenPNM for my research on vanadium redox flow batteries and would like to setup a model similar to the one described in:

M. A. Sadeghi, J. Gostick et al., “Exploring the Impact of Electrode Microstructure on Redox Flow Battery Performance Using a Multiphysics Pore Network Model,” J. Electrochem. Soc., vol. 166, no. 10, pp. A2121–A2130, 2019.

And I am ver

[2020-12-15 14:56] #1811 closed

[2020-12-18 16:21] jgostick commented on #1763
solved by the Discussions feature!

[2020-12-18 16:21] #1763 closed, assigned to nobody

[2020-12-18 16:24] jgostick commented on #1759
The need for this was based on reducing the number of variables that show up in paraview.

[2020-12-18 16:31] jgostick commented on #1759
I suggest changing the class init to:

[code]

[2020-12-18 16:34] jgostick commented on #1759
You can also do:

[code]

[2020-12-18 16:35] #1755 closed, assigned to nobody

[2020-12-18 16:39] jgostick commented on #1746
This does a lot of calculates when called, so instead the ``set_outflow_BC`` should collect info, and store in dict, like ``'pore.bc_outflow'`` and this is then used when building A via something like ``_apply_outflow_BCs``, analogously to the other BC functions.

[2020-12-18 16:51] jgostick commented on #1746
The AdvectionDiffusion algorithm should be refactored so that the calcs in the set_outflow_BC function are done in the overloaded _apply_BCs function.  This way they are updated on each iteration when solve is called.

[2021-01-18 15:21] jgostick commented on #1783
The check should actually make sure that all pores are connected to the boundary pores.  I think this will requiring adding a fictional pore that connects all the boundary pores together,  THEN run clustering and count numbers.  Note that AdDiff may require a special approach.

[2021-01-18 15:25] jgostick commented on #1676
We should probably enforce all conductance models to be Nt-by-2.  Also, should think about capillary pressure related things, since percolation could be direction dependent...as in graphs can be directed or undirected.

[2021-01-19 13:12] ma-sadeghi opened #1816 "Export results of parametric studies in a single file?"
I'm not sure if this is already possible in OpenPNM, but the idea is to export the results of a parametric study (e.g., battery simulation at different cell voltages/currents, or mass transfer in a porous catalyst at various kinetics, etc.) in a single file, so they can all be viewed in Paraview without needing to open multiple files.

[2021-01-19 14:20] ma-sadeghi opened #1817 "Find neighbor pores to X whose only neighbor is X"
[code]
Here's what I'm looking for:
[code]
I use it to find "orphan" pores in my problem. I'm not sure if it's worth implementing it in `OpenPNM`.

[2021-01-19 14:22] ma-sadeghi commented on #1788
Hey @mkaguer, what's the status on this? Did you find a fix for this issue?

[2021-01-19 14:47] jgostick commented on #1817
You'd have to do it in reverse order:

[code]

Do you think this is relevant enough to make it a function?  Probably not on the network class, but maybe in topotools?  It could be generalized by changing the second line to ``np.where(z == X)``, with X being a value supplied by the user.

[2021-01-19 14:51] jgostick commented on #1817
actually, the last line should be: ``np.intersect1d(pn.find_neighbor_pores(pores=i), orphans)`` to keep everything in numpy

[2021-01-19 14:53] jgostick commented on #1817
[code]

[2021-01-19 15:15] mkaguer commented on #1788
Hi @ma-sadeghi no I did not find a fix for this. I don't even know yet where the issue or bug is exactly. My way around it at the moment is manually setting the time step of each algorithm as opposed to only settings the time step in multiphysics solver.

[2021-01-22 16:04] ma-sadeghi commented on #1817
Thanks @jgostick. It might be handy to have it under `topotools`.

[2021-01-22 16:10] jgostick commented on #1817
Did it work for you?

[2021-01-22 16:49] ma-sadeghi opened #1819 "Add remove_source to Algorithm objects?"

[2021-01-22 22:04] ma-sadeghi commented on #1817
Yep, worked like a charm! Here's a sample script:

[code]

# Original network
<img src="https://user-images.githubusercontent.com/14086031/105553547-943fdc00-5cd3-11eb-8a3f-1133ff4276da.png" width=50%>

# Find neighbors of pore 0 that only have 1 neighbor
<img src="https://user-images.githubusercontent.com/14086031/105553632-bb96a900-5cd3-11eb-8e7f-d7680fb1885e.png" width=50%>

# Find neighbors of

[2021-01-24 01:55] #1817 closed, assigned to nobody

[2021-01-26 21:13] ma-sadeghi commented on #1784
I just noticed that this's not yet been fixed.

[2021-01-28 23:55] hazardary opened #1822 "Bug in MIP. Should be 'cluster' rather than 'elem_id' since len(cluster)==1"
https://github.com/PMEAL/OpenPNM/blob/291390215acabcf553efc3354b5442ee60b6020a/openpnm/algorithms/MixedInvasionPercolation.py#L210

[2021-01-29 04:01] jgostick commented on #1822
wow, that's subtle. @TomTranter can you take a peek?

[2021-01-29 15:30] ma-sadeghi opened #1823 "dependency_graph doesn't include properties that are not models"
I looked into this and I don't think it can be done in a straightforward way. `dependency_graph` is a method of `ModelsDict`. To look for properties that are not models, we need to get a handle to the object containing the models, but `dependency_graph` can only access `obj.models`, which is just a plain dictionary.

@jgostick Can you confirm if this is accurate?

[2021-02-01 15:39] jgostick commented on #806
Here is an example script from PR #996:

[code]

[2021-02-01 15:39] jgostick commented on #806
And here is the example model:

[code]

[2021-02-01 15:45] jgostick opened #1826 "Setting ICs in the PNP algs"
Are deleting a branch that has a few lines on it which may be useful, so I'm pasting them here.

In " openpnm/algorithms/TransientReactiveTransport.py "

[code]

[2021-02-01 15:46] jgostick commented on #1826
And at the end of the ``run`` method in "openpnm/algorithms/TransientNernstPlanckMultiphysicsSolver.py"

[code]

[2021-02-01 15:57] jgostick commented on #1819
Perhaps this should also add a ``mode`` argument to match the BC functions

[2021-02-01 16:02] jgostick commented on #1804
At present PNM fails if unexpected object attrs are present.  One option is to report a more useful error message, telling people to use pickle.

[2021-02-01 16:10] jgostick commented on #1787
It also turns out that we have ``_set_variable_props`` which is never called.

[2021-02-01 16:11] jgostick opened #1828 "Rename 'iterative_props' to 'variable_props'"
As it is now, it's a bit confusing since iterative also refers to solver and to non-linear reactions.

[2021-02-01 16:12] jgostick opened #1829 "Should the 'variable_props' machinery be separated into a mixin or subclass?"

[2021-02-01 16:13] jgostick opened #1830 "Remove `_set_variable_props`"
This method doesn't do anything, and we're going to repurpose the name in V3

[2021-02-01 16:14] #1787 closed, assigned to ma-sadeghi

[2021-02-01 16:20] jgostick commented on #1784
We are adding this to to ``_check_special`` method

[2021-02-01 16:26] #1738 closed, assigned to jgostick

[2021-02-01 19:01] #1819 closed, assigned to jgostick

[2021-02-01 22:54] jgostick commented on #1783
Actually, I think this may be impossible to fix.  We'd need to know which pores are considered inlets and which are considered outlets. At present all the BCs are just in a big lumped pot and there is not way to know.  I can write a method that gets some of the cases (like will pass for bundle of tubes), but cannot catch all the cases (i.e may return false True when should be False).

[2021-02-02 03:20] jgostick commented on #1804
This was already shouting a warning if bad attributes were found, but perhaps the loglevel was being silenced.  It's level 'critical', so should be more noticeable.

[2021-02-02 03:20] #1804 closed, assigned to jgostick

[2021-02-02 05:02] jgostick commented on #1783
never mind...I read comment above and realized how to do it.  Fix is pushed.

[2021-02-02 05:02] #1783 closed, assigned to jgostick

[2021-02-02 19:22] ma-sadeghi opened #1834 "The default markersize in plot_coordinates is way too small"
Maybe change it to 10.

[2021-02-03 02:36] ma-sadeghi opened #1835 "Possible bug in rate method when used w/ throats as argument"
Currently, calling the `alg.rate` method always returns a positive rate when used for throats. Although this might be the expected behavior when we initially coded it, it doesn't seem right. Here's an example that demonstrates why it's confusing:

Consider an internal pore, i.e., one that's not connected to any inlet/outlet, such as below (numbers in brackets are throat indices):
[code]
if we call

[2021-02-03 02:59] ma-sadeghi opened #1836 "Find connecting throats between two sets of pores"
Given two sets of pores in a network, it'd be handy to have a network on `GenericNetwork` to be able to find all the throats between these two sets.
[code]

[2021-02-03 03:06] jgostick commented on #1835
The problem is that the direction is not clear.  Is the positive direction going from pore i to j where i < j, or do we mean positive is the going from C1 to C2, where C2 < C1?  I think we chose the absolute value because neither options were super clear.

[2021-02-03 03:23] ma-sadeghi commented on #1835
Yeah, right. The issue is I'm trying to calculate the net rate from one set of pores to another, and I couldn't find a convenient way of doing this. One way is to search `net.conns` for possible connections from `pores1` to `pores2`, note the possible direction mismatch (a pore in `pores2` appears first in `net.conns`), call rate and account for these possible mismatches and return a net rate. I t

[2021-02-03 14:42] jgostick commented on #1836
What is wrong with the existing ``find_connecting_throat`` method?

[2021-02-03 14:46] ma-sadeghi commented on #1836
Oh, I didn't know we had such a thing! Thanks!

[2021-02-03 14:46] #1836 closed, assigned to nobody

[2021-02-03 14:48] jgostick commented on #1836
Just make sure it works for you

[2021-02-03 14:49] ma-sadeghi commented on #1836
@jgostick For consistency, shouldn't be `find_connecting_throats`? similar to `find_neighbor_throats`

[2021-02-03 14:50] jgostick commented on #1836
I think I called it that since there is only 1 throat between each pair of pores

[2021-02-03 15:27] ma-sadeghi commented on #1836
Right, but doesn't it accept two sets of pores as well?

[2021-02-03 15:31] jgostick commented on #1836
yes, but it only finds the single connecting "throat" for each pair.

[2021-02-03 15:47] ma-sadeghi commented on #1836
Yes, makes sense.

I just noticed that the order of `P1` and `P2` matters in `find_connecting_throat`. So, let's say `P1 = [1, 2, 3]`, and `P2 = [6, 8, 10]`, and `conns = [[1, 8], [3, 6], [2, 10], [1, 10]]`, calling `find_connecting_throat` on theses sets of pores returns `[None, None, None]`. What I was looking for is some method that returns the throat indices of all connections between the two

[2021-02-03 15:56] ma-sadeghi commented on #1836
Here's what I was looking for:

[code]

Do you think it's worth adding it to `GenericNetwork`? @jgostick

[2021-02-03 16:41] jgostick commented on #1836
How about the 'xnor' mode in find_neighbor_throats?

pn.find_neighbor_throats(pores=[0, 1, 2, 5, 6, 7], mode='xnor')

[2021-02-03 18:34] ma-sadeghi opened #1837 "Find rate between two sets of pores"
Here's a handy function that calculates the rate between two sets of pores `P1` and `P2`. I'm not sure if it's worth adding it to `openpnm`.

[code]

The only issue is that this method assumes that the rate returned by `GenericTransport.rate` is direction-dependent, which is not currently the case. I propose making the `rate` method, direction dependent. @jgostick and I already had a little conver

[2021-02-03 18:59] ma-sadeghi commented on #1836
That'd also include the throats within P1 and within P2.

Network:

<img src="https://user-images.githubusercontent.com/14086031/106795228-d2b88d80-6627-11eb-8b2c-e78745b622ec.png" width=50%>

Using `find_interface_throats` (`P1 = [1, 6]`, `P2 = [2, 5]`):

<img src="https://user-images.githubusercontent.com/14086031/106795202-c7fdf880-6627-11eb-983d-39070cc18926.png" width=50%>

Using `xnor`:

<im

[2021-02-06 22:44] jgostick opened #1839 "`Statoil` import should add reservoir pores instead of deleting reservoir throats"
The Statoil format has throats pointing to pores 0 and -1, which are non-existent, since the pore index starts at 1.  We chose to delete these throats in the original importer function.  However, now that I'm coding an export function, I realize it might be better if the import function added two nodes for the reservoirs and point the throats to them (instead of 0 and -1).  The main problem now is

[2021-02-08 21:23] ma-sadeghi opened #1841 "chemicals: Nice package for handling physical properties"
https://github.com/CalebBell/chemicals

[2021-02-10 18:51] mkaguer commented on #1796
I looked into this some more. The problem was with [line 378](https://github.com/PMEAL/OpenPNM/blob/11530fa4ce00a80700429710bad3b26bc540d600/openpnm/algorithms/TransientReactiveTransport.py#L378)

when t_initial == t_final, `np.arange(t+dt, tf+dt, dt)` results in an empty array so when time is defined as `for time in np.arange(t+dt, tf+dt, dt)` the variable time never gets set and the following er

[2021-02-11 13:30] ma-sadeghi opened #1843 "Convergence checks in Generic/ReactiveTransport are too aggressive"
Currently, if convergence checks fail, the program breaks. But, I think we shouldn't do that, or at least be less aggressive. I'll elaborate more in the upcoming meeting. Briefly, for multiphysics problems, it's likely that you don't even want each algorithm to fully converge since the intermediate solutions are not accurate anyway.

[2021-02-12 13:25] ma-sadeghi opened #1845 "Check for stall in ReactiveTransport"
Currently, if the solution doesn't converge, `ReactiveTransport` iterates until `max_iter`, which is 5,000 by default. We need to check for stall such that if the solution doesn't change by much between two iterations, it halts.

[2021-02-12 19:19] jgostick commented on #1843
* It's not really a bug, more like a missing feature. The 'back and forth' solution of algs is occurring outside of OpenPNM's scope, so it can't really do anything about it.
* This pertains to Mike's multiphysics algorithm, which will orchestrate the interaction between algs.
* Also, algs should not raise an exception anyway, but return an error code or something.  Perhaps an ``is_converged`` meth

[2021-02-13 22:09] #1732 closed, assigned to Ni2M

[2021-02-14 21:07] ma-sadeghi commented on #1796
@mkaguer Thanks for looking into this. Now that I revisited `TransientReactiveTransport`, I think the `run` method is doing more than it should. I don't think the `run` method should check for whether or not the steady state condition has been reached. That's unexpected behavior, since the user asks for the solution until `t_max`, but the solver terminates once steady state is reached.

Maybe that

[2021-02-15 16:28] ma-sadeghi opened #1847 "Update docrep to most recent version"
You have probably tried this, but just in case: https://github.com/rsokl/custom_inherit.

[2021-02-15 18:56] mkaguer commented on #1796
@ma-sadeghi that's a fair point. Another thing to consider is that the user does have control over what is considered steady. For example, the user could use really small tolerance such as 1e-32 to force solver to reach tfinal.

I am tempted to suggest that the solver should throw an error when tinitial equals tfinal. Because why would you ever want that? Thoughts?

[2021-02-15 21:11] ma-sadeghi commented on #1796
That's also fine. As a general rule, though, we should avoid adhoc treatment, so the code just works. I'd propose get rid of the `if` clause (which checks whether steady has reached) in here:

https://github.com/PMEAL/OpenPNM/blob/11530fa4ce00a80700429710bad3b26bc540d600/openpnm/algorithms/TransientReactiveTransport.py#L348-L349

and similarly in here:
https://github.com/PMEAL/OpenPNM/blob/11530fa

[2021-02-16 12:41] ma-sadeghi commented on #1845
There are multiple ways we can go about this. We can use scipy's [`newton_krylov`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.optimize.newton_krylov.html) API as a guideline, since it's a nonlinear solver, and that's basically what we're doing in `ReactiveTransport`.

For instance, scipy's check for stall is optional (if you pass `x_tol`, it ensures that consecutive steps must at l

[2021-02-16 13:52] ma-sadeghi opened #1848 "Unify _validate methods on GenericTransport"

[2021-02-16 16:09] jgostick commented on #1823
Add this to the mixin:

[code]

[2021-02-16 16:21] #1830 closed, assigned to ma-sadeghi

[2021-02-16 16:22] #1784 closed, assigned to nobody

[2021-02-16 19:29] mkaguer opened #1852 "Access old values of quantity more easily"
I have this problem in the TransientNernstPlanckMultiphysicsSolver where iterative properties are updated each gummel iteration but I want some properties to only update every time step. These properties I want updated only every time step are the old properties or the values of the property at the previous calculated time. Generally, I think that it should be easier to access old properties in Op

[2021-02-16 19:47] #1834 closed, assigned to nobody

[2021-02-16 23:52] jgostick commented on #1852
I would actually say that iterative/variable props should NOT be updated during Gummel iterations ever.  Once the solution is obtained, THEN you can recalculate things for the next time step.  Otherwise there are too many moving parts.

[2021-02-17 01:09] #1823 closed, assigned to ma-sadeghi

[2021-02-17 14:05] #1796 closed, assigned to mkaguer

[2021-02-19 15:10] mkaguer commented on #1852
Hmmm @jgostick ... each gummel iteration I get new values for quantity (pore.concentration and pore.potential). So update iterative props is important at each gummel iteration for updating source terms based on new quantity values.

Note that while source terms are re-applied every gummel iteration, A and b matrices are not updated with new conductance values every gummel iteration.

[2021-02-19 15:58] Ni2M opened #1855 "Throat lens volume is higher that throat volume when pore sizes are >=0.8*max_pore_size."
**Describe the bug**
Throat lens volume is higher that throat volume when pore sizes are >=0.8*max_pore_size.  Throat lens_volume should always be less than throat volume (as they are corrections on volume calculations). Lens values more than throat volume happens when pore sizes are defined >=0.8* max_pore_size. Even if we have space in the spacing to define a non-zero length throat between the p

[2021-02-19 19:27] #1822 closed, assigned to TomTranter

[2021-02-19 22:00] jgostick opened #1858 "add/drop locations not quite working as advertized"
The docstring says that if pores/throats are already on a geometry then they will be changed, and they will be removed from the physics.  This does not seem to be happening. I was able to remove them from the geom add them to a new geom, but not 'switch' them directly.  I'm thinking that we should revert to ``set_locations`` as a public method, with modes in V3.0.

[2021-02-24 17:51] jgostick opened #1868 "Creating physics with a geometry but no phase should work better"
At present the init of GenericPhysics works, but does not associate the physics with the geometry, even though one is given.  This should be fixed so that ONLY the phase is undefined.  At present the project looks like this:

[code]

But should do this:

[code]

It should be noted that the other way does work:

[code]

[2021-02-26 00:35] jgostick opened #1874 "Add a reset_models method to generic classes?"
All the model definitions are in the __init__, so if you want to reset the object for some reason you can't.  We could add a ``reset_models`` method that initializes a dummy class, fetches all the model params, and re-writes the ``models`` dict on itself.  This is a bit of an edge case for sure.

[2021-02-28 03:47] jgostick opened #1877 "Use a more functional logger package?"
https://github.com/Delgan/loguru

[2021-02-28 03:47] #1847 closed, assigned to nobody

[2021-03-01 14:07] ma-sadeghi opened #1878 "Use Airspeed Velocity for benchmarking"
https://github.com/airspeed-velocity/asv

[2021-03-01 15:28] jgostick commented on #1229
Instead of using this proposed software, we'd be better off to double-down on the use of Petsc, who have recently added a [graph/network module](https://www.mcs.anl.gov/petsc/dmnetwork/index.html)

[2021-03-01 15:35] jgostick commented on #1606
not sure about interpolating, but we should change args to remove the ``throat_`` and ``pore_`` business.  Just ``diffusivity`` and the function looks up ``'pore.' + diffusivity'`` and ``'throat.' + diffusivity'``.  This would be a break change since it alters the api of the models.

For any models that NEEDS different values, they are welcome to use ``pore_blah`` and ``throat_blah``.

[2021-03-01 15:40] jgostick commented on #1579
Firstly, I'm not sure that a single 'joint pore' is a good idea since it loses the 'heterogeneity' of the pore network.  It's probably better to keep the pore-to-pore connections.

I have added a function that accomplished the 'automatic' stitching of pores between a pore network and a continuum region.  The function is called [merge pores](https://github.com/PMEAL/OpenPNM/blob/743707ddcf56c4e229c

[2021-03-01 15:57] jgostick commented on #1497
Docrep works in Spyder, Jupyter Notebook, Jupyter Lab, and Sphinx.  I think trying to support all possible IDEs is not feasible, so I'm willing to close this and forget it.

[2021-03-01 16:18] jgostick commented on #1878
Also discussed in #1717

[2021-03-07 18:08] avlmachado opened #1880 "Different values ​​between set_rate_BC input and calculated rate value in the advection-diffusion algorithm"
When running the transient advection-diffusion algorithm the defined rate in the boundary is not assured. I don't know if I'm making a mistake or it is a bug. Shouldn't the defined and calculated value be the same?

The test code is:

[code]

[2021-03-08 00:32] ma-sadeghi commented on #1880
Thanks for reporting this. This is almost certainly a bug. We'll investigate and report back here.

[2021-03-08 17:53] mkaguer commented on #1880
Hi @avlmachado. @ma-sadeghi asked me to look into this. I think the problem is that your system is not at steady state. Only at steady state will the net rate calculated be equal to the total_rate specified. It looks like your problem has a very long time scale. First try setting t_scheme to 'steady'. You should notice that the calculated rate now equals the rate specified. After that, try using r

[2021-03-08 20:04] avlmachado commented on #1880
Hi @mkaguer and @ma-sadeghi , thank you for the quick answer.

Indeed, testing higher injection velocities the rate values start to get close.

I agree that the concentration rate in the inlet and the outlet should be the same only in the steady-state.
However,  I think the Neumann boundary condition used in the inlet and the calculated value in the inlet should be the same at all times.

Checking

[2021-03-08 20:42] mkaguer commented on #1880
Hi @avlmachado. It's important to note that set_rate_BC is not a neumann boundary condition. I understand that can be confusing but the rate BC is better thought of as a source term rather than a Neumann boundary condition. The rate BC adds a constant rate of either consumption or generation to the specified pores. Does that help?

[2021-03-09 03:20] ma-sadeghi commented on #1880
@avlmachado One issue that I see with your simulation is that you're pumping mass into your domain from "left" pores, and forcing zero gradient at "right" pores, but don't have any source terms. Not sure if it's relevant though.

[2021-03-10 14:10] jgostick opened #1881 "notebook example on voronoi networks contains incorrect info"
The notebook for [voronoi tessellations](https://github.com/PMEAL/OpenPNM/blob/dev/examples/notebooks/networks/generation/random_networks_based_on_delaunay_and_voronoi_tessellations.ipynb) is a duplicate of the cubic example.

[2021-03-10 22:43] jgostick opened #1882 "Track progress of iterations in reactive transport"
I am finding myself wanting to plot the concentration vs iteration number in a reactive transport algorithm, but we don't store this info anywhere.

[2021-03-11 01:52] ma-sadeghi commented on #1880
@avlmachado I also checked with COMSOL (a commercial FEM solver), and indeed, when you impose a flux on a face, the flux changes over time in a transient simulation. This is because the flux right before `x = 0` (call it J-) and the one right after `x = 0` (call it J+) only match at steady state. In a transient simulation, they always differ by `dc/dt`, and so, when you ask for the rate via `alg.r

[2021-03-11 01:52] ma-sadeghi commented on #1880
@avlmachado I'm closing this issue, feel free to reopen in case you still have questions.

[2021-03-11 01:52] #1880 closed, assigned to nobody

[2021-03-12 22:43] jgostick commented on #1882
Basically we should add something like ``self[quantity + '_' + str(itr)] = x`` on [line 362 of ReactiveTransport](https://github.com/PMEAL/OpenPNM/blob/743707ddcf56c4e229c95ff528210eae3b42ea73/openpnm/algorithms/ReactiveTransport.py#L362)

[2021-03-12 22:43] jgostick commented on #1882
But it would need to be controlled via settings of course, to disable most of the time.

[2021-03-13 01:07] ma-sadeghi opened #1884 "Should we test the output of examples notebooks?"
Every now and then, we're sprinkling the notebooks with `# NBVAL_IGNORE_OUTPUT`. It makes me wonder (as @jgostick once suggested) that maybe we shouldn't really check the output of examples. As long as they don't fail, it should be good. The only downside is that we lose those "few" notebooks that indeed help us catch inconsistencies (like those related to effective properties, etc.). However, we

[2021-03-14 04:46] jgostick commented on #1884
I just updated an example and wrote # NBVAL_IGNORE_OUTPUT in EVERY SINGLE CELL!  It's ridiculous.  We don't need the notebooks to act as unit tests.  We need to make sure they run, but that is all.  If we can JUST catch the case where a notebook outputs an exception, or doesn't execute all the cells, then I say let's do it.

Also, if we REALLY need the notebook to be correct, then we can add an ``

[2021-03-14 04:48] jgostick opened #1886 "Re-arrange the documentation...yet again"
The grand unified theory of documentation:  https://documentation.divio.com/

[2021-03-14 13:58] ma-sadeghi commented on #1884
100% agreed. Another nuisance is that every now and then, we update one of the main classes (add/remove attributes, etc.) that causes a whole bunch of notebooks to break, just because `print(object)` has produced something slightly different (for instance, when we added `iterative_props`, we had to update many examples).

[2021-03-16 17:02] jgostick opened #1887 "Quick visualization with matplotlib is annoyingly limited"
Plotly offers 3D visualization of graphs:  https://plotly.com/python/v3/3d-network-graph/

[2021-03-22 22:15] ma-sadeghi opened #1889 "Refactor (overhaul?) GenericTransport"
There are a few issues that come to mind:

# Unnecessary methods
`GenericTransport` currently has `_get_domain_length`, `_get_domain_area`, `_get_inlets`, `_get_outlets`, and `_calc_eff_prop`. In my opinion, the first 4 are not really the algorithm's business and thus should be removed. The last one, `_calc_eff_prop`, is also a post-processing thing, and might not really belong to the algorithm.

[2021-03-23 01:26] jgostick commented on #1889
This all sounds pretty well thought out and correct.

[2021-03-23 09:49] Eravalord opened #1890 "Regenerate models drops error after structure modification"
Dear all,

I encountered a problem while modifying the structure of a cubic network. The modifcations consist of pore merging, network extension with new pores, establishment of new connections (and correspondingly adding them to a geometry). And it seems everything goes quite well until a certain point, where regenerate_models causes this error:

![image](https://user-images.githubusercontent.com

[2021-03-23 12:31] ma-sadeghi commented on #1890
@Eravalord Can you share the shortest possible script that reproduces this bug so we can look into it?

[2021-03-24 16:39] jgostick opened #1891 "Ability to handle diverging cones?"
As discussed in [this issue](https://github.com/PMEAL/porespy/issues/97) on PoreSpy, it can occur that throats are larger than the two pores which they join.  This is not necessarily unphysical.  ]

We need to ensure that openpnm's new conductance models (see PR #1604) can handle 'diverging' cones.  The ``cones_and_cylinders`` model is probably the place for this.

[2021-04-02 13:34] #1881 closed, assigned to nobody

[2021-04-05 17:23] jgostick opened #1895 "Add lloyd_relaxation arg to Voronoi and Delaunay tellesllations"
https://en.wikipedia.org/wiki/Lloyd%27s_algorithm

[2021-04-12 14:14] jgostick commented on #1744
This would break all the dependency handling, so it's a no-go.

[2021-04-12 14:40] jgostick commented on #1650
Yes, this is pretty much mandatory.  For instance...if network has 'pore.diameter', and you add a few new pores (i.e. boundary pores), and attempt to add a 'pore.diameter' model to them, it will fail.  You must move 'pore.diameter' off of network and onto it's own geometry first, THEN you can add 'pore.diameter' to the new pores (on their own separate geometry).

[2021-04-12 15:19] #1878 closed, assigned to nobody

[2021-04-12 15:19] #1877 closed, assigned to nobody

[2021-04-12 15:21] #1841 closed, assigned to nobody

[2021-04-12 15:22] #1759 closed, assigned to jgostick

[2021-04-12 15:35] jgostick commented on #806
We have decided to implement this functionality with ``chemicals`` instead of canterra, so I'm closing this.

[2021-04-12 15:35] #806 closed

[2021-04-12 15:37] jgostick commented on #1581
This is too easy to do manually afterwards, just with ``pn['pore.coords'] += [0, 0, 1]`` for example.  There is no need to clutter the init of the class with this.

[2021-04-12 15:37] #1581 closed, assigned to nobody

[2021-04-12 15:41] jgostick commented on #1884
We should do the same thing we're doing in PoreSpy, just run the book and make sure it completes.

[2021-04-12 15:48] jgostick commented on #1874
Another option would be to add a hidden method where all the models are added, which is called during init, and can be re-called at any point.  The downside of this is that 'custom' classes made by users would not necessarily know to put the models in this hidden function, so the ``reset_models`` method will call this hidden method and find no models there.

[2021-04-12 15:48] #1874 closed, assigned to nobody

[2021-04-13 19:39] mkaguer opened #1898 "Fix pore seed distribution in StickAndBall2D class"
https://github.com/PMEAL/OpenPNM/blob/c01c5d3433c411bc69968feb7847cd2e3ba2eaa3/openpnm/geometry/StickAndBall2D.py#L178

Fixing StickAndBall2D class to have same pore seed as StickAndBall. View link above to see how num_range=[0.5, 0.5] but should be num_range=[0.2, 0.7] to be like StickAndBall. I am making PR to fix it.

[2021-04-13 20:02] ma-sadeghi opened #1900 "Add the ability to trim pores by label"

[2021-04-16 20:04] mkaguer opened #1901 "Remove lines that store peclet numbers"
https://github.com/PMEAL/OpenPNM/blob/c01c5d3433c411bc69968feb7847cd2e3ba2eaa3/openpnm/models/physics/ad_dif_mig_conductance.py#L175

https://github.com/PMEAL/OpenPNM/blob/c01c5d3433c411bc69968feb7847cd2e3ba2eaa3/openpnm/models/physics/ad_dif_conductance.py#L97

These lines of code can be removed. No need to export peclet numbers. Also, was creating an issue when you had more than one physics obje

[2021-04-22 13:54] ma-sadeghi opened #1905 "Convenient way to find interconnections between labels"
Suppose we have two labels in the network: `air` and `water`. It would be handy to support the following API (or something similar) to find the interconnections between these two labels:
[code]
we could, of course, choose a different delimiter to avoid confusion, ex. `|`, `-`, `^`, `||`, etc.

[2021-04-22 14:04] jgostick commented on #1905
We currently have ``net.throats(['air', 'water'], mode='or')`` for this.  I see the point of wanting a more concise way to do it, but we need to be careful about being overly cute about it.

[2021-04-22 14:05] jgostick commented on #1905
BTW, if we do decide to do this, I propose the + sign

[2021-04-22 16:23] ma-sadeghi commented on #1905
Would this work if the throats are not labeled?

[2021-04-22 16:44] jgostick commented on #1905
Oh, I see, you're trying to find throats connected to *pores* with given labels.  Hmmm.

[2021-04-22 20:08] ma-sadeghi commented on #1905
Ya, this would be especially handy for multiphase simulations like Li-ion, CL, etc.

[2021-04-22 20:21] jgostick commented on #1905
We would need to add code to the __getitem__ method of ``Base`` to search for the presence of the magic delimeter, and then call an actual method (which may or may not be hidden), so I propose writing the method first.

[code]

A better name is needed.  Also, it could be incorporated into the 'throats' function somehow?

[2021-04-24 23:22] ma-sadeghi opened #1907 "pardiso4py not working on Windows Action"
For some reason, the Windows Action can't find the MKL dlls required for `pardiso4py` to work.

It works fine on my Windows machine though, not sure what's going on. @jgostick @mkaguer @Ni2M @hfathian Could you please run the following snippet on your Windows machine to see whether or not it fails? Thanks!

[code]

[2021-04-24 23:25] mkaguer commented on #1907
@ma-sadeghi seems to work for me

[2021-04-25 00:50] #1898 closed, assigned to mkaguer

[2021-04-25 03:27] #1901 closed, assigned to nobody

[2021-04-25 05:38] ma-sadeghi opened #1908 "Issue runtime warning when network is clustered"
We've already discussed this issue and realized that there are some valid cases where the network is clustered but the solution is valid. However, I think we should still issue a runtime warning. I just came across a clustered extracted network for which `StokesFlow` would diverge, and it took a while before I realized it was clustered.

[2021-05-03 04:23] jgostick commented on #1900
We used to support this.  All the places where you can pass ``pores`` and ``throats`` used to accept arrays OR a string.  The string would just call net.pores('string') for you.  It made the code complicated and unpredictable, so we decided to just force users to do the ``Ps = net.pores(<do label query here>)``.  I think we should stick with this.

[2021-05-03 04:23] #1900 closed, assigned to nobody

[2021-05-03 13:21] jgostick commented on #1908
is probably something that should be in the GenericTransport health/sanity checks

[2021-05-05 01:18] jgostick commented on #1650
Actually, I'm not sure this is a good idea.  There are cases where the pores should end up on different geometry objects, so it's quite a pain to redo this after the fact.

[2021-05-05 01:25] jgostick opened #1910 "Imported Geometry class should accept pores and throats"
Related to #1650, the importing of data should *not* automatically go onto a geometry class, *and* instead the Imported class should accept which pores and throats it applies to.  The intent is that several Imported geometries will be created, each accepting a subset of the pores/throats.

The down side of this is that you have to remember to do this for all the pores and throats or else things wi

[2021-05-05 01:46] jgostick commented on #1910
When generating a geometry for which 'pore.prop' might exist on the network it would be handy if there were a setting that forced the new geometry to 'steal' the properties from the parent object.

[2021-05-05 01:51] jgostick opened #1911 "the private indices method should accept target"
At present target is dealt with in the pores and throats methods so is not general.

[2021-05-05 14:25] jgostick opened #1912 "new shape factor models break on networks with subdomains"
It seems the indexing did not accounting for the possibility that a geometry might not apply to all pores in the network.

[2021-05-10 10:20] kweishaupt opened #1913 "Import error in Base.py"
**Describe the bug**
I get the following error when trying to import openpnm (latest devel version)

[code]
I have updated all packages of `conda` and I am using Ubuntu 21.04.

A colleague of mine using MacOS, `Python 3.9.2` and `openpnm-2.7.0-py3-none-any.whl` gets the same error.

[2021-05-10 13:23] jgostick commented on #1913
You need to update ``docrep`` to the latest version (0.3 or greater).  It's super annoying that pip does not automatically update the dependencies when you update openpnm.

[2021-05-10 13:32] kweishaupt commented on #1913
Thanks, that solved my issue!

There are two further problems related to porespy (installed via `pip install -e path/to/repo`):
* `loguru` needs to be installed manually
* `scikit-fmm` needs to be installed manually

[2021-05-10 13:47] jgostick commented on #1913
We can added loguru to the pip install, but scikit-fmm needs to be done via conda.  We are trying to move to 'mandatory' conda install, but also want the code to work with just pip, so I will update the package to install loguru and to only import scikit-fmm if found.  Thanks.

[2021-05-10 13:47] #1913 closed, assigned to nobody

[2021-05-12 06:57] akin-aroge commented on #1907
Downgrading my version of scipy (from version 1.6.2 to 1.6.0) seemed to resolve the problem. Apparently it's a Scipy issue as per the issue [here](https://github.com/ultralytics/yolov5/issues/241)

[2021-05-18 14:11] mkaguer commented on #1907
I had this issue recently on my laptop. Downgrading scipy like @akin-aroge worked for me!

[2021-05-20 17:23] 1minus1 commented on #1726
@jgostick Can you give some example code on how to assign the high conductance to the boundary throats? I am having the same issue. Alternately, is this an issue that will be resolved in the upcoming release?

[2021-05-29 23:38] jgostick opened #1919 "product, sum, and othe math models should accept a list of props, not just 2 props"
like

[code]

[2021-06-06 15:21] jgostick opened #1920 "Add a plot_trace method to transient algs"
It would be hand to plot the ``'quantity'`` vs time for a transient algorithm.  I have written a small utility for this, which could be added to ``TransientReactiveTransport``:

[code]

[2021-06-06 15:24] jgostick opened #1921 "Algorithms probably don't need to inherit from the Base class"
We did some digging and the algorithms rarely call any of the ``Base`` methods like ``num_pores`` etc.  I think we might be able to just define ``GenericAlgorithm`` as a direct subclass of ``dict`` and that would free up the algorithms quite a bit.  For instance, the data would no longer need to be ``Np`` and ``Nt`` long.  This would allow solving for subsets of pores.

[2021-06-07 01:42] jgostick commented on #1670
I'm actually questioning the wisdom of this.  At the moment we print a descriptive message with each exception, and the python trace back is very detailed.  I am not sure that adding specialized exceptions will make things any more clear, but I am sure that they will be a huge pain in the butt to code, since you have to try/accept based on the expected exception, so this will add a lot of uncertai

[2021-06-07 21:24] Stephen-Dauphinais opened #1923 "TransientAdvectionDiffusion skipping steps when t_step is not a round number"
**Describe the bug**
When ``t_final`` and ``t_step`` are round numbers the number of time steps calculated are as expected. However when ``t_final`` is changed from 10000.0 to 10000.3 several of the time steps are skipped.

**To Reproduce**
Steps to reproduce the behavior, ideally a code snippet that only reproduces the bug:
[code]

**Expected behavior**
I would expect there to be 51 total steps,

[2021-06-10 03:36] jgostick commented on #1887
I got this working:

[code]

[2021-06-10 03:36] jgostick commented on #1887
The above is still slow when the network is large, but at least its zoomable and rotatable.

[2021-06-10 18:24] vasudevanv commented on #1726
@jgostick will this issue be addressed in the release you are planning in the near future?

[2021-06-10 21:08] ma-sadeghi commented on #1383
I think this might be relevant in refactoring OpenPNM. Linear/nonlinear solver parts of the code can be refactored into their own module.

[2021-06-11 02:52] jgostick commented on #1766
We need to discuss the best way to do this.  The first option I think of is passing a pandas dataframe with each row being a pore and each column being the time step, with the entry in the array being the value to apply:

pore | 0 | 10 | 20
--- | --- | --- | ---
0 | 1 | 0.5 | 0
3 | 1 | 0 | 0
11 | 1 | 1 | 1

This is a bit of a pain to program though, especially if there are a lot of pores and chang

[2021-06-11 13:58] jgostick commented on #1726
Hi @vasudevanv and @1minus1.  We are working on V2 of porespy and V3 of openpnm, which will address this issue.  We have a new set of conductance models that are more robust.

Anyway, the best bet for now is to just not use boundary pores.  Put the BCs right inside the domain.  Your estimates will be slightly off, but nothing too serious.  Especially if your domain is large.  The error comes from

[2021-06-11 15:04] vasudevanv commented on #1726
@jgostick That is great news! Thank you. Really looking forward to the v2 and v3 releases.

[2021-06-15 18:39] haasad commented on #1907
@ma-sadeghi, issue on Windows is related to a new version of MKL, see https://github.com/haasad/PyPardisoProject/issues/12
I have a fix in pypardiso, but you need to upgrade your conda-forge package for it to take effect

[2021-06-15 23:31] ma-sadeghi commented on #1907
@haasad Thank you for your input.

I recently saw your conda-forge recipe for `pypardiso`. The reason I had fork it and publish it as `pardiso4py` (per conda-forge people's recommendation) was that we decided to add `pypardiso` as a dependency for `OpenPNM`, but `conda-forge` requires all dependencies to be on `conda-forge` themselves. I wanted to use the original source, but since you didn't repl

[2021-06-16 11:26] haasad commented on #1907
Yes, I stopped working in academia at the end of 2018, so I wasn't very active on github. Also pypardiso "just worked" (until a few weeks ago) for the purpose I wrote it for, so I took a very hands-off approach to maintaining it.

Regarding the conda-forge recipe and the pinning of mkl to 2020 on windows; @cmutel and I started working on a fix for https://github.com/brightway-lca/brightway2-calc/i

[2021-06-16 12:27] ma-sadeghi commented on #1907
@haasad Sure, I'll give it a try on `pip` and will let you know. Thanks!

[2021-06-16 13:56] ma-sadeghi opened #1928 "PyPardiso is now available on PyPI"
These are the changes we need to make:

- [x] Get rid of warnings/exceptions when `pypardiso` is not found
- [x] Add `pypardiso` to our pip dependencies

Note: before making these changes, we need to first make sure that the `pypardiso` on `pip` works fine (i.e. can be installed without any C/C++ compiler).

[2021-06-17 13:41] ma-sadeghi commented on #1907
@haasad I just tried installing `pypardiso` using `pip` in an empty virtualenv and it did work. Thanks :)

[2021-06-17 13:46] ma-sadeghi commented on #1907
To do @ma-sadeghi:
- [ ] Watch this PR: conda-forge/staged-recipes#15106 to be merged
- [ ] Replace `pardiso4py` with the official `pypardiso`
- [ ] Shut down `pardiso4py` repo

[2021-06-23 18:13] ma-sadeghi opened #1929 "Enhance Cubic.add_boundary_pores to better support 2D networks"
If called on a 2D network without explicitly passing `labels`, since it can't find 2 out of 6 labels (left, right, etc.), it skips adding boundary pores altogether. Ideally, it should be smart enough to find relevant axes and add boundary pores only to those (if `labels` not specified)

[2021-06-23 19:12] ma-sadeghi commented on #1929
I was wrong! This is not the case!

[2021-06-23 19:12] #1929 closed, assigned to nobody

[2021-07-05 15:12] jgostick opened #1935 "Profile the Transient solvers to find the bottleneck(s)"
There seems to be something slowing down the transient solvers, at least for small networks.  When comparing to a "pure" solve, the openpnm process is about 10x slower than it should be.  This may only be on small networks...like maybe the overhead is constant so become insignificant as the network gets larger, or maybe we're doing something dumb like recomputing values on each time step that we d

[2021-07-05 15:32] jgostick opened #1936 "Add a Solver class to handle matrix math"
We should provide wrappers around available matrix solvers, like pardiso and cupy, etc.  The ``openpnm.Solver`` class would provide a consistent wrapper for all supported matrix inversion routines:

[code]

Not only would this create a consistent API for all solvers, but would remove a lot of settings from the algorithms.

[2021-07-05 15:53] ma-sadeghi commented on #1935
I profiled a small transient simulation and here are my observations:

- The health checks are not the bottle neck.
- The slowness comes from `update_iterative_props` and a few other places that are part of `openpnm` machinery.
- The slowness becomes irrelevant once the network is large enough.

@jgostick Could you please run a simulation on a 25^3 network using your `solverlib` and compare it wit

[2021-07-05 23:23] jgostick commented on #1935
Yep, the problem disappeared.  In fact it flipped because solverlib uses spsolve and openpnm uses pypardiso, so the solverlib took 89 seconds and openpnm took 4 seconds.  And when I tell openpnm to also use spsolve, it also takes 90 seconds, so nearly identical.

[2021-07-05 23:23] #1935 closed, assigned to nobody

[2021-07-12 16:11] jgostick opened #1939 "Remove setup from algs"
This was created so that we could have a place to put the docstring for each setting.  Now hat we use Docrep, the explanation for each setting has a proper home.

[2021-07-12 16:12] jgostick opened #1940 "Remove save/load methods from io classes"
We are now using the terms 'export_data' and 'import_data', which more clearly specify that you only get "data", rather than saving the whole simulation. The OpenPNM IO class does have an actual save method.

[2021-07-12 16:19] jgostick commented on #1766
At present you can do this:

[code]

One option is to add a ``continue`` method to alg:

[code]

The ``continue`` method will need to look up the current time by looking ``t_final``, then doing the specific steps mentioned above for the user (i.e. adjusting the settings and setting ICs).

[2021-07-12 16:25] jgostick opened #1941 "Consider geting rid of pore.all and throat.all"
These two labels were conceived to provide default values for the ``pores`` and ``num_pores`` methods. We could just have the default as ``None`` and get the same behavior.  Removing these would eliminate several safety checks we have in the code, such as preventing users from over-writing them.  It's also a bit confusing to see these seemingly pointless labels in the dictionary.

[2021-07-12 16:31] jgostick opened #1942 "Convert all IO classes to simple functions"
All the methods on the IO classes are 'classmethods' which mean that you don't have to instantiate the objects.  This is a sure sign that we should just have them all as functions, like:
``op.io.porespy.import_data``.  There are 4 methods on the generic IO class that each inherits, but these can be put in a utils folder and called as needed.

[2021-07-12 16:41] jgostick opened #1943 "Consider storings 'parameters' on objects, including algorithms and projects"
It might be handy to have a ``parameters`` attr on all objects to store constant things.  This could be really neat if a 'search' is conducted upstream on higher objects if the value is not found on self, like:

alg.parameters['j0'] -> project.parameter['j0']

This would allow globals constants to be defined, but also enable over-riding if necessary.

On the other hand, this does add some 'behind

[2021-07-12 16:43] jgostick commented on #1644
This is going to be much cleaner after we add the solver and matrix_solver classes, but still a good idea.

[2021-07-13 19:41] #1928 closed, assigned to nobody

[2021-07-15 12:51] ma-sadeghi opened #1945 "Remove the tables of methods/attributes from class docsrings"
While it's really nice to have those tables, they're hard to maintain and might easily get outdated after a while. Users can use autocomplete or just look through the file to see what's available (or just look at examples).

[2021-07-15 14:04] jgostick commented on #1945
Yes I was thinking the same thing.  I was inspired to create those by scipy who have a lots of tables like that, but it does add an extra level of stuff to maintain.  We should just make sure the docs are well designed.

[2021-07-15 18:53] ma-sadeghi opened #1946 "Add lower bound for docrep version to requirements"
Add lower bound to `docrep` version in:
- [x] All of our requirements files, and
- [x] `setup.py`

[2021-07-15 18:53] ma-sadeghi commented on #1946
@Ni2M Could you please do this? Thanks!

[2021-07-15 19:04] Ni2M commented on #1946
For sure. Thanks.

[2021-07-16 14:30] ma-sadeghi opened #1949 "_calc_eff_prop should return a float, not an ndarray"
Currently, `_calc_eff_prop` returns an `ndarray` with only 1 element. I think we should just return a `float` so we don't have to index into the results to get `Keff`:

[code]

[2021-07-17 01:53] ma-sadeghi opened #1950 "Base.set_label could use some refactoring"
`Base.set_label` could use some refactoring, especially to simplify the logic (simplify the complex `if-else` structure, etc.). Also, it seems that the `mode='add'` is not enforced. I mean, if `mode` is not in `['purge', 'remove', 'overwrite']`, it might as well be any other string, it works the same as `mode='add'`. This is not a bug, but like I said it could be a bit cleaner. Obviously, not urge

[2021-07-17 01:57] ma-sadeghi opened #1951 "alg.settings['sources'] should be a set, not a list"
We want `alg.settings['sources']` to be unique, so why not change its data type to `set`? This gets rid of some manual checks we do here and there, for instance:

https://github.com/PMEAL/OpenPNM/blob/bdb1daac683aa1192ad5f826c0d644395e0adde6/openpnm/algorithms/ReactiveTransport.py#L219-L220

Clearly, not urgent at all, just a note for future.

[2021-07-20 13:47] #1946 closed, assigned to Ni2M

[2021-07-26 14:03] ma-sadeghi opened #1955 "Add alg.x as a helper property to easily access alg[quantity]"

[2021-07-26 14:22] ma-sadeghi opened #1956 "Allow passing scalar values as argument to built-in source term models"
Something like:
[code]

[2021-08-03 04:08] jgostick opened #1960 "Add intersecting cones and pyramid models"
It might be handy to have pore-scale conductance models with no throats...just two cones or pyramids intersecting at the throat centroid.

[2021-08-12 20:16] NiveKulkarni commented on #1700
Hello!

I am trying to use a similar method to stitch two phases in the extracted network. My  3D geometry has three phases. I have extracted PNM using the snow algorithm and now I need to stitch two phases such as I could use the stitched phase as a single domain (with two subdomains).  During stitching operation, I have to use all the pores (internal and boundary), but I am getting this error

'

[2021-08-12 21:01] jgostick commented on #1700
I'm sorry, but it's not really clear from your explanation what you're trying to get.  Could possible draw a 2D example?

BTW, the error your getting is an OpenPNM object management issue, not any sort of fundamental block.  Once I see what you're trying to do I may be able to suggest a plan.  If not, then I can take a look at your code to see about that error.

[2021-08-12 21:33] NiveKulkarni commented on #1700
![OpenPNM_stitching](https://user-images.githubusercontent.com/45998719/129272043-8198563f-da34-48b6-bba6-77313e487b68.JPG)

Thank you so much for the super quick reply :)

Phase 1 and phase 2 undergoes a chemical reaction and forms one solution.  The solution then reacts with Phase 3. Hence,  to solve the first reaction chemistry, I am planning to use merge phase 1 with  2

The steps I followed h

[2021-08-12 21:34] NiveKulkarni commented on #1700
error

![image](https://user-images.githubusercontent.com/45998719/129273150-9fb4a8d6-a756-40db-9806-77654fa31eec.png)

[2021-08-13 00:46] jgostick commented on #1700
Could you use the new snow2 algorithm in porespy v2?  It automatically extracts networks for multi-phase images.

https://porespy.org/modules/generated/porespy.networks.snow2.html

[2021-08-27 19:17] Ni2M commented on #1887
I agree. Plotly has interesting features, slow though. I've used their examples, recently (https://github.com/drjarno/publish/blob/master/plotly.md).
The provided code was great! I just played around it to just add diam labels and colors based on pore diameter:
[code]
The final result:
![image](https://user-images.githubusercontent.com/43128873/131178020-313791bb-4a04-4e40-acb0-11b89766895b.png)

[2021-08-28 11:35] s-lunowa opened #1972 "Bug/Typo in the setup method of the class TransientAdvectionDiffusion"
In line 83 of the class TransientAdvectionDiffusion, the setting name has a typo:
https://github.com/PMEAL/OpenPNM/blob/5e056ce5aba491a95dc9546e30966a65e80d9dfc/openpnm/algorithms/TransientAdvectionDiffusion.py#L83
Instead of the setting `t_tolerance`, it should set `t_precision`, so I suggest the following easy fix:
[code]

[2021-08-28 11:47] s-lunowa commented on #1972
The same issue occurs in line 83 of the class TransientIonicConduction:

https://github.com/PMEAL/OpenPNM/blob/5e056ce5aba491a95dc9546e30966a65e80d9dfc/openpnm/algorithms/TransientIonicConduction.py#L83