[2019-01-16 07:49] mtembel commented on #1146
@ma-sadeghi , sorry for my delayed response. Actually I got x2 factor only by running openpnm on a network extracted by ICL  maximum ball code--not with porespy...

[2019-01-18 22:19] jgostick commented on #1189
This is NOT an error.  There is a specific check in the code to raise an exception if the network is only 2D.  This is because the meaning of area is lost in 2D, so the user must specify it (i.e do they want to assume unit length in the missing dimension, or one lattice constant).

[2019-01-18 22:19] #1189 closed

[2019-01-18 22:30] jgostick commented on #1194
Here is a snippet that illustrates the problem:

[code]

It gives an area around 0.1 instead of 1.0

[2019-01-19 03:30] jgostick commented on #1194
Fixed in PR #1200

[2019-01-19 03:30] #1194 closed

[2019-01-19 04:47] jgostick opened #1201 "Mixtures again"
We have come across the need for mixtures again.  In this case it is finding the electrical conductivity of an ionic solution of multiple components.  We should start discussing this at the next telecon.

[2019-01-19 15:46] ma-sadeghi opened #1202 "Add flatdict, unyt, and transforms3d to dependencies"

[2019-01-19 17:40] jgostick opened #1203 "coplanar is buggy"
In some cases, the vectors is chooses can be parallel, so the 'rigorous' check of planarity will always pass.  Need to add a check to ensure these basis vectors are not parallel.

[2019-01-19 18:08] jgostick commented on #1203
Fixed in PR #1200

[2019-01-19 18:08] #1203 closed

[2019-01-19 18:10] jgostick commented on #1202
These are specified in setup.py already.  If you don't have them, then you may not have done ``pip install -e openpnm`` in a while.

[2019-01-19 18:10] #1202 closed

[2019-01-19 19:44] ma-sadeghi commented on #1202
@jgostick I'm OK with it, but the folks at Dragonfly wanted it so they can find it and install it for the plugin to work.

[2019-01-20 03:35] jgostick commented on #1159
This is addressed in PR #1204

[2019-01-20 03:35] #1159 closed

[2019-01-20 05:12] #1186 closed

[2019-01-20 05:15] jgostick commented on #1185
This would just be confusing

[2019-01-20 05:15] #1185 closed

[2019-01-20 09:47] wangyihang12 opened #1205 "Some questions about codes in example"
There are some questions in these codes copied from your website about fluid flow and thermal conduction. In my view, it can be the problem caused by different version in Python or the different version in Openpnm or the system in Linux and Windows. I try to use different version of Openpnm but I did not solve them so I list my questions here and want to learn more things from your reply.

Firstly

[2019-01-21 15:07] TomTranter commented on #1205
Hi,
It looks like a whole bunch of different problems. Please post the full scripts you are running for each one. The last error is definitely wrong syntax but I'm not sure where you would have got the idea to put shape='cubes' we have never supported this...

[2019-01-21 17:45] jgostick opened #1206 "Telecon for Jan 22, 2019"
Mostly, we need to clear up the open PR.  Too many open for too long makes things very difficult to merge.

1.  #1200 - Using bounding box for area and length: Overview and discussion
2.  #1204 - Allowing retrieval of nested dicts: A good idea or not?  Discuss current limitations.
3.  #1167 - Assigning Geometries to all pores and throats by default: keep or delete?
4. #1140  - Adding preset algori

[2019-01-21 17:50] jgostick opened #1207 "Should apply_trapping adjust invasion sequence arrays?"
When ip is run it creates and invasion_sequence array for both pores and throats.  This is being returned via the ``results`` method (if we accept PR #1179 ).  However, after we have run ``apply_trapping`` the sequence changes but the initial invasion sequences are not changed.  At present trapped pores are just set to -1.

In the #1179 PR, I have
(1) set the invasion sequence of trapped pores to

[2019-01-22 19:00] TomTranter commented on #1207
What's wrong with -1?

[2019-01-22 20:21] TomTranter commented on #1206
7. Brief update on Dragonfly plugin
8. What happened to pip_requirements?

[2019-01-22 22:17] jgostick commented on #1149
I'm proposing to add an IF to the conductance models, that if 'throat.conduit_lengths' is not found, then 'throat.lengths' is used instead.

[2019-01-23 16:19] jgostick opened #1208 "Name for prewritten algorithm submodule"
Options so far are:

* analysis
* metrics
* characterize or characterization
* diagnostics

Reservoir engineers use the terms RCA and SCA, meaning regular and special core analysis, so the work analysis might be suggestive.

We have a module in PoreSpy called metrics, which takes an image and return numerical values, so this would be analogous to that.

characterization is probably the preferred t

[2019-01-25 03:43] jgostick commented on #1146
This is being addressed in detail by several more specific issues, so I'm going to close this one

[2019-01-25 03:43] #1146 closed

[2019-01-25 03:44] jgostick commented on #1173
fixed in PR #1174

[2019-01-25 03:44] #1173 closed

[2019-01-25 03:46] #1206 closed

[2019-01-25 17:58] magnaou opened #1209 "set_value_BC and set_rate_BC in GenericTransport should accept mode"

[2019-01-27 03:17] jgostick commented on #1209
what do you mean by mode?  Like overwrite vs merge (or add), vs remove?

[2019-01-29 10:11] jhummel63 opened #1210 "Exporting to Statoil format"
Hello,
I have seen that the statoil format is available for import. Is there any plan to support exporting an openpnm network to the statoil format?
I would like to visualize a network in avizo which supports the statoil format.
thanks a lot
best regards

[2019-01-29 15:20] jgostick commented on #1210
The statoil format is a mess!  It's 4 files with redundant info all over, and is poorly formatted.  I don't want to support export if at all possible...but I'm happy to support something else that Avizo can open.  I think @neumannrf created an issue suggesting that we export to PerGeos format....which I believe is the Avizo preferred or standard format?  Would this work for you?  Any chance you wa

[2019-01-29 17:10] jhummel63 commented on #1210
That would work even better yes! You are right, the am file format is the native one for both Avizo and Pergeos. I won't be able to help contributing but I can provide files example and explanations on how to support the format.

[2019-01-30 16:54] jgostick commented on #1210
Ok, file examples would be a great start.  Either attadh to this thread or send to me by email (jgostick at uwaterloo dot ca)

[2019-01-30 17:56] neumannrf commented on #1210
@jhummel63 I was willing to support @mbandreeta in the development of this extension, but we did not go far. Our goal was to provide some interoperability between the codes that each one of us uses.
I cannot do it alone, for the simple fact that I down own a license for that commercial software, so I couldn't possibly test anything by myself.

[2019-01-30 18:31] jgostick commented on #1210
This is perfect then... @jhummel63 can supply us with an example file, @neumannrf and @jgostick can make the IO class, and @jhummel63 can test that it outputs a usable file.  When @jhummel63 sends me an example file, I'll forward it to you Rodrigo.

[2019-02-01 05:39] jgostick commented on #1210
I was in the mood to code tonight, so I actually wrote up save and load functions in a new PerGeos class.  I have pushed it to github and will make a PR.  @jhummel63 are you able to download this new code and try it out?  Or, perhaps I will load the files you sent me INTO openpnm, then back out to pergeos format, and send you the results to see if they open up in Avizo?  I got the formatting nearl

[2019-02-01 11:35] jhummel63 commented on #1210
Great! yes please send me the results of the save function. I'll test if they can be loaded.
it's a minor detail but it would be best to call the class AmiraMesh. This is what am stands for and is the file format used by Avizo, Amira and PerGeos.

[2019-02-04 16:18] jgostick opened #1213 "Bug in Bravais when mode = 'sc'?"
When doing the following, it seems that the pore sizes are all too small:

[code]

[2019-02-12 10:55] jhummel63 commented on #1210
The attached file fixes the amira mesh save function, this includes all the basics for loading the file in avizo and allows saving any openpnm network. Still missing many openpnm parameters such as pore volume or throat length parameters...
[PerGeos.zip](https://github.com/PMEAL/OpenPNM/files/2855377/PerGeos.zip)

[2019-02-12 10:55] #1210 closed

[2019-02-12 20:55] jgostick opened #1215 "regenerate_models is slow"
It takes about 2 seconds, when solving the network takes 2 ms.  I guess this is from the graph construction-lookup for property dependence.  As a first fix, we should make sure this is only called when really needed.

[2019-02-27 10:40] samanjalilian opened #1218 "Dual networks for simulating heat and mass transfer"
Hello all
I have some questions in openpnm and I'd really appreciate if you could help me.
I'm using openpnm 2.0.3 and i have faced some problems in Dual networks.
i want to simultaneously simulate a reaction-diffusion mechanism in Voids and heat transfer in solid, so i  used Dual networks for my work. i used secondary network for simulating reaction-diffusion, and the primary network for Heat tra

[2019-02-27 10:48] samanjalilian opened #1219 "Tortuosity in openpnm"
hello all
i have a question in openpnm
how can i calculate the tortuosity of a pore network generated in openpnm? ( i mean like a cube or cylinder generated by openpnm.networks.Cubic ) , i have looked at another python packages( Pytrax and Porespy ) and these packages are dealing very good with any kind of complex porous medias (like sphere packs) , but i didn't find any options related to calcula

[2019-03-31 09:38] lanetszb opened #1223 "Import of network generated by porespy"
Dear Team,

We have extracted the network using porespy and now are trying to import this network into openPNM.

We use methods Dict.load and Dict.from_dict. While the first one works, the second method gives an error saying:

line 76, in from_dict
    objs['base'][path[-2]][path[-1]] = d[item]
IndexError: list index out of range

We have tried to pass two different 'delimiter' arguments:
 1) from

[2019-03-31 14:57] jgostick commented on #1223
Hi Zak, I will investigate this, but the easiest way to get into openpnm is:

[code]

where ``net`` is the dicitonary returned from the ``snow`` extraction algorithm.  This illustrated in [this example](https://github.com/PMEAL/porespy/blob/master/examples/networks/snow_basic.ipynb).

[2019-03-31 15:26] jgostick commented on #1223
I see that the ``from_dict`` method does not work on the dict produced by PoreSpy, which is obviously a problem.  I will remedy this asap.  I also notice, embarrassingly, that ``ps.io.to_openpnm`` also does not work!  We changed openpnm's file format to accept a list of dicts, and failed to update this method.  Oy.  The unit tests should've caught that, but I see we didn't write a proper test.  I

[2019-04-02 20:13] jgostick commented on #1219
Hi @samanjalilian
So sorry for the late response.  You probably don't need this answer anymore, but I'll post it anyway.  Basically, you have to find the 'effective diffusion coefficient' (Deff) of the network, then find tortuosity from:

Deff/DAb = porosity/tortuosity

This of course also requires finding porosity, which is relatively simple....just add the pore and throat volumes, then divide by

[2019-04-02 20:13] #1219 closed

[2019-04-02 20:14] jgostick commented on #1218
This is a tricky thing to do, but we are in the process of making it easier.  We will have a big coding marathon here next week, and this will be one of the things we address.  I'll get back to you after than.

[2019-04-02 20:19] #748 closed

[2019-04-02 20:19] #581 closed

[2019-04-02 20:19] #660 closed

[2019-04-02 20:21] #1050 closed

[2019-04-02 20:21] #768 closed

[2019-04-02 20:25] jgostick commented on #1208
Seems like metrics is the natural choice.

[2019-04-02 20:25] #1208 closed

[2019-04-04 10:19] samanjalilian commented on #1218
Thanks for your help Mr. @jgostick ,  I'll follow up future conversations in this page

[2019-04-04 17:54] ma-sadeghi opened #1228 "OpenPNM and porespy are cyclically dependent"
`OpenPNM` is listed as a dependency for `porespy` and vice versa. It's not a major problem, but I'm not sure it's a good practice either.

[2019-04-07 01:16] #1196 closed

[2019-04-08 01:11] jgostick commented on #1223
Ok, the changes are not yet merged into dev or master, but both porespy and openpnm have been tweaked to improve interoperability.  You can now do any of the following to get data from porespy to openpnm:

Assuming the extracted network is in a dictionary called ``net``:

* Open dict directly in OpenPNM
[code]

* Create empty network and update with dict by hand:
[code]

* Save to an OpenPNM proje

[2019-04-08 01:11] #1223 closed

[2019-04-09 08:49] TomTranter commented on #1228
Yep, this was done as some of the network extraction functions were written in OpenPNM already. I don't think it really matters but could conceivably refactor stuff to avoid it. Also Porespy has examples that use OpenPNM and probably visa versa so it may not be worth worrying about

[2019-04-09 11:37] TomTranter opened #1229 "Transient simulations, non-dimensionalization, and equivalent circuit networks"
We are already aware that the transient simulations are physically suspicious regarding the use of our diffusion analogies for ohmic and fourier conduction. I have been recently thinking about this problem as it pertains to battery simulation. Quite an interesting modelling technique with broad similarities to PNMs for modelling batteries and electrochemical devices are equivalent circuit networks

[2019-04-09 15:01] ma-sadeghi opened #1230 "Bug in find_neighbor_bonds"
If you have a network that has a pore with no connected throats, then if you call `find_neighbor_throats` on that pore, it should give `[]`, instead it throws `IndexError`.

Here's how to reproduce it:
[code]
[code]

The error comes from this line (218):
[code]
The problem is that because pore 99 does not have any throats, it doesn't appear in `am`, so the maximum addressed row or column is not 99

[2019-04-09 16:49] #1195 closed

[2019-04-09 18:05] jgostick commented on #809
I can't seem to reproduce this, so I will close for now.

[2019-04-09 18:05] #809 closed

[2019-04-09 18:16] #1213 closed

[2019-04-09 18:31] ma-sadeghi opened #1233 "Reaktoro package for handling chemical reactions"
https://reaktoro.org/overview.html

[2019-04-09 19:57] ma-sadeghi commented on #1124
I double checked and it seemed to work as expected.

[2019-04-09 19:57] #1124 closed

[2019-04-11 05:36] HongyangWangUniversityofRegina opened #1237 "Phase Change in Porous Media"
I am wondering if OpenPNM can fulfill the process of a bubble nucleation from supersaturated fluid at specified nucleation sites?

[2019-04-11 13:16] jgostick commented on #1237
That seems possible.  Starting an invasion percolation process from multiple sites is possible, these invading bubble clusters would grow and merge with each other.  Eventually they would reach the boundary of the domain and stop growing.

The tricky part would be the exsolution of the gas from the supersaturated solution into the gas bubbles. We don't have a built-in way to do this since we can't

[2019-04-11 16:40] HongyangWangUniversityofRegina commented on #1237
Hi Prof Gostick,

I am currently studying a foamy oil phenomenon in Canadian heavy oil
recovery, including injecting gaseous solvent into the porous media to form
in-situ upgrading of oil properties such as reducing the viscosity. The
bubble nucleation from specific sites have to be considered. Also, this
nucleation behavior might be affected by other injecting aqueous phase.

I read some articles

[2019-04-11 17:16] jgostick commented on #1237
We can for sure do nucleation and bubble growth from specified sites....it's the thermodynamics afterwards that is tough.  See our paper in [Electrochimica Acta](https://doi.org/10.1007/s10800-017-1126-6) for an example of doing multiple nucleation and subsequent growing and merging of nucleated clusters.

[2019-04-11 20:14] #1230 closed

[2019-04-13 21:13] kay1kh commented on #1176
I am currently working with a pore network generated in Statoil format by the newer version of the "pore network extraction code" developed by Dr. Blunt's group published in 2018. You can find the code here: https://github.com/aliraeini/pnextract
The output is still the same: 4 files for throats and pores (the newer version is a combo of maximal ball and medial axis methods) with improved performa

[2019-04-15 14:51] ma-sadeghi commented on #1108
Each element in `pore.area` is for a single entity, whereas that for `throat.conns` and `throat.conduit_lengths` are for multiple entities. So, it seems that we're consistent with the naming.

[2019-04-15 14:51] #1108 closed

[2019-04-15 14:52] ma-sadeghi commented on #864
It seems that it's gotten fixed

[2019-04-15 14:52] #864 closed

[2019-04-15 15:23] #1149 closed

[2019-04-15 15:24] #1143 closed

[2019-04-15 15:31] jgostick commented on #1201
After some discussion this morning, this feature will enhanced quite a bit.  The plan is:
1.  Create a new subfolder under ``phases`` called ``components`` to house things like ``NaIon`` and ``ClIon`` classes
2.  Create a GenericMixture class, which accepts a list of ``components`` which are instantiated objects, either a normal phase like water, plus some components like Na and Cl.
3.  The Generi

[2019-04-15 22:55] jgostick commented on #1209
fixed...apparently you were just referring to missing info in the docstring, because these functions already accepted mode.

[2019-04-15 22:55] #1209 closed

[2019-04-15 23:10] #1132 closed

[2019-04-16 02:02] jgostick commented on #1151
There is nothing we can do about this.  The only option is for users to either use consistent versions of openpnm between saving and load, or for them to save the data to something like CSV.

This does suggest that maybe there is a better way to save data, but I don't see how we could save all the model info and arguments and such without doing an actual pickle.

[2019-04-16 02:02] #1151 closed

[2019-04-16 02:03] jgostick commented on #1135
Fixed in PR #1241

[2019-04-16 02:03] #1135 closed

[2019-04-16 02:03] #1126 closed

[2019-04-16 02:04] #1058 closed

[2019-04-16 02:06] jgostick commented on #687
We have added a MultiPhase class that does this...sort of.  I will close this on the basis that we'll be fleshing out the multiphase class over the next little while and the issue should be more clearly understood then.

[2019-04-16 02:06] #687 closed

[2019-04-16 16:26] magnaou commented on #997
Done on PR #1242.

[2019-04-16 16:26] #997 closed

[2019-04-17 02:12] #1176 closed

[2019-04-18 15:52] ma-sadeghi opened #1244 "Add regen_mode as argument when instantiating geometries, etc."
When experimenting on large networks, it would be nice if `regen_mode` could be passed during instantiation of objects such as `StickAndBall`, `Standard`, etc. such that it would affect all containing pore-scale models. This is advantageous because sometimes you need the base object (ex. `Standard`), but would like to change one specific pore-scale model, and without passing `regen_mode=deferred`,

[2019-04-19 18:43] jgostick commented on #1116
This seems to be fixed.  @TomTranter added a find_full_domain function that is being used in the offending functions, and this seems to have fixed the problem.

[2019-04-19 18:43] #1116 closed

[2019-04-19 18:48] jgostick commented on #1177
This is not really necessary if the model is written correctly.  If the model requires it, then the model author should use the ``find_full_domain`` method on the project to get a handle to the network.  This is actually more general since it would allows the model to be put on all objects, not just networks.  In summary, writing models that can ONLY be assigned to networks breaks our intention to

[2019-04-19 18:48] #1177 closed

[2019-04-19 20:14] jgostick commented on #1141
We have decided on an outline for this:  We've already added a metrics submodule under algorithms, and will divide it into further categories, for diffusion and permeability, etc.  I think we are far enough along this that I can close this issue...in the name of de-cluttering the issues list.

[2019-04-19 20:14] #1141 closed

[2019-04-19 20:15] jgostick commented on #1136
This is essentially done.  I'm just lingering on the question of adding a 'pseudo pore' but I think that might be a bit too hard for now.

[2019-04-19 20:15] #1136 closed

[2019-04-19 20:17] jgostick commented on #946
This is something that we just have to live with.  Also, it seems like this has been fixed....at least many cases seem to work fine now.

[2019-04-19 20:17] #946 closed

[2019-04-19 20:17] #1175 closed

[2019-04-19 22:37] #1237 closed

[2019-04-20 15:14] jgostick opened #1247 "Use regen_mode = interative to indicate non-linear properties"
We have been discussing how to iterate on non-linear or non-constant physical properties like power-law viscosity or concentration dependent diffusion coefficient.

After some thought, it occurred to me that setting the 'regen_mode' for these properties to 'iterative' could be enough.  We could alter the algorithm's run method to check for any models with this setting and this could trigger an ite

[2019-04-20 15:40] jgostick opened #1248 "Should conductances models ignore pores with diameter of 0?"
I am working on the ``BundleOf`Tubes``  class for the ``materials`` library.  I am running into a problem:  I want to set the pore diameters to 0 so that all the volume resides in the throats, and all the conductance is from the throats.  This all works EXCEPT the conductance models will treat the pores as having 0 area.

This could be fixed if we adjusted the conductance models to somehow ignore

[2019-04-20 15:58] jgostick commented on #1248
I have just realized that the Classic physics takes the pore and throat AREAs, so I can set these to a real value, while also setting the pore diameter to 0.  I guess this works...but still worth discussing I guess?

[2019-04-21 13:24] jgostick opened #1249 "Add dispersive_conductance to Standard physics?"
Mass dispersion, but also thermal dispersion too?

[2019-04-21 15:24] jgostick opened #1250 "Calculating porosity should be an algorithm"
Calculating porosity is annoyingly difficult to do since there are many nuances, like subtracting the intersection of pores and throats, dealing with the domain size, etc.  It's actually worth adding an algorithm under the new ``metrics`` module.  I will close #1070, since I'm 99% sure this is a better way.

[2019-04-21 15:24] jgostick commented on #1070
See #1250

[2019-04-21 15:24] #1070 closed

[2019-04-21 23:57] #1163 closed

[2019-04-22 12:34] #1005 closed

[2019-04-22 12:37] jgostick opened #1252 "Add Berea Sandstone to the materials library"
A Cubic network with correct spacing, correct pore size distributions and boundary pores

[2019-04-22 13:58] jgostick commented on #1247
Interestingly, this could also be used to update the geometry properties in cases where sizes change, like colloid capture.

[2019-04-22 14:34] magnaou opened #1253 "Add Dispersion to metrics folder as a wrapper for AdvectionDiffusion"
We now have on "dev" 2 algorithms doing the same thing; the "AdvectionDiffusion" and "Dispersion". Should we keep both?
I like having an "AdvectionDiffusion" algorithm as it can be applied to both heat and mass transfer problems, etc. On the other hand, dispersion is a popular transport phenomenon and having a "Dispersion" algorithm makes sense on OpenPNM.
Also, if we decided to keep both, the "_b

[2019-04-22 14:38] ma-sadeghi commented on #1247
Interesting idea. Just one issue: how would you enforce deferred and iterative modes both at the same time?

[2019-04-23 13:34] jgostick commented on #1247
Deferred just means you don't calculate it when you assign the model

[2019-04-24 01:42] jgostick commented on #1253
I think the idea was to go with **AdvectionDiffusion** as the base algorithm, and add a **Dispersion** class to the ``metrics`` sub-folder, with the latter just being a wrapper around the former, including a method for getting the dispersion coefficient of the network.

[2019-04-24 13:55] jgostick commented on #1252
It should copy this:  https://www.sciencedirect.com/science/article/pii/000925099380333L

[2019-04-24 14:22] jgostick commented on #1244
This is a fine idea.  We can add 'regen_mode' to the setting dict, and the ``add_model`` method can check there for the default value.  At the moment it defaults to 'normal' via a keyword argument.  This is an easy and helpful fix.  Start a new PR!

[2019-04-25 16:18] ma-sadeghi opened #1256 "Should Cubic allow 2D shape in the form of [nx,ny]?"
Currently, `Cubic` throws an error if the shape argument is in the form of `[nx,ny]`, instead of say `[nx,ny,1]`.

[2019-04-25 16:28] jgostick commented on #1256
For sure!  I think I actually snuck that into a branch I have somewhere, but haven't merged yet.  Go ahead and do it and I'll remove my version.  Just check if len(shape) == 2, then append a 1 to the end.

[2019-04-25 16:29] ma-sadeghi opened #1257 "Bug in Cubic.shape method"
When spacing is sufficiently small, `_get_shape` method doesn't work as expected.
[code]

[code]

[2019-04-25 23:59] ma-sadeghi commented on #1257
Addressed in #1258

[2019-04-25 23:59] #1257 closed

[2019-04-25 23:59] ma-sadeghi commented on #1256
Addressed in #1258

[2019-04-25 23:59] #1256 closed

[2019-04-26 19:07] magnaou commented on #1253
Ok, it is fixed on PR #1255. Didn't put the dispersion alg in a metrics sub-folder though. Should we do that for Interpore?

[2019-04-27 18:09] jgostick opened #1262 "Comb over examples for any V1.0 text"
The examples have been moved into the main repo, and they are all passing, but some of the text still has reference to old aspects of OpenPNM V1. We need to go through each of these and make sure they are up to date.

[2019-04-28 22:24] jgostick opened #1263 "Add 'ignore_nans' argument to neighbor lookup models?"
I am constructing a complicated model that uses from neighbor look-ups.  Some neighbors have values but others don't, so they return nan.  These nans mess up the calculations (mean, min, max).  It would be super helpful if these models (and perhaps others) could ignore them.

[code]
If ``nans_as`` is None, the it ignores them, or ``nans_as`` could be 0 or 1 or whatever, in which case they'd be inc

[2019-04-28 22:30] jgostick commented on #1263
Or maybe they should just ignore nans by defualt

[2019-05-03 00:23] magnaou opened #1268 "Print convergence status without all the text from the logger"
Some simulations need many iterations (Nernst-Planck, transient, etc) to converge (or not!) and printing the convergence status such as the residuals is very convenient to monitor them. However, printing using the logger returns tons of information that one may not need.
I think we should find a way to improve this.

[2019-05-03 14:43] magnaou opened #1269 "Implement adaptive time stepping"
The transport's time scale strongly varies from one problem to another. I think it makes sense to implement adaptive time stepping. We can do something to force the deltaT to not allow a fluid particle to cross more than one throat within one time step (the famous CFL condition).

[2019-05-04 16:30] jgostick opened #1271 "Saline water property models need reworking"
They models for calculating the properties of saline water are not useful...they are all in terms of salinity, defined as g salt per **kg** of solution, which means you need to know the density, which is a model dependent on salinity!  To avoid this circularity, the models need to be g (or preferably moles) of solute per **m3** solution.

[2019-05-05 14:02] jgostick commented on #1271
i created a new model called salinity that calculates it from the concentration.  I used the density model to predict volume of 1kg of solution at different salinity, then did a 2 parameter linear regression, so it's like a fitting of some data that was generated by a fitting, but I guess it'll do.

[2019-05-05 14:02] #1271 closed

[2019-05-09 02:26] HongyangWangUniversityofRegina commented on #1237
Hi, Prof.Gostick,

I am wondering if openpnm can fulfill a process of gas cluster expansion under pressure depletion with/without mass transfer, such that it considers gas compressibility? I am assuming the InvasionPercoaltion module in openpnm is for incompressible flow? Just wondering if you have done such a case before?

Thank you for answering.

Sincerely,
Hongyang

[2019-05-10 16:44] HongyangWangUniversityofRegina opened #1277 "About Vapour Phase Compressibility in Percolation"
Hi, Dear Prof.Gostick,

I am wondering if openpnm can fulfill a process of gas cluster expansion under pressure depletion with/without mass transfer, such that it considers gas compressibility corresponding to pressure field? I am assuming the InvasionPercoaltion module in openpnm is for incompressible flow? Just wondering if you have done such a case before?

Thank you for answering.

Sincerely,

[2019-05-13 20:09] jgostick commented on #1262
The examples are all passing, so I guess this is done

[2019-05-13 20:09] #1262 closed

[2019-05-13 20:10] jgostick commented on #1205
Since we haven't heard back about this in 5 months, I guess it's been solved?

[2019-05-13 20:10] #1205 closed

[2019-05-21 15:14] jgostick opened #1279 "clone_pores does not accept pores a boolean mask"
It only works if pores is a numerical list of indices

[2019-05-21 15:28] jgostick opened #1280 "find_surface_pores does not handle custom markers in 2D"
The code that handles custom markers is not very sophisticated.  It should be beefed up to do a few checks if the network is 1D, 2D or 3D and so on.

[2019-05-21 18:15] jgostick opened #1281 "add_boundary_pores should accept move_to argument"
At present it accepts ``offset`` which just moves each pore the same amount.  This is useless for random networks where the points are staggered.  It needs a second option like ``move_to`` where the final location can be set, such as moving all points to x=0.

[2019-05-21 20:20] #1201 closed

[2019-05-22 02:58] jgostick commented on #1280
This is slightly fixed in PR #1282 but needs more thought to make it robust.  In that PR I basically just stopped it from acting buggy, but didn't make it nicely.

[2019-05-23 22:02] jgostick commented on #1277
Hi @Hongyang  I thought I'd replied to you already, sorry for the delay.  Our percolation algorithms are for incompressible gases and we've not done anything like you propose.  Sorry.

[2019-05-23 22:02] #1277 closed

[2019-05-23 22:07] jgostick commented on #1218
I am sorry to report that after spending several weeks thinking and tinkering with this it is even harder than I expected.  The problem is this:  void-solid heat is exchanged between solid and void pores, but the heat transfer coefficient is known for the throats where the fluid velocity is known.  I cannot seem to figure out how to translate the throat heat transfer to the respective pores for th

[2019-05-24 10:45] samanjalilian commented on #1218
Thank you Mr.gostick for your answer, but it seems that I've found a way to solve this problem in the past weeks. we know that in void phase there is a gas which has a conductivity of K1 and in solid phase we have a material which has a conductivity of K2. so i considered the conductivity in the throats connecting these two phase ( interconnecting throats) as the average of K1 and K2. and then use

[2019-05-26 22:18] jgostick opened #1284 "Add a "set_label" function to Base?"
I've always found it a bit annoying that we had to do:

[code]

If we added a new method to Base, it could be like this:

[code]

This could (a) create 'pore.label' if not present, then add label to locations ``Ps``.  We could also make it to pores and throats simultaneously, and also add a mode argument so that it could be used to 'add', 'overwrite', or 'remove' labels.

[2019-05-26 23:55] jgostick opened #1285 "check_geometry_health shows no problem with NO geometries are defined"
It should show that all pores are undefined.  This problem probably happens to check_physics_health too.

[2019-05-27 16:36] jgostick commented on #1249
or create a new Physics that is just for dispersion and another for nernst-plank.  In fact, would it make sense to have Physics' for each transport property?

[2019-05-29 13:57] jgostick commented on #1115
This issue has resurfaced as the solution to major problem.

The problem is: When adding boundary pores (for example) to an imported network, it is not possible to add models for these pores.  To elaborate:  These new pores would be assigned to a new geometry (this works), but then it's not possible to add a model for 'pore.volume' (for example) since 'pore.volume exists on the imported network.

[2019-05-29 19:45] jgostick opened #1287 "refactor (unfactor) conductance models"
the amount of boiler plate is not that large, so in the name of clarity, let's just duplicate it in each function.

[2019-05-29 20:04] jgostick commented on #995
it seems this never got implemented, or was deleted.  Let's redo it!

[2019-05-30 03:04] jgostick opened #1292 "Add Example: Building hierarchical networks"

[2019-05-30 13:11] jgostick commented on #1284
this is addressed in PR #1289

[2019-05-30 13:11] #1284 closed

[2019-05-30 13:11] jgostick commented on #1281
Addressed in PR #1291

[2019-05-30 13:11] #1281 closed

[2019-05-30 13:12] jgostick commented on #1279
This is fixed in PR #1291 and the same bug was also fixed in ``trim``

[2019-05-30 13:12] #1279 closed

[2019-05-30 13:13] jgostick commented on #1187
@magnaou Can you give this some thought?  Would it remove the need to do the ``sp.unique`` lookup that was slowing things down so much?

[2019-05-30 19:16] jgostick opened #1293 "add an optional target argument to pores and throats methods"
It occurred to me this morning that it *might* be handy to have something like:

``geom.pores('left', target=pn)``

This would return the pores labelled 'left' on ``geom`` in terms of the network numbering, instead of the geometry numbering.  It could also do:

``pn.pores('left', target=geom)``

Which of course does the reverse renumbering.

The only limitation is that you can only use this for la

[2019-05-30 22:52] jgostick commented on #995
In my first attempt at this it caused an infinite recursion error.  I cooked up an interesting alternative.  If the key is not present on throats ('throat.viscosity') but is on pores, then the getitem method will add a neighbor lookup model to the object.  This seems to actually work quite well, but may not be a good idea...I haven't thought it through completely.  It should be discussed in terms

[2019-06-03 03:35] jgostick opened #1296 "Interpolate data breaks with mixtures"
Not sure how to fix this, but something like:

[code]

returns a dictionary if there is ```'pore.viscosity.N2'``` and ```'pore.viscosity.O2'```

[2019-06-04 17:41] #1218 closed

[2019-06-04 18:12] jgostick opened #1297 "Add example: Transient diffusion"
@Zohaib-Atiq can you create an example that mimics the experiment of Rinat and Yong, the transient fick's 2nd law thing?  A cartesean coordinate system is fine, like slab.

Compare steady-state Deff (bc = 1 and bc = 0) to the transient simulation.  This should include a part on fitting cranks analytical solution to fick's second law to the data.

[2019-06-04 19:49] jgostick commented on #995
After more thought, I think this is the ONLY way to go.  Firstly you don't want to interpolate every time you call 'throat.viscosity'.  You want the interpolation done once, then the values stored on the object for future look-ups.  With this in mind, then you also don't want the values to be static.  For instance, if you are interpolating throat.viscosity, then you change temperature and update p

[2019-06-05 00:06] jgostick commented on #976
I've added several in recent PRs.  The list now includes:

* fraction: two dict keys indicating numerator and demoninator
* summation: list of dict keys of props to be added
* normalize: dict key of prop, plus high and low of new scaled values
* clip: dict key of prop, plus max and min of clip range
* constant: single constant value to return
* product: dict keys of two props to multiply
* scaled:

[2019-06-05 00:09] jgostick commented on #976
Before listing a bunch of new functions, recall that we also have ``generic_function`` which accepts a **numpy** function handle, and a set of key word arguments for said function.

New functions could include:

* exponentiation: can be achieved with ``func=sp.power, prop='dict_key', p=3``
* logarithm: can be achieved with ``func=sp.log10,  prop='dict_key'``

Not sure what obvious ones are missing

[2019-06-05 00:17] #976 closed

[2019-06-18 21:49] angelswat opened #1298 "Add examples of transport phenomena. Improve user experience."
Hi @jgostick and @TomTranter

In the past versions of openpnm we had examples about transport phenomena and that were so good. Now, with the updates Im not so clear with the new implementations and how to use it.

Please, could you recommend me any example, if it exists, or could you coordinate the implementation of any example about this topic (thermal conductivity, electrical conductivity, mass

[2019-06-19 01:47] jgostick commented on #1298
We've moved the examples to the main repo, to ensure that they are always up to date.  You can find them here:

https://github.com/PMEAL/OpenPNM/tree/master/examples

[2019-06-19 01:47] #1298 closed

[2019-06-19 15:26] jgostick opened #1299 "Improve the print-out of individual models"
At present ``print(obj['pore.model'])`` just prints the standard items.  It would much better if it printed a formatted list.

[2019-06-20 03:05] jgostick opened #1300 "Improve the format of the ``show_hist`` function"
It wouldn't hurt to include axis labels, and maybe spice up the bars a bit

[2019-06-27 19:02] jgostick commented on #1187
I just labeled this as high priority because NOT doing it is causing problems with subsequent transport calculations.  Setting all the inlet pores to invaded blocks all flow in the direction of invasion.  If we fictitiously put a pore for invasion, then the transport algs would not see it, so wouldn't be blocked by it.

[2019-06-27 19:40] jgostick commented on #1187
An alternative would be to set the inlets to filled, but then set them back to unfilled IF none of their neighbor throats are filled.

[2019-07-04 18:21] jgostick commented on #1293
Done in PR #1295

[2019-07-04 18:21] #1293 closed

[2019-07-04 18:22] jgostick commented on #1187
I have implemented the 'alternative' option....now the inlet pores are not considered filled until one of their throats is also filled.

[2019-07-04 18:22] #1187 closed

[2019-07-05 14:12] TomTranter opened #1304 "InvasionPercolation should have plot intrusion curve method"

[2019-07-05 14:13] TomTranter commented on #1304
@jgostick I can do this if you agree it's needed. Was it something @Ni2M was working on a while back too?

[2019-07-05 18:21] jgostick commented on #1304
I don't think she has the time/knowledge about the IP algorithm to do this.  My thought was to make a curve that shows the 'fuzzy' spikes in capillary pressure where the envelope of peak pressures corresponds to the OP curve...do you know what I mean?  I think you've done a graph like this before, so hopefully you can dust off this code?  It would be handy if the IP alg had a method for plotting t

[2019-07-06 15:38] jgostick commented on #1299
I have added a new class to ``core`` module, called ``ModelWrapper``.  It only has two functions at the moment.  One is to print the model info in the same format as the ``ModelDict``, but only for the model itself.  It also looks up the propname of the model by finding itself in a top-down search of objects.  It could do more in future.

This is implemented in PR #1291

[2019-07-06 15:38] #1299 closed

[2019-07-07 01:58] jgostick commented on #1300
Done on PR #1291

[2019-07-07 01:58] #1300 closed

[2019-07-07 02:14] jgostick commented on #1280
fixed propertly in PR #1291

[2019-07-07 02:14] #1280 closed

[2019-07-07 02:22] jgostick commented on #1285
fixed in PR #1291

[2019-07-07 02:22] #1285 closed

[2019-07-07 04:13] jgostick commented on #985
Nope, this is a bad idea.  UUIDs are strings and this breaks many things throughout openpnm   The current way to do IDs is using ints and being careful to index correctly, so we'll stick with that. Also much faster.

[2019-07-07 04:13] #985 closed

[2019-07-07 13:53] jgostick opened #1305 "Example showing difference between OP and IP"

[2019-07-07 13:55] jgostick commented on #1065
It is well described in the docs that you can't have a network like this.  At the bare minimum you need 2 pores and 1 throat, or else the adjecency matrix is not even defined.  I'm going to close this since it's a point effort to create warnings for it.

[2019-07-07 13:55] #1065 closed

[2019-07-08 03:11] jgostick commented on #1121
This is done on PR #1291

[2019-07-08 03:11] #1121 closed

[2019-07-08 03:24] jgostick commented on #1125
I don't even get what I meant here, so it must not be any more clear for users.  Closing.

[2019-07-08 03:24] #1125 closed

[2019-07-08 03:25] #652 closed

[2019-07-09 02:25] jgostick commented on #1296
This is now fixed (I think) on ``dev``

[2019-07-09 02:25] #1296 closed

[2019-07-09 02:42] jgostick commented on #1244
This is done in PR #1307.  It took only 4 lines of code and a test!  Very easy.

[2019-07-09 02:42] #1244 closed

[2019-07-09 02:44] jgostick commented on #1244
I should add that you now do:

[code]

[2019-07-09 02:44] jgostick commented on #995
This is now done in PR #1294

[2019-07-09 02:45] #995 closed

[2019-07-09 02:46] #1207 closed

[2019-07-09 02:47] jgostick commented on #1115
This is done in PR #1288

[2019-07-09 02:47] #1115 closed

[2019-07-15 18:56] HongyangWangUniversityofRegina commented on #1305
I have also tried to see if the difference between OP and MIP can be clarified? It seemed that they are similar? Because there is an example in docs-user guide percolation, that in OP description, it says MIP could be run as...

[2019-07-16 14:44] jgostick opened #1308 "Conductance models should optionally return element and conduit values"
It might be a good idea to add a ``mode`` argument to conductance models, that accepts 'elements' and 'conduit'.

In the case of 'conduit' the model returns a single conductance value for the whole conduit.  In the case of 'elements' it returns a Nt-by-3 array or dict containing the conductance of each individual element in the conduit.  This latter option would be consistent with our 'conduit.len

[2019-07-22 19:26] mbandreeta opened #1310 "Porespy network not connected"
The extracted network from porespy is not fully connected for some samples that I'm trying to find the permeability . It would be helpful having a method to remove isolated pores, or to find the largest connected subgraph in openpnm.

[2019-07-22 20:34] jgostick commented on #1310
There are several ways to solve your problem.
1.  You can pre-proccess the image, by removing isolate pores using ps.filters.trim_isolated_pores
2.  You can post-process your network in openpnm as follows:

This health check will find all isoalated pores that are causing you trouble.  It returns a dictionary that has several keys pertaining to different topological aspects.  You can print it to se

[2019-07-23 13:25] mbandreeta commented on #1310
thank you for your prompt reply!
I opted for trimming the pores post-process and it solved the issue.

[2019-07-23 13:25] #1310 closed

[2019-07-23 14:38] jgostick opened #1311 "Make geometry argument optional in Physics initialization"
Default should be ``None``, while will check is 1 geometry is present and use it, if no geometries are present it will use network, and if 2 or more geometries are found it will throw an error.

[2019-07-23 15:17] jgostick opened #1312 "Update settings dict to prevent storage of openpnm objects"
This will prevent us from forgetting or neglecting the rule that we should store only by name.

[2019-07-24 01:10] jgostick commented on #1311
I have confirmed that this is simple to do.  We have a few questions to answer though:

1.  If the user does not specify a geometry, is it obvious that they want to associate the physics to the ONLY one?  Is there a scenario where they want to associate the physics to NONE?

2.  If there is no geometry present, should we create a GenericGeometry and associate with that?

3.  I don't think that ass

[2019-07-24 17:00] fjkr5 opened #1313 "Warning: Some inlet pores have non-zero volume, will result in non-zero initial saturation"
Dear all,

I tried the example from the following page but I got a warning.
https://github.com/PMEAL/OpenPNM

Code attached.

`import openpnm as op

pn = op.network.Cubic(shape=[10, 10, 10], spacing=0.0001)
geo = op.geometry.StickAndBall(network=pn, pores=pn.Ps, throats=pn.Ts)
Hg = op.phases.Mercury(network=pn)
phys = op.physics.Standard(network=pn, phase=Hg, geometry=geo)
mip = op.algorithms.Poro

[2019-07-24 19:41] magnaou commented on #1162
I checked the numerical models and the code. It looks like everything is done properly.
The example Jeff posted above (which is a linear source/sink term) doesn't converge with certain linear solvers such as "pyamg". I doubt the solution with negative concentrations we are getting is a converged one. Is this due to the fact that the problem (network, geometry, physical properties, BCs, etc) is not

[2019-07-25 00:19] jgostick commented on #1313
Nothing is wrong.  The warning is as it says.  Pc curves start by setting the inlet pores to saturated then proceeding by invading the connected throats, and so on.  Ideally, you should start this simulation in 'boundary pores', which have 0 volume, and you wouldn't get this error.  If you start in 'real internal pores', then they will have a volume, hence the error.

It just so happens that this

[2019-07-25 14:22] jgostick opened #1315 "Scipy 1.3 changes"
It seems that some functions in scipy.sparse have changed moving from version 1.2 to 1.3. Travis now builds using 1.3 so is [erroring](https://travis-ci.org/PMEAL/OpenPNM/jobs/563374133).

It has something to do with the shape argument when building sparse arrays.

[2019-07-25 15:52] fjkr5 commented on #1313
Hi Dr @jgostick <https://github.com/jgostick>,

Thanks for your answering. But how to set the volume of inlet pores to
zero? I changed the code
'mip.set_inlets(pores=pn.pores(['left', 'right', 'top', 'bottom']))'
to
'mip.set_inlets(pores=[0])',
but it returns to the same warning.

In this page https://github.com/PMEAL/OpenPNM , it also says '
MIP.plot_intrusion_curve()'
gives the drainage curve, b

[2019-07-25 17:04] jgostick commented on #1313
You should literally set their geometry to zero like:

geom['pore.volume'][pn.pores(['left', 'right', 'top', 'bottom']] = 0.0

[2019-07-25 17:20] fjkr5 commented on #1313
Thank you so much! I can run it now, but it still doesn't have the drainage
curve. I tried 'plt.show()' and 'mip.plot_intrusion_curve()'. Both don't
work. Do you have any suggestions on it? Thanks again.

On Thu, Jul 25, 2019 at 1:04 PM jgostick <notifications@github.com> wrote:

[2019-07-25 17:47] jgostick commented on #1313
Hmm.  Are you doing this in Spyder or a Jupyter notebook?  If a notebook put %matplotlib inline at the top of the file.

You should also be able to get the data using ``mip.get_intrusion_data()``.  This returns a tuple containing the pressure and non-wetting phase saturation.

[2019-07-25 18:31] fjkr5 commented on #1313
Hi Dr @jgostick <https://github.com/jgostick>,

Thanks so much for your patient! I am using terminal to run .py file now. I
added %matplotlib inline at the top and it returns:

File "test.py", line 2
    %matplotlib inline
    ^
SyntaxError: invalid syntax

Then I copy paste the code in Terminal. I got the following result. It says
"Figure size 640x480 with 1 Axes".

pc_curve(Pcap=array([ 21356.30

[2019-07-25 19:40] fjkr5 commented on #1313
Hi Dr @jgostick <https://github.com/jgostick>,

Please just ignore my last email. This problem is solved. I am just
wondering what is the unit of the capillary pressure. Thank you!

On Thu, Jul 25, 2019 at 2:31 PM Jiayi Fan <fjkr4@mst.edu> wrote:

[2019-07-25 20:53] jgostick commented on #1313
The units are 'user defined'.  We don't have a way to track units in openpnm unfortunately.  All the unit packages have down sides and/or performance issues.  So, basically, just always use SI units all the way through, then the pc curve will also be in SI (Pc = Pa, snwp = dimensionless)

[2019-07-25 20:53] #1313 closed

[2019-07-25 20:56] fjkr5 commented on #1313
OK. Thank you so much for your help!!

On Thu, Jul 25, 2019 at 4:53 PM jgostick <notifications@github.com> wrote:

[2019-07-25 22:09] Ahmedsf2019 commented on #1003
Where can I find the source code of the equation you calculate the porosity?

[2019-07-26 14:08] jgostick commented on #1003
We don't have a function/algorithm for this.  You need to craft if yourself since we cannot reliable calculate it for several reason.
1.  We do not know the actual boundary of the domain, as I mentioned above
2. We cannot be sure that the pore and throat volumes are calculated correctly, with no overlaps or gaps.

Technically you could do something as simple as this:

[code]

But this strongly dep

[2019-07-30 19:16] Abolfazlmsl opened #1316 "Delaunay network generation"
Hello,
I started to generate delaunay networks with various number of pores. it works for networks with few pores but for generating a network with large number of pores (182185185) i got this error.
![1564405803887blob](https://user-images.githubusercontent.com/41609766/62158191-25730400-b324-11e9-841b-bd134b7b84db.jpg)
![1564405785885blob](https://user-images.githubusercontent.com/41609766/62158

[2019-07-31 01:36] jgostick commented on #1316
Hi Abolfazl, from your script is seems you're trying to generate a network with 182 billion pores.  This is too many.  Our current dream is to model 1 billion pores on a super computer, and we're not there yet. I suggest you try less then 100,000 pores.

[2019-08-01 12:12] Abolfazlmsl commented on #1316
Thank you for your response🙏

On Wed, Jul 31, 2019 at 6:06 AM jgostick <notifications@github.com> wrote:

[2019-08-01 16:14] #1316 closed

[2019-08-07 14:49] jgostick opened #1317 "Add example on how to use Imported Geometry class"

[2019-08-07 19:13] jgostick opened #1318 "When adding pores to a network, 0's instead of nans are put in new locations"
If you have a network with 10 pores, and you add 2 new pores, the new pores should have valid pore coordinates, all labels should be ``False``, and all 'data' arrays, if any, should contain nans.  At present it seems to contains 0's.

For example:

[code]

The last two 0.0 values should be nans.

[2019-08-09 13:18] TomTranter opened #1319 "Efficiently find the min or max for property on pore basis with data on connecting throat"
Is this possible without doing it in a loop over pores and finding the throats in a clever sparse matrix way?

[2019-08-09 13:30] TomTranter commented on #1319
I think the sparse matrix .max() function might work but min returns zeros

[code]

[2019-08-11 05:33] HongyangWangUniversityofRegina opened #1320 "A Small Revision on The "find_cluster2" attribute in DEF IP.apply_trapping (which seems to be a bug)"
Hi Dear Prof Gostick,

Thank you for the OpenPNM sharing, and I have learnt a lot and benefited a lot. In the processing of understanding the code, I found that the find_cluster2(~invadedPs) in IP code has some problem.
I have corrected the code by importing Topotools and then instead of:

clusters = net.find_clusters2(~invaded_ps)

I changed to this:

clusters = tp.find_clusters(network=net,mask=

[2019-08-11 21:59] angelswat opened #1321 "Local variable "R" referenced before assignment"
Hi @jgostick and @TomTranter !

Please help me. I was running a code to generate a porous media based on voronoi fibers model. But I got this error, and I have tried to fix it but I haven't obtained a good result.

`---------------------------------------------------------------------------
UnboundLocalError                         Traceback (most recent call last)
<ipython-input-48-1611f678e0c6>

[2019-08-12 08:22] TomTranter commented on #1321
Can you post the whole script you used to get this error. From looking at the GenericTransport it could be because the pores you used as boundaries don't exist but I can't tell without more info

[2019-08-15 12:58] Shylcok opened #1322 "When i just import the openpnm,NameError("name 'μSymbol' is not defined")"
this is the Traceback,(is that happened cos by my Chinese dir name?):
Traceback (most recent call last):
  File "C:\Users\11985\Anaconda3\lib\site-packages\unyt\_parsing.py", line 89, in parse_unyt_expr
    unit_expr, global_dict=global_dict, transformations=unit_text_transform
  File "C:\Users\11985\Anaconda3\lib\site-packages\sympy\parsing\sympy_parser.py", line 894, in parse_expr
    return eva

[2019-08-15 20:10] jgostick commented on #1322
The error is due to an outdated dependency...I solved the issue myself a few weeks ago, but forget exactly what the problem was.

Try updating *sympy* and *unyt*.  TOpen your conda prompt and type:

[code]

[2019-08-16 06:37] Shylcok commented on #1322
thank for all your help

------------------ 原始邮件 ------------------
发件人: "jgostick"<notifications@github.com>;
发送时间: 2019年8月16日(星期五) 凌晨4:10
收件人: "PMEAL/OpenPNM"<OpenPNM@noreply.github.com>;
抄送: "王佳宇"<1198509739@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [PMEAL/OpenPNM] When i just import the openpnm,NameError("name 'μSymbol' is not defined") (#1322)

The error is due to an outdated depe

[2019-08-16 13:44] #1322 closed

[2019-08-27 03:18] xu-kai-xu opened #1323 "The parameter "name" of openpnm.geometry.genericgeometry"
Dear,  when i use code `geo = op.geometry.StickandBall(network=gn, project=proj, pores=gn.Ps, throats=Ts, name='model_1')` to construct a geometry, i found the parameter "name". But i do not know how to use it in operating the network.

Then i want change the network to `geo = op.geometry.GenericGeometry(network=gn, project=proj, pores=gn.Ps, throats=Ts, name='model_1')`, it tells me that name "mo

[2019-08-28 01:26] xu-kai-xu commented on #1323
Thank you so much. I think i can close it now.

[2019-08-28 02:42] xu-kai-xu commented on #1323
emm, Jeff, @jgostick , I use `proj,purge_object(proj.geometries('geo'))`, because i found i give `gn.Ps` to `geo`, which is all the pores. Actually I want to give `Ps`, which is internal pores, to `geo`.

Then i want to create `geo` again.  So i ran the following code again:

And i get the TpyeError: `can only concatenate str (not "NoneType") to str`.

Have you met this before? Thank you.

[2019-09-01 08:27] xu-kai-xu commented on #1323
I did some demo about the problem, which is based on one of openpnm examples.
Please find the attached file.
Thanks.
The delayed reply is because I missed your message.
[check_gostick2007.txt](https://github.com/PMEAL/OpenPNM/files/3563271/check_gostick2007.txt)

[2019-09-11 16:01] #1297 closed

[2019-09-11 16:28] jgostick opened #1324 "Add StandardPhysics_2D"
This should contain all the 2D models we have...for use with StickAndBall2D and other similar situations

[2019-09-11 16:57] jgostick opened #1325 "Create new Physics for each algorithm?"
Like DiffusivePhysics would have all the diffusion models added.

This would at least avoid adding a bunch of extra physics to each object that the user doesn't need.

[2019-09-11 17:18] ma-sadeghi commented on #1324
I already have something for that. Will push asap.

[2019-09-19 19:34] jgostick commented on #1263
Done

[2019-09-19 19:34] #1263 closed

[2019-09-19 19:44] jgostick opened #1328 "Enhance purge_object to accept list of objects too"
It would be handy if purge object accepted a list of objects to purge as well as as single object.

[2019-09-19 19:45] jgostick commented on #1315
fixed

[2019-09-19 19:45] #1315 closed

[2019-09-19 19:46] jgostick commented on #786
done...will be released soon

[2019-09-19 19:46] #786 closed

[2019-09-21 13:39] #1248 closed

[2019-10-09 10:25] rikvg opened #1331 "Issues with advection diffusion and reactive simulations"
Dear all,

I am currently learning to use OpenPNM for my research on flow batteries and would like to setup a model similar to the one described in:

For this, I am trying to run advection-diffusion simulations as well as reactive transport simulations. However, I run into an issue when running the code that I do not know how to solve.

First of all, when I try to add the ad_dif_conductance model

[2019-10-09 16:21] jgostick commented on #1331
It might take a while to work out an answer to your question.  We're busy this week getting ready for a conference :-)

[2019-10-10 07:40] rikvg commented on #1331
Dear Prof. Gostick,

Thank you for the quick response. I will try to work on a solution myself in the meantime, and I am interested in your response when you have the time.

Good luck with your preparations for the conference!

[2019-10-10 18:52] atsamaei opened #1332 "Question"
Hi  @jgostick and @TomTranter ,

Is it possible to transfer a geometry made by OpenPNM to a FEM software such as ABAQUS or ANSYS? If so, is there any filter in OpenPNM in this regard?

Thank you.

[2019-10-10 19:02] jgostick commented on #1332
Hi @atsamaei.  We have been working on this, but at the moment its not ready or complete.  What were you hoping to export exactly?  A domain of sticks and balls that can be meshed?

[2019-10-10 19:30] atsamaei commented on #1332
I was thinking of getting the geometry that you show on the Highlight section (the olive colored matrix and pores/holes). No sticks and balls. There are very few open source codes that can generate pores in the solid matrix. I see that DREAM3D can do the job but creating a secondary phase as pores instead of real holes/pores. It has a filter that writes ABAQUS input so that the geometry made by DR

[2019-10-10 19:50] jgostick commented on #1332
Hmmm, I'm still not clear.  I don't know what you mean by "pores instead of real holes/pores".  Anyway, we don't have this capability anyway, sorry.

[2019-10-10 19:56] atsamaei commented on #1332
I meant that the secondary phase (that you consider as pore) is solid on ABAQUS and, there, you need to convert it to holes. It is not like holes when you read it on ABAQUS. Thanks for the replies. You did a great job. Thanks.

[2019-10-10 20:13] TomTranter commented on #1332
If you have a tomography image you can use simpleware scan IP to turn it into a mesh. Not open source though I'm afraid but I've seen the results and they are very good. If you don't yet have the image look at our porespy package under generators. Cheers

[2019-10-10 20:17] atsamaei commented on #1332
Thank you so much, Tom. It helped me a lot.

[2019-10-10 21:12] ma-sadeghi opened #1333 "User question on Porosimetry"
I recently received a question about `Porosimetry`, since I'm not really familiar with it, I'll post it here. Here's the question:

![Capture2](https://user-images.githubusercontent.com/14086031/66606776-d269c880-eb80-11e9-908c-33af5ccbf92b.JPG)

[Here](https://gist.github.com/ma-sadeghi/b0bc9d25ed8696a05eb49f0c2f0f8419)'s the code.

[2019-10-11 01:51] jgostick commented on #1333
That non-zero starting saturation is an artifact.  In the Porosimetry class we start by setting all the inlet pores to invaded.  If these pores are proper boundary pores, then all is good.  If however, the user sets the inlets at REAL pores these have volume, hence the non-zero starting saturation.  We have since changed the algorithm to not do this.  The new way is actually less robust theoretica

[2019-10-11 01:51] #1333 closed

[2019-10-12 23:03] saeidabd commented on #1333
I appreciate that. It really help me finding out.

[2019-10-25 08:26] rikvg commented on #1331
Dear Prof. Gostick and team,

I have worked further on the topic and decided to first focus on getting the model working for a well-defined cubic network :). I would like to use the ChargeConservationNernstPlanck algorithm to simulate steady-state reactive transport together with ion transport for the vII/vIII redox couple, but I still have some questions about its implementation that I was hoping

[2019-11-04 21:00] #1332 closed

[2019-11-04 21:01] #1331 closed

[2019-11-04 21:03] #1321 closed

[2019-11-04 21:03] #1323 closed

[2019-11-04 21:05] jgostick commented on #1311
1.  Not an issue
2.  Throw an error
3.  Solved by 2

[2019-11-04 21:07] jgostick commented on #1249
done

[2019-11-04 21:07] #1249 closed

[2019-11-05 01:38] Artshap opened #1334 "Throat.area and Throat.perimeter calculation"
[example.zip](https://github.com/PMEAL/OpenPNM/files/3806912/example.zip)

Dear development team,

I am using porespy to create a pore network and export it to csv using openpnm. When I have exported it I noticed that values for throat area and perimeter are strange and although the source codes are straightforward, they do not match the manual calculation. I am not sure if I should use the provid

[2019-11-15 04:41] lanetszb commented on #1334
Hi all,

I've also encountered this type of problem. The manual calculation of throat diameters (pi*r**2) would not match the value exported from openPNM ('throat.area'). I would be grateful if you address this issue.

Looking forward to hearing from you.

Kind regards, Zak

[2019-11-15 14:35] TomTranter opened #1337 "Problem with zero value BC and rate BC"
[code]

[2019-11-15 15:05] jgostick commented on #1334
Hi @lanetszb and @Artshap
Sorry for the slow reply to this.   @Zohaib-Atiq can you take a look into this?

[2019-11-15 15:30] ma-sadeghi commented on #1337
Hi @TomTranter, can you elaborate?

[2019-11-15 15:57] Zohaib-Atiq commented on #1334
Hi @lanetszb and @Artshap
Are you extracting irregular shape pores or regular spherical pores and cylindrical throats?

Zohaib

[2019-11-15 17:10] TomTranter commented on #1337
What do you see when you run the code? For the zero BC the potential everywhere is zero and shouldn't be.

[2019-11-15 17:22] jgostick commented on #1337
This problem goes away when you set I_app to 10,000 or higher. Is it a solver tolerance issue?

[2019-11-15 17:38] TomTranter commented on #1337
Probably, I played with some of the tolerances and made them small but didn't always get the same result as the other two cases.

[2019-11-15 18:16] jgostick commented on #1337
But the default solver is scipy is lapack, or umfpack if installed, and both are direct, so tolerance shouldn't be an issue.  Other culprits could be use of an ``int`` array somewhere that is causing truncation, or a float 'underflow', meaning the low g values times the low delta V values are conspiring to make the values too small for the float representation.  Is that even a thing?

[2019-11-15 21:30] ma-sadeghi commented on #1337
@TomTranter
You're right, I get zero potential everywhere when potential BC is zero. So, I changed the applied current `I_app` from `1` to `10000`, and here are the average potentials:
[code]
So, I think for `I_app = 1`, for this specific problem, the source term is too small to affect the potential distribution in the network.

[2019-11-15 22:15] jgostick commented on #1337
ya, but it goes from to 0's when you put 1000, which seems a bit to abrupt to me.

[2019-11-15 22:57] ma-sadeghi commented on #1337
@TomTranter , @jgostick
You're right, this is indeed a bug, which was recently fixed on our private repo, although not yet merged onto `dev` (you can try `fix_partitioning_BC` branch on our private repo). Basically, the way we calculated the residual/stopping criteria was not quite right. I ran the code w/ 0 voltage BC and here's what I get
[code]
I guess we'll be merging this change along with so

[2019-11-16 02:19] #1337 closed

[2019-11-16 04:40] jgostick commented on #1334
I have tried to reproduce the problem, and I'm not seeing anything strange.  I print the dict returned by PoreSpy's ``regions_to_network`` function, and then load this into an OpenPNM network, then print it, I get exactly the same values for throat.area.  This isn't a surprize since this is literally just transferring data from one object to another.  I think I'll either @Artshap or @lanetszb to s

[2019-11-17 02:54] Artshap commented on #1334
@jgostick @Zohaib-Atiq thank you for your replies!

I may have not phrased the problem correctly. This issue is not with inconsistent values between OpenPNM and PoreSpy. The issue is with reproducing the calculation manually, which I was not able to do by using standard equations.

I have looked again into the paper about PoreSpy and found the description of how throat perimeter is calculated ther

[2019-11-17 03:30] jgostick commented on #1334
Hi @Artshap, yes, the quote you pulled from the paper is very astute.  We have actually been discussing lately about how it might be time to improve the geometric values extracted for things like this. In fact, we have already added an argument to the ``networks.snow`` method, called ``marching_cubes_area``, which if True will use the marching cubes to get surface and interaction areas, rather tha

[2019-11-17 03:30] #1334 closed

[2019-11-27 15:46] ma-sadeghi commented on #1215
I just checked and for 100^3 network, regenerate models takes about 4 sec for `StandardPhysics`, 8 sec for `StickAndBall`, and about 1 sec for `Air`. Also, the overhead is mostly coming from calling the pore-scale models themselves.

[2019-11-30 22:31] jgostick opened #1339 "Implement the reset method on ReactiveTransport subclasses"
This would be handy for using an algorithm inside a for loop.  It should delete the boundary conditions and results, and maybe reset the settings too.

[2019-12-06 19:36] ma-sadeghi opened #1340 "set_rate_BC ambiguous when imposed on a set of pores"
`alg.set_rate_BC(pores=some_pores, value=1.5)` might imply that the rate value `1.5` is to be applied to all `some_pores` combined, but rather it is basically

[code]

[2019-12-06 19:47] ma-sadeghi opened #1341 "set_rate_BC overwrites previous rate values if applied more than once in same locations"
If calling `set_rate_BC` multiple times on same locations, naturally I expected that the values should be added, but rather it overwrites the previous values. `set_source_term` works for multiple source terms, and I feel that rate should work similarly.

[2019-12-07 16:03] jgostick commented on #955
I have already added these two pore-scale models to geometry.

https://github.com/PMEAL/OpenPNM/blob/80a77dc8786e07e67ec1ce5ce71e737b8f3c68c0/openpnm/models/geometry/throat_volume.py#L135

[2019-12-07 16:03] #955 closed

[2019-12-07 16:04] jgostick commented on #1252
This is pretty much ready.  I'll work with @msbeg to get things finalized.

[2019-12-07 16:05] jgostick commented on #1328
This is easy to do so can be added to 2.2 no probs.

[2019-12-07 20:24] jgostick commented on #1312
Done on PR #1330

[2019-12-07 20:24] #1312 closed

[2019-12-07 21:37] jgostick commented on #1339
This is done on PR #1344

[2019-12-07 21:37] #1339 closed

[2019-12-07 21:51] jgostick commented on #1328
Done in PR #1345

[2019-12-07 21:51] #1328 closed

[2019-12-08 00:07] jgostick commented on #1318
Not sure when, but it seems this was already fixed.

[2019-12-08 00:07] #1318 closed

[2019-12-08 00:43] jgostick commented on #1324
This seems to be done.

[2019-12-08 00:43] #1324 closed

[2019-12-09 15:18] jgostick opened #1349 "Add 'iterative_props' to reset method"
These should be optionally deleted by this method too.

[2019-12-09 15:19] jgostick commented on #1349
Sources terms should be deleted from this list when ``source_terms=True``.

[2019-12-09 15:20] jgostick opened #1350 "reset method needs to be documented, use docrep"

[2019-12-09 19:30] ma-sadeghi opened #1351 "Enhance generic_source_term models"
Some of `generic_source_term` models are a bit convoluted. For instance, `natural_exponential` is defined as:
[code]
which can be simplified to
[code]
where
[code]
I would even go further and set `A3` to 1.0, since at the moment, I can't think of any physics that's like exp(u**n). So, I'd propose that this model be changed to the following:
[code]
which only has 3 parameters to define. What do you

[2019-12-10 00:27] jgostick opened #1352 "Capitalization of README.md is a problem"
I guess it used to be readme.md, now its all caps.  This is causing problems with some incoming links.

While we're at it, this readme does not render on PyPI, which we should fix.  We cannot change to the file to rst, since there are many inbound links to the md file, so we should figure out how to make PyPI work for md files.

[2019-12-10 07:32] Saeid-Sli opened #1353 "Modify plt.imshow in documentation to accomodate a 90-degree rotation to align w/ output of plot_connections/coordinates"
The two sister tools for plotting 2-D pore networks (1-plot_connections and 2-imshow)  are not functioning well. For example, the output of imshow should be rotated -90 degree to lie on top of the output of plot_connections (See attached figures). These two functions worked very well in the first version of OpenPNM

![Figure_1](https://user-images.githubusercontent.com/29663268/70504994-2589d880-1

[2019-12-10 12:24] ma-sadeghi commented on #1353
@Saeid-Sli, `plot_connections` uses xy-coordinates, i.e. Cartesian coordinate system, whereas `imshow` uses rc-coordinates, i.e. row-column coordinate system, and since row = column = 0 for a matrix is the top-left most element, hence the -pi/2 rotation is needed to align the two.

[2019-12-10 13:14] Saeid-Sli commented on #1353
Thank you Amin. That's right.I think we should apply this  -90 rotation to the imshow matrix by transposing its matrix before plotting. 
Saeid

Sent from Yahoo Mail on Android

  On Tue, Dec 10, 2019 at 15:54, Amin Sadeghi<notifications@github.com> wrote:
@Saeid-Sli, plot_connections uses xy-coordinates, i.e. Cartesian coordinate system, whereas imshow uses rc-coordinates, i.e. row-column coordina

[2019-12-10 15:48] ma-sadeghi opened #1354 "Non-invasively updating physics inside iterative algorithms"
Currently, we store properties that need to be updated after each iteration in iterative algorithms in `alg.settings.iterative_props`. The problem is that unless we invasively update `phase` w/ new values after each iteration, `update_iterative_props` doesn't do anything.

I think we used to do that, but is there a non-invasive way of regenerating phase and physics without invoking `phase.update(a

[2019-12-10 15:56] jgostick commented on #1354
This has always bothered, but we never came up with a good solution.  The solution would probably involve having the algorithm class somehow call the iterative models manually, and accept the returned arrays, rather than having openpnm do it with ``regenerate_models``.  But this doesn't help with the fact that the results are needed on the phase object during the model regeneration.  In other word

[2019-12-10 19:19] jgostick commented on #1354
Another option is to clone the phase within the algorithm, then proceed as normal.  Need to think on it for a while, but it's not a terrible idea.

[2019-12-11 15:33] ma-sadeghi opened #1355 "Stopping criteria for nonlinear algorithms"
~~Suppose we're trying to solve Fickian diffusion with a nonlinear source term, say r = kc^2. For the algorithm to stop iterating, it must produce a solution vector c* such that the residual is less than a reference tolerance. Naturally, we defined residual as `r = A*c* - b`. But, there's something fundamentally wrong with that: `A` and `b` are not the true manifestations of the physics behind the

[2019-12-13 18:18] ma-sadeghi opened #1356 "Tolerance is not handled the same way in transient and steady state simulations"
We updated the way we handle tolerance in `_run_reactive` (`ReactiveTransport`) but we didn't update the corresponding transient version `_t_run_reactive` (`TransientReactiveTransport`).

[2019-12-13 18:21] ma-sadeghi opened #1357 "Bug in source term with "TransientAdvectionDiffusion" when using "cranknicolson" scheme?"
Related to the email received from Lili YU.

[2019-12-13 18:23] ma-sadeghi opened #1358 "Update docstring in find_nearby_pores to describe what include_input means more clearly"
Amin:

Jeff:

[2019-12-13 18:29] ma-sadeghi opened #1359 "Update PETSc wrapper for compatibility w/ Python 3.7+"

[2019-12-13 18:30] ma-sadeghi opened #1360 "Ensure iterative solver's tolerance is less than the non-linear reaction's tolerance #29"
When using an iterative linear solver with the new _run_reactive on reactiveTransport, the tolerance of the linear solver should be smaller than the one set for the _run_reactive method. Otherwise, the solver keeps iterating giving back the same solution after each iteration until reaching the max_iter.

[2019-12-13 19:14] ma-sadeghi opened #1361 "[Proposal] pores and throats methods on objects should look up in network and return mapped indices for that object"
Right now, if we have multiple domains, to get the right indices of pores/throats, we need to explicitly use `map_pores` or `map_throats`. Here's what that I'm proposing should look like:
[code]
Currently, the following snippet expectably throws an error.
[code]
Is there a reason why we don't do this? @jgostick What do you think?

[2019-12-17 01:24] ma-sadeghi opened #1362 "Add pore-scale model for Knudsen hydraulic conductance and gas slippage"

[2019-12-19 01:37] xu-kai-xu commented on #507
@TomTranter @jgostick  Hi, these days I am studying and working with openpnm. I used the method Tom told me nearly one year ago. I want to create a simple network with only one same direction throats, like
![K0206I YFS__)7L066GJRY5](https://user-images.githubusercontent.com/44153643/71136960-7b980380-2241-11ea-96b8-8e4cdc62c0a7.png)

Then when I visualize it with ParaView, I found something confus

[2019-12-19 12:43] TomTranter commented on #507
I think it is the celldatatopointdata function doing some rounding errors you have very small throat diameter and maybe this is causing trouble. If you don't do this step you can't scale the throat glyphs. Instead of making the diameter tiny why not use the topotools trim function to actually remove the ones you don't want.

[2019-12-19 20:15] ma-sadeghi opened #1363 "Pore-scale model factory"
The idea is to write a method that serves as a factory for pore-scale models. For instance, let's say you want to use a peculiar rate equation as source term, but don't want to bother writing an actual OpenPNM-compatible pore-scale model. Here's the API that I had in mind:
[code]
This is sort of related to issue #653. Although it only seems like a wrapper, I think it makes it easier for writing cu

[2019-12-19 20:17] ma-sadeghi opened #1364 "Allow pore-scale models to optionally accept numeric values in addition to strings"
The idea is to allow pore-scale models to (optionally) directly accept numeric values in addition to strings as dictionary keys. This has some non-trivial benefits; for instance, some pore-scale models have arguments that are constant, in the sense that they don't change from pore to pore. This could be the

- the number of electrons transferred in redox reactions (z)
- exchange current density of

[2019-12-20 16:44] angelswat opened #1365 "Problems at the moment to import OPENPNM"
Hi!
Please @TomTranter @jgostick I need your help today with this problem. I want to import openpnm but I get this error with the variable name that it isnt declared.

`NameError: name 'μSymbol' is not defined

During handling of the above exception, another exception occurred:

UnitParseError                            Traceback (most recent call last)
<ipython-input-16-68a79d9b7e68> in <module>

[2019-12-20 19:24] ma-sadeghi opened #1366 "Better default values for linear pore-scale model"
Currently, the default values for `A1` and `A2` are 1.0 and 0.0, respectively. I propose setting both to zero, since it might cause confusion when the user only wants a constant sink term, i.e. `A1` = 0.0 and `A2` = some value.

This came up when I was debugging the RFB code written by Tony Cuenca's student, and it took us a while before we realized this was the culprit.

[2019-12-22 15:32] jgostick commented on #1365
try ``pip install --upgrade unyt``

[2020-01-07 13:05] xu-kai-xu commented on #923
@jgostick  I look into the source files about the `throat.endpoint` and `pore.diameter`. And I found that when using `conduit_length`, the summation of  `throat.conduit_length.pore1`, `throat.conduit_length.pore2` and `throat.conduit.throat` is 1 (i set the network spacing with 1).
But the `throat,conduit_length.pore1` is always smaller than the corresponding `pore.diameter`/2. Maybe just like you

[2020-01-07 16:07] magnaou commented on #923
@xu-kai-xu as you said, the `throat.conduit_length.pore1` is always smaller than the corresponding `pore.diameter/2` (see attached figure).
![conduit](https://user-images.githubusercontent.com/34344677/71909333-d2f10b80-313d-11ea-8e1f-7569684f016c.png)

[2020-01-08 02:56] xu-kai-xu commented on #923
Thank you!

[2020-01-15 08:48] fablion opened #1367 "pore.diameter"
Hi everyone,

I've just started to use openpnm. I've also started to learn Python for several month on my personal time (I'm chemist engineer in environmental company but we are working on decontamination of soil contaminated by non aqueous phase liquids). So i'm sorry if my question is too easy for you or is not well ask on github (that I also use for the first time to ask a question).

In order

[2020-01-15 09:04] fablion commented on #1367
Understood... The code create a normal distribution with loc variable as mean. So the curve is "centered" on 0,00001 with my code. And given the standard deviation, half of the numbers are negative.

Is it a way to change all negative values in positive values ? with absolute value?

Thanks

[2020-01-15 11:17] ma-sadeghi commented on #1367
@fablion OpenPNM-Examples is no longer maintained, you can use the Tutorials in the main repo [here](https://github.com/PMEAL/OpenPNM/tree/master/examples/tutorials).

[2020-01-15 11:45] fablion commented on #1367
Many thanks!

[2020-01-15 12:52] fablion opened #1368 "Errors/typos in tutorials?"
Hi,

I think there are several errors in [tutorials](https://github.com/PMEAL/OpenPNM/blob/master/examples/tutorials/02 - Intro to OpenPNM - Intermediate.ipynb):

- Is mean pore size [controlled ](https://openpnm.readthedocs.io/en/master/modules/models/geometry.html#module-openpnm.models.geometry.pore_size) by loc and not scale?

loc (float) – The mean of the Normal distribution

- in the code, 50

[2020-01-15 12:54] fablion commented on #1368
in this [tutorial ](https://github.com/PMEAL/OpenPNM/blob/master/examples/tutorials/01 - Intro to OpenPNM - Basics.ipynb), the last Paraview image show pore_air_pressure. But this tutorial present only 1 phase ("water"). So is it an error or did I miss something?

[2020-01-15 14:16] ma-sadeghi commented on #1367
@fablion Thanks for your suggestion, will definitely talk to the rest of the team to clarify the ambiguity.

[2020-01-15 14:16] #1367 closed

[2020-01-15 14:18] ma-sadeghi opened #1369 "Remove OpenPNM-Examples repository"
Now that we've completely migrated all our examples to the main repo, I think it's better to entirely retire and remove OpenPNM-Examples.

[2020-01-15 14:30] jgostick commented on #1368
@fablion , thanks for point these out. They do indeed seem like typos.  It's been quite a while since we wrote those tutorials, and we 'translated' them from V1 to V2, so I guess somethings got messed up.

Please keep posting typos/errors that you find in this thread, thanks!

[2020-01-15 14:38] jgostick commented on #1369
I hesitated deleting the repo because I didn't love having the examples in the main repo, but I guess it's working out alright now.

In an ideal world, we would keep the examples separate and somehow automate the testing suite to run both the openpnm and openpnm-examples on each push, and to fail if the examples didn't build...but that is pretty complicated to do I think.

[2020-01-15 16:35] fablion commented on #1368
In basic tutorial, there is 4 x 3 x 1 pore network.
The following code is proposed :
[code]

As the front has 3 pores connected by 2 throats,, if I understand well, A should be 0.0001*3*1.
And L should be 0.0001*3 (3 throats) isn't it?

[2020-01-15 21:49] jgostick commented on #1365
Hi @angelswat, Did this work for you?

[2020-01-15 21:55] jgostick commented on #1361
I recently added a ``target`` argument to pores and throats, so you can do:

[code]
where a, b and c are the indices of pores 1, 2, 3 in terms of network indices.

Not sure if this is the same as what you're suggesting?

[2020-01-15 21:57] jgostick commented on #1361
Are you suggesting that 'blah' is a network label?  So:

[code]

Where a, b and c are the pore indices relative to the `phys` indices?

[2020-01-15 22:41] ma-sadeghi commented on #1361
Yes, exactly. I think it's really convenient for multi-domain geometries.

[2020-01-16 02:19] jgostick commented on #1361
Hmmm, now that I"ve looked at it a bit, the functionality is **exactly** what ``map_pores`` is for.  I am thinking if is just too much feature creep to add this feature to ``pores``.  It would literally call ``map_pores`` behind the scenes.

[2020-01-16 02:19] #1361 closed

[2020-01-16 15:18] fablion commented on #1369
At least, I suggest to change the link of the "Examples" tab on the main website. It is linked to the openpnm-examples directory.

[2020-01-16 22:04] ma-sadeghi opened #1372 "ad_dif_conductance must be manually updated when running AdvectionDiffusion.run()"
The problem is that `ad_dif_conductance` depends on `phase["pore.pressure"]`, which is only available after running `StokesFlow.run()`. So, in a normal OpenPNM simulation workflow, since `physics` object is obviously instantiated before running `StokesFlow`, the value of `ad_dif_conductance` is outdated since it has been calculated using obsolete `phase["pore.pressure"]` values.

There are many wo

[2020-01-16 22:04] ma-sadeghi commented on #1372
@jgostick @magnaou What do you think?

[2020-01-17 02:12] jgostick commented on #1365
This usually happens if you upgrade some packages in your environment, but not all of them.  It's happened to me a few times too.  It's not easy to prevent though, because we don't want to 'force' package versions since this creates dependency conflicts.  Anyway, I'll close this now.

[2020-01-17 02:12] #1365 closed

[2020-01-20 14:11] borahdj2010 opened #1373 "Problem with the Berea Sandstone example Using Porespy"
There seems to be a problem in the example [here](https://github.com/PMEAL/OpenPNM/blob/master/examples/simulations/BereaSandstone%20Effective-Permeability.ipynb) for Berea Sandstone simulation with OpenPNM and Porespy.
[code]

When the code above is executed it produces the error
[code]
The file is downloaded from the Imperial website and used without altering anything. What needs to be done to b

[2020-01-20 17:02] borahdj2010 commented on #1373
I have a found a way to solve it. I used the following code
[code]
Is there any better way to do that?

I have checked for the porosity and it shows .80354 which is alright because I did not change the downloaded file (where the pores and the solids values are altered as required by the Maximal Ball algorithm).

[2020-01-21 13:29] ma-sadeghi commented on #1364
@jgostick what do you think?

[2020-01-21 14:35] jgostick commented on #1364
There is nothing stopping the use of numerical values, and it's fine when you're talking about scalar values like Antoines.  We just want to avoid send numpy arrays of Np and Nt length.

I mean, who ever writes the model gets to choose which data to accept.  Generally, pore and throat data (which can vary by location) should be a dict, and everything else should be a scalar or numerical value. I'

[2020-01-22 15:02] ma-sadeghi opened #1374 "Definition of tolerance recently changed in Scipy's iterative solvers"
The definition of `atol` and `tol` have recently changed in `scipy`'s iterative solvers, which causes `openpnm` solver wrappers to fail to converge if an iterative solver is chosen. The good news is that, their new definition is exactly the one we use in our `ReactiveTransport`'s `_run_iterative` method. So, they're both compatible, and it's a quick, but critical fix. I'll push something asap.

[2020-01-22 15:25] ma-sadeghi opened #1375 "GenericTransport._solve should accept initial guess x0"
In iterative algorithms, when using iterative solvers, this is especially useful, since it significantly reduces the total number of required iterations to meet a given tolerance.

[2020-01-22 15:31] ma-sadeghi commented on #1113
I think it's worth investigating.

[2020-01-24 17:03] jgostick commented on #1373
Reading in 3D image files is always "fun".  I usually open up badly behaving files in imagej, then save as a properly formatted TIF file first.  Your 2nd way is actually pretty clean.  I can't imagine a better way than that...technically it's 2 lines of code:

[code]

[2020-01-24 17:05] #1373 closed

[2020-01-24 17:07] jgostick commented on #1355
Is this one done now that (a) scipy has changed it's definition of atol, and (b) we've updated a few things?

[2020-01-24 18:06] ma-sadeghi commented on #1355
I'm pushing some changes as a new PR soon, will reference this issue then

[2020-01-30 10:47] TomTranter opened #1377 "Should InvasionPercolation sequence start at 0 for inlets and 1 for 1st pore invaded"
At the moment it seems to be zero for both
[code]
produces
[0 0 1 2 3 4 5 6 7 8]

[2020-01-30 21:11] ma-sadeghi opened #1380 "PNP not entirely functional"
Just for future reference: Here's how to reproduce the bug:
1. Edit `openpnm/algorithms/TransientReactiveTransport.py`
2. Go to `_t_run_reactive` method, edit the following snippet from
[code]
to
[code]
3. Run `/scripts/example_transient_PNP.py`
4. See the output
[code]
Now, the reason this (possible) bug was not caught by the solver is a direct consequence of the way stopping criterion has been i

[2020-01-30 22:49] ma-sadeghi opened #1381 "Use numexpr to speed-up pore-scale models"
https://github.com/pydata/numexpr

[2020-01-30 22:53] ma-sadeghi opened #1382 "Add test for PETSc (partially done)"

[2020-01-31 00:12] ma-sadeghi opened #1383 "Add a Solver class"
The motivation is that a significant portion of `GenericTransport` is dedicated to dealing with different solvers, tolerances, etc. I think it deserves its own class, not for the sake of object-orientation, but for much more clarity and division of labor across classes.

[2020-01-31 16:18] jgostick commented on #1369
Done and done.  OpenPNM-Examples is now a private repo

[2020-01-31 16:18] #1369 closed

[2020-01-31 16:19] jgostick commented on #1375
Fixed in PR #1379

[2020-01-31 16:19] jgostick commented on #1374
Fixed in PR #1375

[2020-01-31 16:19] #1374 closed

[2020-01-31 16:29] #1381 closed

[2020-01-31 16:30] jgostick commented on #1360
Fixed in PR #1378

[2020-01-31 16:30] #1360 closed

[2020-01-31 16:31] jgostick commented on #1355
Fixed in PR #1378

[2020-01-31 16:31] #1355 closed

[2020-01-31 16:50] #1375 closed

[2020-01-31 20:21] ma-sadeghi commented on #1359
This is addressed in PR #1384

[2020-01-31 20:21] #1359 closed

[2020-01-31 20:22] ma-sadeghi commented on #1382
A test was already added in PR #1384, but is excluded via a `try` and `except` block. The next step would be to make some changes so the test is made sure to run on our Ubuntu/macOS CI nodes.

[2020-01-31 20:47] ma-sadeghi commented on #1364
Issue #1363 is relevant

[2020-01-31 20:50] ma-sadeghi commented on #1356
@magnaou Can you please take a look, I already refactored `ReactiveTransport`, if you could do the same to `TransientReactiveTransport`, I wanted to do it myself, but there were a few different methods for `run` (`_run_transient_t`, etc.) that I couldn't quite figure which one should I change. Thanks.

[2020-01-31 20:50] ma-sadeghi commented on #1357
@magnaou Can you please explain what this is about?

[2020-01-31 21:07] ma-sadeghi commented on #1353
Hi @Saeid-Sli. I think the way `plot_connections` works at the moment is how most people expect, i.e. x-axis to stretch from left to right, and y-axis from bottom to top. So, I guess we can close this issue? or am I missing something?

[2020-01-31 21:25] ma-sadeghi commented on #1352
This was addressed in PR #1385

[2020-01-31 21:42] ma-sadeghi commented on #1351
Actually, we _do_ have a simpler form, called `standard_kinetics`, which is in the form of `r = A*X^b`, so I think it doesn't hurt to have this generic form.

[2020-01-31 21:42] #1351 closed

[2020-01-31 21:43] ma-sadeghi opened #1386 "Change keyword "quantity" to "X" in standard_kinetics for consistency"
`standard_kinetics` is the only source term model that we use the keyword `quantity`, and not `X`.

[2020-01-31 21:45] ma-sadeghi commented on #1340
@jgostick What do you think?

[2020-01-31 21:47] ma-sadeghi commented on #1340
On a relevant note, it might be worth it to re-introduce the concept of super pore, i.e. a virtual pore with no resistance, only used to distribute mass/energy when setting a rate BC on a bunch of pores, but when the individual rates are not known, which is by the way the more practical case.

[2020-01-31 22:44] ma-sadeghi commented on #1341
This has already been addressed in our private repo.

[2020-01-31 22:44] #1341 closed

[2020-01-31 22:46] ma-sadeghi opened #1387 "Multiple identical calls to set_source method creates duplicate source terms"
[code]
`set_source` must check for duplicate `propname`, and ignore those.

[2020-01-31 22:58] ma-sadeghi commented on #453
@jgostick Is this proposal still on the table?

[2020-01-31 23:01] ma-sadeghi commented on #1253
@jgostick @maghighi What's the status of this issue?

[2020-02-01 00:01] ma-sadeghi commented on #725
@jgostick What's the status of this issue? Is @Saeid-Sli working on it?

[2020-02-01 00:06] ma-sadeghi opened #1388 "plot_networkx should be able to handle 1D networks too"
At the moment, if you pass a 1D network to `plot_networkx`, it throws an error, but this should work. This is a quick fix, and I'll push a fix soon.

[2020-02-01 02:20] jgostick commented on #1340
You're setting the rate on each of the pores individually.  The 1.5 is basically broadcasting to all the pores in the numpy sense.  BUT, I agree that setting a rate on a group of pores is a missing feature.  I feel like we discussed this and you were against it for mathematical reasons.  If we were to readd the super pore option, how would the api work?  We used to have a mode='group' or 'single'

[2020-02-01 08:07] Saeid-Sli commented on #725
@ma-sadeghi,  I translated the vug generation code into the 2nd version of OpenPNM and the code is with @jgostick right now.

[2020-02-01 08:15] Saeid-Sli commented on #1353
Hi @ma-sadeghi . The problem has not been resolved yet. The problem is that the two outputs are plotted in different orientations (with -pi/2 degree rotation). As you indicated, **plot_connections**  works well but the problem is with **im.show**. Compare the following two images which are plotted from the same image by both methods but at two different orientations.

![image](https://user-images.

[2020-02-01 12:22] ma-sadeghi commented on #1353
@Saeid-Sli I know, but `plt.imshow` is part of `matplotlib`.

[2020-02-01 12:27] ma-sadeghi commented on #725
Thanks for the update @Saeid-Sli.

[2020-02-01 15:44] Saeid-Sli commented on #1353
@ma-sadeghi One of these plots are not being shown correctly!  You are right that **plt.imshow** is a part of **matliplot**. So, please check the output of **plot_connections**. Maybe it is not being shown correctly. I had the same problem when the output was exported to **paraview** (the same -pi/2 rotation was necessary). I found this issue when I  was ploting 2D networks by these tools simultan

[2020-02-02 00:54] ma-sadeghi opened #1389 "Ad hoc conversion of A.indices.dtype for umfpack compatibility no longer needed (soon)"
In `GenericTransport`, we had to manually convert `dtype` of `A.indices` and `A.indptr` to `int64` as `umfpack` complained about memory. This issue is currently being taken care of by Scipy devs, and hopefully the next version will be patched. See [here](https://github.com/scipy/scipy/issues/8278) for more details. This issue is for future reference once the new version of Scipy comes out.

[2020-02-02 14:55] ma-sadeghi commented on #1353
Tho following code
[code]
produces
![image](https://user-images.githubusercontent.com/14086031/73610077-be1f6080-45a1-11ea-836a-8b5fa27be3ab.png)
which is what I expected.

And this is what paraview rendered

![image](https://user-images.githubusercontent.com/14086031/73610113-0b033700-45a2-11ea-9804-a60d5c44581e.png)

[2020-02-04 16:34] ma-sadeghi opened #1392 "A matrix doesn't get rebuilt even when some properties are set as iterative_prop"
The issue is that even if you set some of the properties such as viscosity, etc. as `iterative_prop`, although these properties get updated during the call to `alg.run`, but if `self._pure_A` is not `None`, which happens, for instance, when you want to rerun the algorithm in a parametric study, `self._build_A` gets bypassed and `self._pure_A` which has been cached will be returned. Long story shor

[2020-02-04 18:33] ma-sadeghi opened #1393 "Better handling of iterative properties"
At the moment, the user needs to manually specify which properties are iterative. This is fine since we can't/shouldn't make any assumptions in this regard. But, once a property is declared as `iterative_prop` by the user, `OpenPNM` **should** look up the dependency hierarchy and set upstream properties as `iterative_prop` as well. A good example is conductance, which could potentially depend on i

[2020-02-04 20:23] ma-sadeghi commented on #1372
This is now addressed in PR #1391.

[2020-02-04 23:30] jgostick commented on #1392
based on the above code snippet, I cannot see where the conductance values are stored on the alg object.

[2020-02-04 23:37] jgostick commented on #1393
Technically it's possible since we have the dependency tree now, so we could look up all the parent nodes of the tree and regenerate them  if needed.

However, I don't quite understand the use case.  Consider:

   B
 /
A -- C -- D

A depends on B and C, C depends on D.

If A is iterative should we regenerate B, C and D?

If A is *not* iterative, but *B* is iterative, we should regenerate A and B,

[2020-02-05 00:08] ma-sadeghi commented on #1393
I think only upstream should be regenerated, in this case only B, or maybe I missing something?

How can B be iterative when all its dependencies are not? Maybe other dependencies that are not proper OpenPNM dictionary keys? Like scalars that, for some reason, might get updated during iterations?

I think, ideally, we only want to declare iterativeness of the bottom-most properties. For example, i

[2020-02-05 00:18] ma-sadeghi commented on #1392
Updated.

[2020-02-05 00:20] ma-sadeghi commented on #1392
This could be related to issue #1393, if we go w/ automatic dependency handling, then there's no need to even store conductance values on algorithms for comparison. If conductance is inferred as an iterative property by the algorithm, then it always recreates `_pure_A`.

[2020-02-05 00:30] ma-sadeghi commented on #1366
This issue has been addressed in PR #1394

[2020-02-05 00:33] ma-sadeghi commented on #1386
This has been addressed in PR #1366

[2020-02-05 00:36] jgostick commented on #1393
My diagram was meant to show that B and C-D were both upstream.

Regarding B being iterative but A is not, I think this is what you're saying about conductance.  If viscosity is set to be iterative (because of changing temperature), then conductance should inherit this mode.  Which is what I mean by B is set to iterative (viscosity) but A is not (conductance).

[2020-02-05 00:45] jgostick commented on #1392
Ok, let's can this then, and focus on proper treatment of iterative properties.

[2020-02-05 00:45] #1392 closed

[2020-02-05 07:25] Saeid-Sli commented on #1353
@ma-sadeghi Hi Amin.

I checked the code again. I run the code in both 1st and 2nd versions of OpenPNM. The rotation problem was raised just in the first version of OpenPNM.

In Ver2, both `topotools.plot_connections` and Paraview outputs are identical. However, the `imshow` output needs +90 rotation in order to be aligned with `Paraview `and `topotools.plot_connections`. As `imshow` is a part of

[2020-02-06 08:40] saeidabd opened #1396 "Unchanging capillary curve with changing contact angle"
Hello dear @jgostick
I have a question about contact angle. I changed my pore contact angle and ran OP again but I can't see any difference in data or curves. It has shown on one figure if you see. what is the problem? where of my code is wrong?

[code]

[2020-02-06 08:46] saeidabd commented on #1396
This is the figure.
![1](https://user-images.githubusercontent.com/49044459/73920400-8df5fb80-48da-11ea-9f6b-24c5845bdecd.JPG)

[2020-02-06 14:53] jgostick commented on #1396
You need to update the physics objects, which calculate the capillary pressure.  They need to be told that the contact angle was changed on the phase object.

If you do `phys_water.regenerate_models()` after you update the contact angle it should work.

[2020-02-06 19:03] saeidabd commented on #1396
yes. It worked, thank you. but I have another question, now. I attached the result. These are water contact angle of 80 (red) and 60 (blue). these seems ok but the irreducible water saturation are same (about 0.24). is it correct?
![2](https://user-images.githubusercontent.com/49044459/73969138-1783e880-4930-11ea-8f86-5ae7e9a9fbe2.JPG)

[2020-02-07 03:09] jgostick commented on #1396
How are you doing this?  Can you paste your code, just for the algorithm part?

[2020-02-07 13:25] saeidabd commented on #1396
I attach figure again because the plotting was wrong.
![7](https://user-images.githubusercontent.com/49044459/74031331-7a27c380-49c6-11ea-9f80-0fa2f93c28b8.JPG)
and this is algorithm part (please do attention I use a real network):
[code]

[2020-02-07 20:13] #1387 closed

[2020-02-07 20:14] #1386 closed

[2020-02-07 20:14] #1372 closed

[2020-02-07 20:14] #1366 closed

[2020-02-07 20:14] #1352 closed

[2020-02-07 20:15] #1113 closed

[2020-02-07 20:46] ma-sadeghi commented on #1353
Right, so it's a documentation issue. I'll tag this issue for the next release to be fixed.

[2020-02-11 00:20] ma-sadeghi opened #1398 "Algorithms should throw critical warning when conductance data contains nan"

[2020-02-11 22:24] ma-sadeghi opened #1399 "Wu et al. example broken"

[2020-02-11 22:25] ma-sadeghi opened #1400 "Blunt et al. (on pore-scale imaging) example broken"

[2020-02-14 15:50] #1215 closed

[2020-02-14 15:58] jgostick commented on #1353
We use imshow once in the actual code:  `plt.imshow(slice_image.T, cmap='Greys', origin='lower')`.  In this instance the orientation is correct.  I supposed to be thorough we should add the .T and the origin='lower' to the examples too.

[2020-02-14 16:34] ma-sadeghi opened #1402 "PETSc wrapper only uses 1 MPI core (multithreading works fine though)"
Since `BLAS` library is multithreaded, `PETSc` wrapper takes advantage of multithreading, but this only gives us ~4X speed up since only 1 MPI core is accessible.

[2020-02-14 17:25] ma-sadeghi opened #1403 "GenericTransport.solve doesn't throw error when solver_family is not found"

[2020-02-14 17:26] #1403 closed

[2020-02-15 21:39] jgostick commented on #1350
Fixed in #1404

[2020-02-15 21:39] #1350 closed

[2020-02-15 21:50] jgostick commented on #1358
Fixed in PR #1404

[2020-02-15 21:50] #1358 closed

[2020-02-15 23:10] jgostick commented on #1353
I have fixed the only use of imshow in the docs to transpose and use origin='lower' in PR #1404

[2020-02-15 23:10] #1353 closed

[2020-02-16 03:35] jgostick commented on #1349
Added in PR #1404

[2020-02-16 03:35] #1349 closed

[2020-02-16 21:00] #1396 closed

[2020-02-19 17:36] ma-sadeghi opened #1405 "Update parameters in pore-scale models"
Consider a pore-scale model with a bunch of scalars as input arguments, this could be rate constant for Butler-Volmer, for instance, as a function of the exchange current density (`j0`), and the open-circuit voltage (`V_oc`). Now, let's say we want to do a parameteric study and see how changing `V_oc` affects the results. There are a few options on how to achieve this in `OpenPNM`:

1. Store `V_oc

[2020-02-19 20:12] ma-sadeghi commented on #1363
Another convenience that could come with this model factory is doing proper mapping based on which object on which the model is added, which is usually something that most beginners.

[2020-02-19 20:36] ma-sadeghi opened #1406 "Make sure warning is always shown when models aren't run due to missing dependencies"

[2020-02-22 17:11] jgostick opened #1407 "Allow 're-assignment' of pores when creating Geometry and Physics?"
at the moment, if you assign all 100 pores to a geometry, then try to create a second geometry, we throw an error.  Maybe it would be convenient to allow this.  For instance, if I'm importing a network, then I use the `Imported` geometry class, all the pores are assigned to it.  But what if I subsequently want to create a boundary geometry and assign pores 1, 2 and 3?  It may be handy to allow thi

[2020-02-22 17:26] jgostick commented on #1407
Now that I'm playing with it a bit, here is a proposal:

This should be handled by the `Project`.  We should add a function like `reassign_locations`, that shifts all info from one object to another, including pore scale models, properties, labels, etc. Like this:

[code]

`mode` could also be a list like ['labels', 'props', 'models']

[2020-02-22 17:43] jgostick opened #1408 "throat.diameter models break when object has no throats"
Should be an easy fix.  Worth adding tests to see if any models break when applied to elements that are there.

[2020-02-27 19:00] jgostick opened #1409 "use of floats for int arguments is now an error in numpy/scipy, so need to fix several spots in openpnm"

[2020-02-27 19:00] jgostick commented on #1409
Example is the use of linspace(0, npts).....should be int(npts).

[2020-02-27 19:17] jgostick opened #1410 "merge_networks breaks when donor has Np by N data where N > 1"

[2020-02-29 02:11] jgostick opened #1412 "Add PoreSpy class to io module"
This should add the geometrical models to a Geometry class that does what snow currently does in porespy.  Similar to the "Imported" geometry class, but snow-specific.

[2020-03-03 05:43] jgostick commented on #1410
This is fixed in PR #1414

[2020-03-03 05:43] #1410 closed

[2020-03-03 05:44] jgostick opened #1415 "Remove travis builds from workflow"
Now that github is doing all this for us, I guess we should stop wasting travis's time?

[2020-03-03 05:58] jgostick commented on #1409
fixed by PR #1411

[2020-03-03 05:58] #1409 closed

[2020-03-03 06:34] jgostick commented on #1408
fixed by PR #1416

[2020-03-03 06:34] #1408 closed

[2020-03-04 21:56] magnaou commented on #1356
fixed on PR #1413

[2020-03-08 14:52] jgostick opened #1417 "find_full_domain function behaves badly when subdomain object has no assigned locations"
It should report the actual error instead of saying NoneType has no attribute blah blah blah

[2020-03-08 15:34] jgostick opened #1418 "Should we add conduit_*** models?"
We currently only have pore_** and throat_** categories, but I'm thinking it might make sense to include a conduit category, like conduit_area, length, etc.  These would return an Nt-by-3 array with pore-throat-pore info.  We have some conduit model distributed through the models library, so we could consider relocating them.

[2020-03-08 18:00] jgostick opened #1419 "Add inspect method to Base class"
This should return a pandas dataframe with each row corresponding to a property, and each column corresponding to a location, the premise being that you'd only want to inspect a few locations at a time , so wouldn't require too many columns.

[2020-03-08 18:20] jgostick opened #1420 "Flow and poisson shape factors should be geometry models"
It would be better if we could attach these to a geometry object and their values used by the physics objects just like other geometry properties.  This way they could be added to the 'imported' geometry class.

[2020-03-08 18:22] jgostick commented on #1420
Also, flow shape factor should be 'stokes' shape factor maybe?  This would be analogous to poisson shape factor.  Alternatively poisson could be called diffusion_shape_factor (with a convenience wrapper called conduction_shape_factor).

[2020-03-08 18:23] jgostick commented on #1420
We should also have 'capillary_shape_factors' as a file.  At the moment the 'throat_shape_factors' file only has capillary shape factors in it.

[2020-03-08 19:01] jgostick opened #1421 "flow_shape_factor models yield nans when L / D > 0.5"
[The problem is on this line](https://github.com/PMEAL/OpenPNM/blob/b3873d35270b0acaad019264368d0055c677d159/openpnm/models/physics/flow_shape_factors.py#L99)

The arctan term goes to inf when the argument == 1 and nan when arg > 1, so when L / D > 0.5 it's then multiplied by 2, and creates an undefined result.  This is putting nans in the hydraulic conductance array.

[2020-03-08 19:06] jgostick opened #1422 "Differentiate between area factor and shape factor?"
We currently use term shape factor for 2 reason.  In one case we are talking about the cross-sectional shape of a throat (ie. circular vs square) and using it to adjust the hydraulic conductance.  In other cases we are referring to the fact that a pore is a sphere so has a variable cross-sectional area from center to perimeter.  We could call the first an area_factor, while the second is an actual

[2020-03-08 19:08] jgostick commented on #1420
This would also help with network extraction, since it could calculate shape factors directly for each type of transport and return as geometrical properties.

[2020-03-08 19:09] jgostick opened #1423 "It is not obvious that flow vs poisson shape factors are analogous"
Maybe ``flow_shape_factor`` should be ``stokes_shape_factor``? This would be analogous to ``poisson_shape_factor``.

Alternatively poisson could be called ``diffusion_shape_factor`` (with a convenience wrapper called ``conduction_shape_factor``).

[2020-03-08 19:11] jgostick opened #1424 "capillary_shape_factors are not well named"
We should also have 'capillary_shape_factors' as a file. At the moment the 'throat_shape_factors' file only has capillary shape factors in it.

[2020-03-08 19:59] ma-sadeghi commented on #1418
I strongly agree. This would make dictionaries more predictable, plus it solves some of the problems we currently have, for instance, the multiphase diffusion model requires individual pore conductance values (i.e. g1, gt, and g2). Currently, we recalculate those properties inside the model, whereas if we adopt this approach, those properties will be stored under `"conduit.diffusive_conductance"`.

[2020-03-08 20:02] ma-sadeghi commented on #1423
Maybe we should go with both changes that you suggested! After all, our `flow_shape_factor` only works for Stokes flow. Also, having wrappers such as `diffusion_shape_factor` make things more clear.

[2020-03-09 12:45] ma-sadeghi commented on #1421
@jgostick I understand that you're referring to ball_and_stick flow shape factor model. In that case, L/D must always fall below 0.5, right? (assuming that pores are spherical)

[2020-03-09 12:48] ma-sadeghi commented on #1421
But still, I think we should have a more generic shape factor. In fact, the paper from which I implemented the flow shape factor models doesn't assume a particular cross-section shape. So, I think it might be worth it to go back and see if we can make the shape factor model generic. If I remember correctly, the key term in the paper was some special area integral. This can be linked to issue #1418

[2020-03-09 12:59] ma-sadeghi opened #1425 "How to deal with boundary pores?"
This issue is reserved for thoughts and ideas on how to deal with boundary pores. Let me back up what we've already discussed so far. Feel free to comment and suggest new ideas so we can come up with a conclusion and deal with boundary pores once and for all!

## Annoying Boundary class
One of the annoying issues with Boundary geometry class is that we necessarily need to create a physics object a

[2020-03-09 13:05] ma-sadeghi commented on #1422
That's right, and I completely agree. I think this could potentially be linked with issue #1418. It's more convenient to store properties at the bottom most layer of abstraction, i.e. conduit elements (half of pores and throats).

[2020-03-10 13:48] ma-sadeghi opened #1427 "CubicTemplate immensely slow because of find_surface_pores"
Create a trimmed network using CubicTemplate class is ~100X slower than creating it by trimming a Cubic network, and it's almost entirely coming from the call to `find_surface_pores`.

I think we either need to massively optimize `find_surface_pores` method, or should get rid of it in `CubicTemplate` class as calling it on a relatively large template makes it virtually unresponsive.

PS. `CubicTem

[2020-03-10 13:56] ma-sadeghi opened #1428 "Add Continuum Geometry class for direct numerical simulations"
For carrying out direct numerical simulations, it would be handy if we had a `DNS` geometry tailored for that purpose. It would simply be a bunch of cubic models (volume, area, etc.).

[2020-03-10 23:01] ma-sadeghi opened #1429 "Getter method for A matrix in GenericTransport should always call _build_A"
Currently, the getter method for A matrix bypasses the call to `_build_A` if `_A` is not `None`. This led to the bug that even when `cache_A` is set to `False`, by changing the conductance values, `A` doesn't get rebuilt.

[2020-03-11 00:14] jgostick commented on #1427
I think it uses the delauny tessellation class in scipy. We could probably drop it...or cull many points from the interior before running it.

[2020-03-11 00:15] jgostick commented on #1428
We are currently putting DNS calculations in PoreSpy, using OpenPNM in the background.

[2020-03-11 13:05] ma-sadeghi commented on #1428
I mean DNS coupled with PNM, like in CL simulation where we have void as PNM coupled with Nafion as DNS.

[2020-03-11 14:42] ma-sadeghi commented on #1429
Fixed in PR #1431

[2020-03-11 14:42] #1429 closed

[2020-03-11 15:20] jgostick commented on #1419
Added in PR #1432

[2020-03-11 15:20] #1419 closed

[2020-03-11 15:20] jgostick commented on #1412
Added in PR #1430

[2020-03-11 15:20] #1412 closed

[2020-03-11 16:07] ma-sadeghi opened #1433 "Automatically catch the source of NaNs in objects"
Consider the following code snippet:
[code]
Since `throat.endpoints`, which is a `geom1` model, requires `pore.diameter` to be known in the entire domain, it'll be NaNs in some places, and so the code fails to converge, leaving the user clueless about where the problem comes from. If the user is OpenPNM-savvy, probably they'll figure out to put `geom1.regenerate_models()` after `geom2` instantiati

[2020-03-11 16:12] jgostick commented on #1433
Maybe a more general/simple fix should be for the solver to catch nans, and report their presence, with an additional comment like 'try regenerating models on all objects'.

Also, speaking of regenerating models on all objects, the project could/should have a method to do this, which scans all objects in the correct order and does it.

[2020-03-11 16:21] jgostick commented on #1433
My comment above pertains to #1398

[2020-03-11 16:22] #1356 closed

[2020-03-11 16:28] jgostick commented on #1325
The alternative would be:

[code]

So the proposal is:

[code]

Not sure this is much of a help.

[2020-03-11 16:33] jgostick commented on #1418
Actually, I was thinking of adding conduit models as a categorization in models library, but I also agree that allowing conduit.property in the dicts would be handy.  I have actually added that idea to the openpnm V3 project, where I'm collecting a list of breaking changes.

[2020-03-11 16:33] jgostick commented on #1308
This pertains to #1418

[2020-03-11 16:34] jgostick commented on #1406
This simply requires changing the log level to critical instead of warning.

[2020-03-11 17:29] ma-sadeghi commented on #1433
@jgostick I like what you proposed. Since the order of regeneration also matters, this can be done via the project object

[2020-03-11 19:21] jgostick opened #1434 "Change name of IonicTransport to NersntPlanckSystem"
I think the name of the ``IonicTransport`` class (and it's transient version) are not very descriptive and possibly misleading.  The role of these classes is to orchestrate the solution of the coupled pressure, species specific nernst-planck and ohms law algorithms.  So I propose to rename them to ``NernstPlanckSystem`` and ``TransientNernstPlanckSystem``.

This is a bit of a breaking change since

[2020-03-11 19:27] jgostick opened #1435 "Change name of ChargeConservation?"
The ``ChargeConservation`` algorithm is basically just Ohm's law.  When used within a ``NernstPlanckSystem`` class it has a single pore scale reaction model added to it that creates a coupling with the other algorithms, but otherwise it's just Ohm's law.

One option would be to literally just use ``OhmicConduction`` instead, but the downside is that the default conductance value are set on it to b

[2020-03-11 19:28] jgostick opened #1436 "NernstPlanckSystem should descend from GenericAlgorithm not ReactiveTransport"
It is picking up lots of methods that is does not need.

[2020-03-11 19:57] ma-sadeghi opened #1437 "Maybe a more convenient way of getting global indices of subdomain objects"
Maybe we've talked about it in the past. I think getting global indices of subdomain objects should be more convenient than doing:
[code]

[2020-03-12 05:32] jgostick commented on #1437
suggestions?   BTW, you can also do:

[code]
Which will fetch all 'left' pore from ``pn``, then return their corresponding index on ``geom_A``

[2020-03-13 15:44] jgostick commented on #1427
Let's break this class and remove lines 80+, let's keep labels from cubic, and let's add 'internal_surface' label for pores that have < 6 neighbors and are not a 'real' surface pore.

[2020-03-13 19:06] siz23 opened #1440 "find pores and throats in heterogeous stitched network"
Hi @jgostick ,

I would appreciate if you could help on issue on stitched network. My network is form by 2 cubic networks stitched together, one having large spacing and the other small spacing (these two parts also need to have different geometry settings). I would like to a column pores of small spacing network to have different geometry properties, so need to find the pores and neighbor throats

[2020-03-14 11:39] ma-sadeghi opened #1442 "Conda recipe for OpenPNM"

[2020-03-15 18:47] jgostick commented on #1436
Fixed in PR #1443

[2020-03-15 18:48] #1436 closed

[2020-03-15 18:57] jgostick commented on #1434
fixed in PR #1443

[2020-03-15 18:57] #1434 closed

[2020-03-15 18:58] jgostick commented on #1435
Dealt with in PR #1443

[2020-03-15 18:58] #1435 closed

[2020-03-16 13:50] ma-sadeghi opened #1444 "Memory profiling OpenPNM"
Ideally, we'd want OpenPNM to have zero allocation memory, i.e. using as little buffer as possible. Right now, the peak memory usage by an OpenPNM script could be as high as 2-3X the actual memory requirement of all the objects. We can track this down using the nice [memory_profiler](https://github.com/pythonprofilers/memory_profiler) library.

Definitely not a top priority, just posted it for fut

[2020-03-17 13:39] jgostick commented on #1440
I have run parts of your code and found that the stitching seems to be working as it should.  I'm not quite what your exact issues is.  Could you reply with more specific information, and perhaps a small test case that illustrates the issue?

[2020-03-17 15:37] siz23 commented on #1440
Hi @jgostick ,

Thanks so much for replying. The issue is that to use the network to simulate what I am interested in, such as diffusion problem, I need to define specific geometries for all pores and throats, and each pore/throat can be only assigned once. My problem is that there are always some pores and/or throats missed or assigned twice. If some pores/throats are missing, the simulation will

[2020-03-17 16:08] ma-sadeghi commented on #1388
Fixed in PR #1446

[2020-03-17 16:08] #1388 closed

[2020-03-17 16:10] ma-sadeghi commented on #1402
Fixed in PR #1441, but let's keep it open until we make sure we get the scaling we want (>>4X)

[2020-03-17 16:34] ma-sadeghi opened #1448 "PETSc scaling issue"
This is relevant to our conversation in PR #1441.

Basically, although our PETSc wrapper works fine in many-core clusters without breaking, we're still lacking the scaling that we hoped for. Currently, we get at best close to 2-3X speedup (depending on number of unknowns, solver type, and CPU architecture).

I tested our PETSc wrapper on Compute Canada using a simple diffusion script with ~3.5M po

[2020-03-17 16:36] ma-sadeghi commented on #1393
This is addressed in PR #1445.

[2020-03-17 16:37] ma-sadeghi commented on #1427
This is fixed in PR #1447.

[2020-03-17 16:37] #1427 closed

[2020-03-17 16:38] ma-sadeghi commented on #1402
Actually, I just opened up another issue regarding this, so we can close this.

[2020-03-17 18:45] #1402 closed

[2020-03-18 18:38] magnaou commented on #1357
In the 'TransientAdvectionDiffusion' algorithm, time marching might have a problem (not properly updating `b` when using `t_scheme=cranknicolson`). A minus sign might need to be changed to a plus.
A user reported that with `t_scheme=cranknicolson` and constant source term, `pore.concentration` doesn't change even if the source term value is varied.

[2020-03-19 00:57] ma-sadeghi commented on #1357
@magnaou Can you please take a look?

[2020-03-19 02:03] magnaou commented on #1357
Yep, I'm working on that.

[2020-03-19 13:38] ma-sadeghi opened #1449 "Add optional verbose argument to ReactiveTransport.run()"
This could be useful especially when a source term is involved that requires iteration

[2020-03-19 14:20] jgostick opened #1450 "Add an 'overview of openpnm' to the tutorials folder"
We could then link to a "binder" web page so people could actually play with it openpnm without installing anything.

I've already set it up for ['tutorial 1'](https://hub.gke.mybinder.org/user/pmeal-openpnm-801fo9sm/notebooks/examples/tutorials/01%20-%20Intro%20to%20OpenPNM%20-%20Basics.ipynb), but we should add a notebook that just cuts to the point.

[2020-03-19 20:13] magnaou commented on #1357
Fixed on PR #1451

[2020-03-20 15:04] #1357 closed

[2020-03-20 15:05] jgostick commented on #1380
@ma-sadeghi try to reproduce with dev....if not then close.

[2020-03-20 15:09] jgostick commented on #1449
Transient algs currently print a lot, and reactive prints nothing, so these two should be unitized as well.

[2020-03-20 15:22] ma-sadeghi commented on #1448
![petsc_scaling](https://user-images.githubusercontent.com/14086031/77178127-0dabe400-6a9d-11ea-8332-6c8aeac6c0e3.png)

[2020-03-24 11:43] ZHHYKU commented on #1373
I used the Berea.raw and outputs using SNOW are the same as those in this example except the effective permeability.  The value of K is: [945.72132788] mD, however in the example, K is: [1145.01717908] mD. I am confused about why I get different K value with the same code..

[2020-03-24 13:10] jgostick commented on #1373
It all depends on the pore-scale conductance models used.  Our code is continually evolving, and sometimes openpnm and porespy get out of sync, so it depends on what versions you are using.  I realize this is not a good answer, but we only only a few people (me + 1 or 2 grad students) working on this so can't always keep up.

[2020-03-25 16:49] saeidabd opened #1453 "Throat Occupancy does not change in MixedInvasionPercolation.result()"
@jgostick @TomTranter
Dear OpenPNM Team, I have problem in finding relative permeability. I used MixedInvasionPercolation.result() to update occupancy of pores and throat then set a little value for hydraulic conductance in desired place and run stock flow but throat occupancy remains zero in all capilarry pressures. what can I do?

`import porespy as ps
import openpnm as op
import numpy as np
imp

[2020-03-25 20:44] TomTranter commented on #1453
Hi @saeidabd, your problem is that the results are given as a fraction of the pore space that is filled at this pressure allowing for fractional pore filling and corner flow models. The following code should work. I also reduced number of inlets and number of points to evaluate.
[code]

[2020-03-26 09:31] TomTranter commented on #1422
I disagree (partly) I think that the throat shape factor should remain as shape factor. The pore converging walls could be called a cone-factor or something to convey the main physical reason it exists,

[2020-03-26 14:50] saeidabd commented on #1453
Dear Tom,
I saw this part of source code of MixedInvasionPercolation that is for result function:
[code]
It sounds throat occupancy should be update. I try statoil and snow algorithm both (without updating throat like you did for me), snow algorithm has problem and throat occupancy does not appears but statoil one works correctly. I use snow algorithm because the statoil one has big error in calcu

[2020-03-26 16:49] jgostick commented on #1449
not super urgent so am pushing to V2.4

[2020-03-26 18:45] TomTranter commented on #1453
I used the statoil file as I don't have your raw file. I don't really understand what your problem is now but I think you should spend some time debugging your code. Maybe throat volume is zero in the snow algorithm so throat occupancy is zero?

[2020-03-27 00:12] ma-sadeghi commented on #1380
I can't  reproduce it anymore, possibly fixed in PR #1451.

[2020-03-27 00:12] #1380 closed

[2020-03-27 09:41] saeidabd commented on #1453
@TomTranter
 Maybe you are right. I attach the file for snow algorithm [here](https://github.com/PMEAL/OpenPNM/files/4392622/S1.zip). Thank you for your responding.

[2020-03-27 14:02] jgostick commented on #1453
I will also add one comment here: The snow algorithm puts some questionable values into boundary pores.  We are working to remedy this, but I would suggest either not including boundary pores in the snow algorithm, or deleting them once you're in openpnm, and seeing if that helps.

[2020-03-27 23:10] jgostick commented on #1317
This is being added on the ``add_porespy_io`` branch, PR #1430

[2020-03-27 23:10] #1317 closed

[2020-03-28 16:20] saeidabd commented on #1453
@TomTranter @jgostick
Thank you dear @jgostick , it didn't really help me. As Tom pointed to me finding out zero volume of throat, I add throat.volume dictionary manually again by their length and diameter and it got me some curves.
I will close this issue.

[2020-03-28 16:20] #1453 closed

[2020-03-31 13:34] ma-sadeghi opened #1454 "Heterogenous vs. homogeneous reactions"
Currently, when we add a source term (e.g. reaction), we assume that the reaction takes place at pore concentration, which is certainly true for homogeneous reactions.

For heterogeneous reactions, on the other hand, this assumption might be true depending on the relative strength of reaction compared to mass transport.

In the extreme case where the reaction rate is much higher than the mass tran

[2020-03-31 13:43] jgostick commented on #1454
This is an excellent point.  The problem I foresee is that mass transfer is a function of flow, and we don't know the flow rate in a pore, so calculating a coefficient will be a challenge.

[2020-03-31 18:56] ma-sadeghi opened #1455 "How deep do we want the dependency graph to be?"
Currently, when calling `obj.models.dependency_graph(deep=True)`, it returns a so-called "global" dependency graph. However, it's not actually "global", rather it only includes those "global" dependencies that are listed in model args, but doesn't go deeper. For instance, `throat.diffusive_conductance`, which is a `physics` model, explicitly depends on `throat.conduit_lengths`, which is a `geometr

[2020-04-01 14:52] ma-sadeghi opened #1456 "IO class complains when manually adding one more level of depth"
Is this expected behaviour? If not, here's how to reproduce
[code]

[2020-04-01 21:13] ma-sadeghi opened #1457 "Why is StokesFlow a subclass ReactiveTransport?"

[2020-04-02 01:02] jgostick commented on #1457
In principle, there could be a reaction that consumes or produces moles

[2020-04-02 02:37] #1393 closed

[2020-04-02 02:37] ma-sadeghi commented on #1398
Fixed in PR #1458

[2020-04-02 02:37] #1398 closed

[2020-04-02 02:38] ma-sadeghi commented on #1406
Fixed in PR #1458

[2020-04-02 02:38] #1406 closed

[2020-04-02 19:30] ma-sadeghi commented on #1454
You're right. For diffusion-only physics, however, it should be doable I think.

[2020-04-03 01:55] #1415 closed

[2020-04-03 01:55] ma-sadeghi commented on #1415
This is now done

[2020-04-03 01:55] ma-sadeghi commented on #1433
This is now fixed in PR #1458

[2020-04-03 01:55] #1433 closed

[2020-04-03 01:58] ma-sadeghi commented on #1382
This is now fixed in PR #1384

[2020-04-03 01:58] #1382 closed

[2020-04-03 01:59] ma-sadeghi commented on #1354
For starters, we no longer store `S1.old` and `S2.old` on phase, but on the algorithm itself. We could do the same thing with regards to `phase[quantity]`

[2020-04-10 14:33] ma-sadeghi opened #1459 "Throat volume is not accounted for in TransientReactiveTransport class"
In `TransientReactiveTransport` class, under `_t_update_A` and `_t_update_b` methods, we only account for `pore.volume` and not `throat.volume`. We should distribute `throat.volume` based on `pore.volume`. Should be an easy fix, but important one, especially when `throat.volume` is large enough.

[2020-04-10 14:48] ma-sadeghi opened #1460 "Add example (IPython notebook) for Salome IO module"

[2020-04-10 14:49] ma-sadeghi opened #1461 "Add example (IPython notebook) for PNP"

[2020-04-11 20:29] ma-sadeghi opened #1462 "Clean up requirements"
`jupyter` doesn't need to be included, `pep8` as well I think (because we already have `pytest-pep8`).

[2020-04-12 20:18] ma-sadeghi opened #1463 "Handle NaNs in flow shape factors"
As Zohaib and I recently discussed, for some images, SNOW algorithm produces throats that are larger than the adjacent pores. Since in `OpenPNM`, `ball_and_stick` is the default pore-scale model for flow shape factors, such scenario leads to NaNs in the respective conduits. We should manually handle these NaNs and throw a critical warning so the user is aware that this is happening behind the scen

[2020-04-12 22:08] ma-sadeghi commented on #1463
Actually, we just realized that `ball_and_stick` handles the special case where throat diameter is greater than pore diameter. The problem seems to come from the section in `throat.endpoints` model:
[code]
which handles the case where `throat.centroid` is available. Commenting out this part solves the problem.

[2020-04-12 22:30] ma-sadeghi commented on #1463
Ok, it's not the fault of `throat.centroid`. It's actually the final part of the model:
[code]
which handles the case of overlapping pores. Basically, the line where it says `EP1[mask] = EP2[mask] = ...` assumes that the two endpoints coincide, which is true when pore centroids and throat centroid are co-linear, but definitely not true otherwise. See the diagram below:
![Untitled](https://user-ima

[2020-04-14 15:30] ma-sadeghi opened #1466 "Add example for effective permeability/diffusivity using extracted networks as integration testing"

[2020-04-15 13:52] jgostick commented on #1466
@ma-sadeghi and @Zohaib-Atiq can you work together to get this added to the examples asap?  I will merge the hotfix and push since the examples are not part of the pypi package, but I don't want this to happen again, so let's get the example pushed before we make anymore changes to the code.

[2020-04-15 14:38] ma-sadeghi commented on #1466
@jgostick : @Zohaib-Atiq already sent me some `pnm` files from extracted networks, which I'll push to dev soon.

[2020-04-15 14:41] jgostick commented on #1466
I merged the hotfix and pushed to pypi already. The "test" is only needed to ensure we don't break this again in the future, so we'll just merge it into dev and it'll be part of the next release.

[2020-04-15 14:53] jgostick opened #1467 "Update readme to suggest 'watching' this repo to be notified of updates"
It is a mystery to me why github makes is so hard to mass communicate with users about updates.  Starring the repo is not enough to get notified of new releases.  It is necessary to actually 'watch' it.  Then you can go into your github settings and enable email notifications on new releases (this is actually the default behavior).  Anyway, I think we should start steering people toward starring A

[2020-04-18 17:08] jgostick opened #1468 "Saving projects with mixtures"
I am filtering through my old notes and found this...I feel like it's still relevant so am pasting here.  Will investigate later.

[2020-04-20 21:20] ma-sadeghi opened #1469 "Run check_network_health as part of _sanity_check"
While creating an example for permeability benchmark, I just realized that extracted networks could have disconnected pores, which leads to solver divergence, leaving the user clueless of the cause. I think it's essential that we check for network health prior to running the algorithm. This could be part of the recently added `_sanity_check` method.

[2020-04-20 21:44] ma-sadeghi opened #1470 "plot_coordinates fails when matplotlib figure object is provided as an argument"
# How to reproduce the bug
[code]

[2020-04-20 22:31] jgostick commented on #1469
network health is a bit of an expensive check to do if the network is large.  It calls the clustering method in scipy.sparse.csgraph.  Maybe this is the time to re-visit @magnaou's quick-union algorithm again?

[2020-04-20 22:31] jgostick commented on #1470
Hmmm, that never used to happen, but maybe it's because your using subplots?  Try sending a normal single figure.

[2020-04-20 22:33] jgostick commented on #1470
we actually have a notebook example that uses this features, but it's not with subplots:

https://github.com/PMEAL/OpenPNM/blob/master/examples/topology/Using%20Queries%20-%20Level%201.ipynb

[2020-04-20 23:52] ma-sadeghi commented on #1470
It's passing `fig` for the first time that's causing the bug. In the example, we first assign the output of `plot_coordinates` to `fig` and then pass `fig` in the later calls to `plot_coordinates`.

[2020-04-21 01:08] jgostick opened #1471 "Enhance io.porespy to accept dicts as well as pickled dict files"
The io.PoreSpy.load class currently only accepts pickled dicts.  It would be much better if it accepted a 'live' dict as well.

[2020-04-26 11:20] ma-sadeghi opened #1473 "GenericTransport solver at least gets called twice even for direct methods"
This is a known issue. The problem is that `_is_converged` method does more than what it's supposed to do, which is to tell if the solution has converged, rather it throws an `Exception` if the residual is `inf` or `nan`. Because of this, we had to enforce at least 2 iterations before `_is_converged` is called:
[code]
This was to keep the main for loop as concise as possible. In hindsight, it was

[2020-04-26 13:58] jgostick commented on #1473
seems like a no-brainer to me, go for it

[2020-04-26 13:59] #1457 closed

[2020-04-26 14:01] jgostick commented on #1469
I wonder if there is an easier way to see if the A matrix is complete?  the clustering algorithm is slow because it actually clusters the nodes.  If you just want to ensure the equations are coupled there might be a simple and fast solution?

[2020-04-26 14:02] jgostick commented on #1440
I totally forgot about this.  Did you find an answer?

[2020-04-26 14:39] siz23 commented on #1440
Hi @jgostick ,

Sorry for not updating. I did find an alternative way, which is just to enumerate IDs of all pores and throats then find the pore IDs and throat IDs for "channel". Fortunately there were only 10 pores and 9 throats in this case so it is doable.

I have no idea if there can be a more "smart" way to do it, since it would be very hard if the number of IDs of pores and throats is much

[2020-04-26 14:50] jgostick commented on #1440
I have a lot on my plate at the moment (teaching online this winter and this summer) so I will close this issues and deal with it if it pops up again.  I'm sorry to leave you hanging.

[2020-04-26 14:50] #1440 closed

[2020-04-26 23:09] ma-sadeghi commented on #1469
@jgostick I did some profiling and it turned out that the clustering algorithm is actually pretty quick. It's the call to `num_neighbors` which is the bottle neck.

So, I propose  adding a private helper method to `GenericTransport` called `_is_connected` which basically calls the clustering algorithm and see if more than 1 cluster is found. What do you think?

[2020-04-27 02:22] #1463 closed

[2020-04-27 02:25] jgostick commented on #1437
FYI, you can also do this:

[code]

Which is more verbose than the map_pores function.

[2020-04-27 12:51] saeidabd opened #1474 "End points does not change with contact angle"
OpenPNM Team,
I use MixedInvasionPercolation and apply_trapping() to find the irreducible water saturation in network. I repeat this process with some different contact angles to see how end points varies, but end points keep unchanged. Is this correct? in real cases we know end points changed. Am I wrong in any part of coding?
I attach algorithm part of code and figure I explain it. (in this case

[2020-04-27 14:10] ma-sadeghi opened #1475 "Add plt.axis("equal") to plot_connections and plot_coordinates"

[2020-04-27 14:15] ma-sadeghi opened #1476 "Default data type of integer arrays: int32 vs int64"
Currently, we're forcing `int64` as the default `dtype` of `int` arrays. Apart from `umfpack` not liking `int32` for large-enough matrices, is there a reason we do this?

PS. the `umfpack` issue is contained in `GenericTransport._solve`.

[2020-04-27 14:18] ma-sadeghi commented on #1437
Actually, I wasn't aware of this. This makes a lot more sense to me. So, basically, for getting the global indices, we simply need to do:
[code]
Then I guess all is good.

[2020-04-27 14:18] jgostick commented on #1476
At one point Ubuntu and windows were using different dtypes, so the test were failing on one platform or the other.  We decided to explicitly force int64 because bigger is better!  Other than that, I don't think there is a reason.

[2020-04-27 14:23] jgostick commented on #1437
Yes, but the only problem is that you must have labelled the pores on ``obj``.  We could enhance the ``pores`` method to accept an array as well as string.  If string -> look up pores, if array -> just use them directly.  Would be about 3 lines to add.

The only down side is that accepting such a wide variety of arguments starts to make the methods unpredictable and complex.  For instance, we used

[2020-04-27 14:24] jgostick commented on #1437
BTW, the ``target`` argument was added to ``pores`` and ``throats`` very recently, like in fall 2019ish.

[2020-04-27 14:27] jgostick commented on #1474
I'm not totally sure that it should change.  The main effect of changing the contact angle is to shift the capillary pressure curve, but it's not a given that the order of filling will change.  If you vary the contact angle randomly, then I would expect a change, but if you just change it uniformly from 130 to 110 then not much would happen.  That being said, it depends on the capillary model you'

[2020-04-27 14:29] jgostick commented on #1469
Ok, so just add the clustering check to the ``sanity_check`` method, and if there is an problem, raise and Exception telling the user to run check_network_health and fix things up.

[2020-04-27 14:29] ma-sadeghi commented on #1437
I see, it's just that `obj.pores([1,3], target=network)` to me seems more readable and self-descriptive than `network.map_pores([1, 3], origin=obj)`, though it might as well just be my preference.

But, I see your point about consistency.

[2020-04-27 19:29] saeidabd commented on #1474
I did it and this is result and is interesting for me but I really don't know it is useful for my case or not.
![randomly](https://user-images.githubusercontent.com/49044459/80412324-f43f5880-88e2-11ea-8cd3-dc8ad6079df8.png)

[2020-04-27 19:48] jgostick commented on #1474
What am I looking at here?  Is this the result of putting 30 and 60 everywhere?  Have you tried put a random contact angle in different locations to see if that changes the invasion order?

[2020-04-27 19:51] saeidabd commented on #1474
yes, there is random contact angle distribution for 30 (I mean between 25 to 35) and 60 (55 to 65) for pores.

[2020-04-27 19:53] jgostick commented on #1474
Maybe try a varying the randomness a bit wider.  And can you also confirm that that invasion pattern is changing or not?  Like actually look into the 'pore.invasion_sequence' for Pore X in the two scenarios and see if it changes.

[2020-04-27 20:39] saeidabd opened #1477 "Is something wrong in set_residual function?"
Hello,
I have question about MixedInvasionPercolation. I am trying to simulate imbibition following by drainage. There is a question for me in starting point of imbibition.
when I use set_residual function with those pores in last Pc of drainage invasion for inputting, some pores and throats seem miss in imbibition (I check it in network library and in ParaView visually too), So the starting point

[2020-04-27 20:53] saeidabd commented on #1474
I checked it and found out the invasion pattern changed in these two scenarios (and cluster in pore and throats).

[2020-05-05 15:04] ma-sadeghi opened #1478 "Store initial guess, x0, in algorithm: alg["pore.initial_guess"]"

[2020-05-07 14:15] Ni2M opened #1479 "Problem with set_rate_BC when it gets array of pores and arrays of rate values"
Using an array of values to set a rate BC for an array of pores (the same length) in ionic conductantion algorithm. For some reason it gives an error that goes back to generic transport _set_BC self['pore.bc_' + bctype][intersect] += values line. With error "operands could not be broadcast together with shapes (0,) (1808,) (0,)" .

[2020-05-07 18:37] ma-sadeghi opened #1480 "num_neighbors enormously slow"
[code]
[code]

[2020-05-07 19:18] jgostick opened #1481 "NP_multiphysics assumes only one physics on project"
[This line](https://github.com/PMEAL/OpenPNM/blob/1546fa1ac2204443bde916f2037fac383c5069ae/openpnm/algorithms/NernstPlanckMultiphysics.py#L96) should accepted multiple physics, and the subsequent calls to ``regenerate_models`` should be in loop.

[2020-05-10 17:14] ma-sadeghi opened #1482 "Store model "parameters" in a dictionary in Project object"
There are two types of model parameters: those that could have a spatial distribution, and those that are constant across the entire domain. For instance, the "exchange current density", j0, is typically constant, whereas "temperature" (in a mass transfer simulation) could vary pore by pore.

Normally, we store the dictionary key of that parameter in the pore-scale model, so the values can be dyna

[2020-05-11 18:07] Nikolina3 commented on #1373
Hi! I used your code for extracting pore network from Berea Sandstone using SNOW algorithm and keep getting the wrong permeability K=54772 md. For loading the image i used these lines of code:
f_name = 'Berea.raw'
shape=[400, 400, 400]
im0 = np.fromfile(f_name, dtype='bool', sep='')
im = im0.reshape(shape)
For calculating the permeability i copied your code and didn't change anything.
Can you plea

[2020-05-11 19:10] Ni2M opened #1483 "Problem with mixtures definition for running example PNP 2D"
Running sw = mixtures.SalineWater(network=net) has an error:
error module 'openpnm.phases.mixtures.species' has no attribute 'ions
I'm trying to use a generic mixture to define my specific problem, but to start with PNP 2D example that has SalineWater phase I'm still getting the above mentioned error.

[2020-05-13 14:06] Nikolina3 opened #1484 "Pore network extraction on Berea Sandstone"
Hi!
My Bachelor thesis is about Pore network modeling in OpenPNM and PoreSpy. Currently, I am working on pore network extraction of Berea Sandstone, which I downloaded from Imperial College page.
I used your code for extracting pore network from Berea Sandstone using SNOW algorithm and keep getting the wrong permeability K=54772 md.
These are the code lines:
import os
import imageio
import scipy a

[2020-05-15 19:17] Ni2M commented on #1483
Installed openPNM dev using github clone instead of common approach of anaconda pip install. it works properly now!

[2020-05-15 19:18] #1483 closed, assigned to nobody

[2020-05-20 20:46] Ni2M commented on #1479
Hey @ma-sadeghi , I provided a simple example that helps us to address the issue. I appreciate your time and consideration if you could please review the following example. There is still the problem with set_rate_BC, while set_value_BC works fine.
[code]

[2020-05-20 21:03] Ni2M opened #1485 "Problem with passing second physics to PNP"
Hi @magnaou  I'm having problem with using PNP algorithm, when I am trying to pass the second physics to the PNP algorithm. I tried to change line 127 https://github.com/PMEAL/OpenPNM/blob/1546fa1ac2204443bde916f2037fac383c5069ae/openpnm/algorithms/NernstPlanckMultiphysics.py#L127,  and https://github.com/PMEAL/OpenPNM/blob/1546fa1ac2204443bde916f2037fac383c5069ae/openpnm/algorithms/NernstPlanckMu

[2020-05-21 03:08] jgostick commented on #1485
This is a duplicate of #1481

[2020-05-21 03:42] jgostick commented on #1471
Fixed in PR #1486

[2020-05-21 03:42] #1471 closed, assigned to nobody

[2020-05-24 22:55] jgostick opened #1487 "Update examples to remove the pn.update(snow) instruction"

[2020-05-26 15:44] ma-sadeghi commented on #1479
This is now addressed in #1489

[2020-05-26 18:55] ma-sadeghi opened #1490 "Update GitHub actions: [ci-min] and [ci-skip]"
Update in both `porespy` and `openpnm`.

[2020-05-26 19:22] #1479 closed, assigned to nobody

[2020-05-28 00:51] xu-kai-xu commented on #1219
@jgostick @samanjalilian For the tortuosity, can we just calculate it by finding the actual flowing path or the main actual flowing path and divided it by the length of the network?

[2020-05-28 00:57] xu-kai-xu opened #1491 "The mechanism about "Late filling" ?"
@jgostick  Hi, Jeff, i read the doc about the `late_filling` function in the  .physics\multiphase.py file. I want to know the origin of the equation your team show in the doc:

$S_{nwp} = 1 - S_{wp}^{\*} (P^{\*}/P_{c})^{\eta}$

I also want to know how do you get the `eta` parameter for the equation. I wish you can supply some articles about this. I didn't find them in the doc.

Thanks a lot.

[2020-05-29 00:36] ma-sadeghi commented on #1490
This is already merged onto `dev` branch. `ci min` was implemented, but `ci skip` seems not very useful. If anywhere in the most recent commit message (the one before you push), the string `"ci skip"` (quotations not necessary) is found, a very minimal testing is only performed, only running unit tests (and not integration tests) on one Python distribution on Ubuntu.

[2020-05-29 00:36] #1490 closed, assigned to nobody

[2020-05-29 15:07] ma-sadeghi opened #1493 "Re-running transient algorithms doesn't quite work"
Currently, if one wants to re-run a transient algorithm, they should be re-instantiated. Otherwise, it produces wrong results. This is because transient algorithms rely on `self.A` being an altered version of `A` at steady state. Once a transient algorithm is run, `A` keeps changing and by the end of the simulation, the initial version of `A` is entirely changed.

PS. This is work-in-progress. I'l

[2020-05-29 15:08] ma-sadeghi opened #1494 "Profile and optimize tests to reduce testing time"

[2020-05-31 09:26] xu-kai-xu commented on #507
@TomTranter , thanks for your advice. I repeat the unidirection model and use `openpnm.topotools,trim` method to process the non-z-direction throats. The result is very nice.
(Sorry for the laaaaaaate reply, and thank you again)
![image](https://user-images.githubusercontent.com/44153643/83348939-41d83680-a363-11ea-855b-1b3c3b16933a.png)

[2020-06-01 20:45] ma-sadeghi opened #1497 "docrep only renders in Spyder IPython console"
Unfortunately, `docrep` doesn't render in Spyder editor, which is where most of the development occurs. I already reported this to Spyder dev team, but there's little they can do now (see [here](https://github.com/spyder-ide/spyder/issues/12492)). In addition, it doesn't work in other IDEs either, at least those I tried, the most popular of which is Microsoft's VS Code. @Zohaib-Atiq, can you pleas

[2020-06-01 22:59] Zohaib-Atiq commented on #1497
@ma-sadeghi For me docrep is rendering in Pycharm. I have used spyder as well but its not working there.

[2020-06-02 16:06] 1minus1 opened #1498 "op.io.OpenpnmIO.load_object_from_dict creates but does not return the project"
This function is missing the line:

`return project`

It returns None.

[2020-06-02 17:42] ma-sadeghi commented on #1498
You're right, I think it should ideally return the `project` object. But, you can retrieve the loaded project by looking into the `Workspace` object via:
[code]
[code]
[code]
[code]
[code]

[2020-06-02 18:42] jgostick commented on #1497
Hmmm, maybe we should let the docrep guy know? He's pretty active over there. I guess I find that the help console does not launch from the editor but does from the commandline.  I have had this problem with spyder periodically for a long time, so I am used to it.  BTW, is it only docrepped functions?

[2020-06-02 18:51] jgostick commented on #1497
so, given the following:

[code]

When I do ``fd.settings`` + ctrl-i in the editor I get nothing (actually a message saying there are no docs) and at the command line I get the full glory of all the inherited docstrings.  It's odd to me that spyder could do it from one location but not the other.  Like a I say, calling the help from spyder has always been glitchy to me.

[2020-06-02 18:54] jgostick commented on #1219
Hi @xu-kai-xu Tortuosity is a continuum parameter, so it's really only defined as the ratio of open air to effective diffusivity (times porosity).  Besides, what is the length of the actual flowing path?  This only has a meaning in terms of the observed/simulated effective diffusivity.

[2020-06-02 18:59] Zohaib-Atiq commented on #1497
![pycharm](https://user-images.githubusercontent.com/30351879/83558803-93a6cb00-a4e1-11ea-9e99-b79329f5b578.png)

Works in Pycharm in text editor and console

[2020-06-02 19:16] jgostick commented on #1497
check the ``settings`` attribute.  That is loaded with fancy docrep stuff.

[2020-06-02 22:15] Zohaib-Atiq commented on #1497
cannot see `settings` from text editor or console using pycharm

[2020-06-03 00:07] xu-kai-xu commented on #1219
@jgostick , I don't really understand the relation between tortuosity and diffusion. In my previous understanding, tortuosity comes from the Bundle of Capillary Tubes Model. I ref to equation 14 in the article "Yu B. Analysis of Flow in Fractal Porous Media[J]. Applied Mechanics Reviews, 2008, 61(5): 050801. " for the defination of tortuosity. May you recommend an article about the relation betwee

[2020-06-03 00:52] ma-sadeghi commented on #1219
@xu-kai-xu Sorry to jump in your discussion. Here's the definition of tortuosity for diffusion:

tau = eps * D(measured) / D(void)

D(void) is the diffusion coefficient in open-space, and D(measured) is the actually-measured diffusion coefficient by fitting the experimental (or direct modeling) to Fick's law, and eps is the porosity of the material.

Here's the [reference](https://link.springer.co

[2020-06-03 01:15] jgostick commented on #1219
Thanks @ma-sadeghi.  Tortuosity is a fitting parameter that accounts for the difference between diffusion flux though open space and diffusion flux through a porous medium.  The porosity accounts for some of the reduction, but not all.  The extra reduction is attributed to the added path length of the paths through the medium, so is has a physical basis, but it is ultimately just an extra fitting

[2020-06-03 01:16] jgostick commented on #1497
I can see this in Spyder, so the system is not totally broken.  I'll mention it on docrep.

[2020-06-03 14:32] jgostick opened #1499 "Revise docs for website"
The docs require that pages be added for each algorithm, and that these pages be linked to in the index.rst file.  We have fallen behind on this for the new PNP algorithms.

We should for sure update this asap, BUT, maybe we can find a way to do this programatically to ensure that every new class/feature we add is automatically included?

[2020-06-03 15:37] 1minus1 opened #1500 "Invasion pressure < entry pressure for throats in output from algorithms.Porosimetry"
Apologies if this is due to a lack of understanding of the algorithm, but in analyzing the output of a porosimetry simulation on a network extracted from a porespy cylinders image, I am finding that throats are being opened at pressures less than their entry_pressure as defined with the phase physics and associated model. The plot generated by the code below shows the throat.invasion_pressure and

[2020-06-03 18:10] ma-sadeghi opened #1501 "Solvers don't check for convergence when maximum iterations is reached"
This is a corner-case that @mkaguer has recently found. Basically, when `max_iter` is reached, the solver gets tricked that the solution has converged. This is because unless `update_iterative_props` is called, the solution `x`, not surprisingly, satisfies `Ax-b~0`. It's only when we update the `A` matrix with the new solution (due to a nonlinear source term for instance), that `Ax-b~0` no longer

[2020-06-03 18:42] 1minus1 commented on #1500
I added some visualization to show how the connectivity of opened pores and throats doesn't make sense for an intrusion process. Like in the image below, where there are open pores not connected to any open throats, and vice versa. In this example, percolation is coming from the top.

![image](https://user-images.githubusercontent.com/2090927/83676155-3aee3580-a5a8-11ea-9939-d71e079d09e2.png)

[co

[2020-06-04 02:16] xu-kai-xu opened #1502 "About the parameter of the function `jenkins_rao`"
dir: OpenPNM/openpnm/models/geometry/throat_shape_factor.py

When I read the file to understand the shape factor, I find the function `jenkins_rao` includes the parameter `throat_diameter` with the default `'throat.indiameter'`. This makes me confused. Usually, the parameter `throat_diameter` uses default `'throat.diameter'`. Do you make this way on purpose?

[2020-06-04 14:40] jgostick commented on #1502
It might be a typo, but it might mean 'inscribed diameter'.  We haven't used that function in ages, maybe never actually.  You can just do ``throat_diameter='throat.diameter'`` for now.  I will investigate.

[2020-06-04 17:37] #1493 closed, assigned to ma-sadeghi

[2020-06-04 17:37] #1494 closed, assigned to ma-sadeghi

[2020-06-05 17:00] ma-sadeghi opened #1503 "cache_A and cache_b cause nonlinear models to behave strange!"
There's something strange going on with `cache_A` and `cache_b`. When they're `True`, nonlinear models that change the base value of `A` (i.e. without BCs or source terms) are not enforced, meaning that `A` and `b` don't get updated accordingly.

**Note**: @magnaou Check `NernstPlanck` algorithm as well, maybe turn off cache for it too.

[2020-06-05 18:27] jgostick commented on #1503
I'm going to confess that these caches were conceived when I was refactoring the transport algs from V1 to 2, and I probably didn't think them through completely.  Please consider a complete 'rethink' if necessary.  It'd be nice if the caches knew themselves if/when they could be regenerated, instead of the coder needing to do this within the algorithm.  I'm not exactly sure what that looks like,

[2020-06-05 19:09] ma-sadeghi commented on #1503
@jgostick I agree, caching should be mostly a backend thing with minimal need for user intervention. I'm looking into it.

[2020-06-06 01:30] jgostick commented on #1503
By user, I actually mean developer.  Having to keep all these function interactions in your head while also creating a new algorithm is just too much.

[2020-06-07 16:21] jgostick opened #1504 "Add conns and coords attribute to network?"
Given how often conns and coords are fetched, it might be handy to add property methods that fetch these, like ``pn.coords`` and ``pn.conns``.  Obviously not urgent, but seems like a nice convenience to have.

[2020-06-07 16:28] jgostick opened #1505 "Add health/consistency checks as pore-scale models?"
As I am investigating issue #1500, I am writing several functions that inspect pore and throat properties, such as finding throats diameters that are larger than their neighboring pores. This returns an Nt-by-1 array of True/False.  It occurs to me that this could be a pore-scale model, that returns Trues in locations where there is a problem.

I can also imagine several other places, EVEN ON algo

[2020-06-07 16:46] jgostick commented on #1500
Thanks for this extremely detailed report! I have to admit I don't quite understand your graph.   I would've plotted is as invasion pressure vs entry pressure and looked for values below the 45 degree line.  you seem to have a lot of throat data points so not sure what you're only plotting 25 invasion steps.  Anyway, I'm trying to investigate on my own.

 I am playing with it and have not seen any

[2020-06-07 17:16] jgostick commented on #1500
Ahhh, I wasn't paying enough attention...you used OrdinaryPercolation, not InvasionPercolation.  When I run this, I do get the error.  Will keep digging.

[2020-06-07 17:33] jgostick opened #1506 "Could partial filling in the OP algs leverage the 'iterative prop' machinery?"
The OP algs currently have a hard-coded treatment for handling partial filling models.  These basically act like iterative props in the transport models.  We should consider if/how to leverage that approach.

[2020-06-07 17:34] jgostick opened #1507 "Telecon agenda for June 19, 2020"
# Documentation:
- [x] #1529: [Discussion] Switch examples back to RST files?
- [ ] #1513: [Discussion] How to best ensure the examples are numerous, helpful and high quality?

# Features:
- [x] #1308: [Enhancement] Update conduit models to return element values as well as overall conduit value
- [ ] #1505: [Discussion] Use pore-scale models for health/consistency checks (also #1469)
- [x] #1428:

[2020-06-07 17:55] jgostick opened #1508 "Refactor OrdinaryPercolation into SitePercolation and BondPercolation"
The current implementation allows both, based on an adjustable setting.  As I am investigating a possible bug I feel like it would be easier if the class were split.  Probably would be easier for users too.

[2020-06-07 21:25] jgostick opened #1510 "Numba deprecations warnings are being silenced, should probably fix"
numba is being used in the invasion percolation algorithm [here](https://github.com/PMEAL/OpenPNM/blob/740d834189b918a32b56c228476c00e6673b143b/openpnm/algorithms/InvasionPercolation.py#L472)

Should probably deal with whatever this warning is about before it becomes an error.

[2020-06-08 05:08] jgostick commented on #1500
This is fixed in PR #1509.

[2020-06-08 05:08] #1500 closed, assigned to nobody

[2020-06-08 05:12] #1485 closed, assigned to nobody

[2020-06-08 05:13] #1474 closed, assigned to nobody

[2020-06-08 15:17] #1437 closed

[2020-06-08 15:23] jgostick commented on #1428
I like this idea, a geometry class called ``Continuum`` which does all the stuff needed to create a 'pore-less' region.  This could also be used to do porous continuum using different pore-scale models to get effective diffusivity of the region.

[2020-06-08 15:27] jgostick commented on #1428
This would require some pore-scale models like ``bruggeman`` for calculating the effective diffusivity of the "nodes".  We had a few models towards this idea in V1 but I purge them in the transition to V2.

[2020-06-08 15:28] jgostick commented on #1164
I don't see a path for this anytime soon, so I'm closing with a revisit tag.

[2020-06-08 15:28] #1164 closed

[2020-06-08 15:32] jgostick commented on #1304
This is already present.  Not sure when it was added, but it's there now! :-)

[2020-06-08 15:32] #1304 closed

[2020-06-08 15:42] jgostick commented on #1364
I'm going to close this because we basically already support this.  The user can create their own function that accepts arrays.  We don't do it since we don't want to store numpy arrays in the saved files, and it prevents regeneration of models.

[2020-06-08 15:42] #1364 closed

[2020-06-08 15:46] jgostick commented on #1466
@ma-sadeghi if this is done, can you close it?

[2020-06-08 15:49] jgostick commented on #1442
I believe this is now done right?  At least for the dev branch, right?  If so, can you close?

[2020-06-08 18:03] ma-sadeghi commented on #1476
I think I remember the testing issue.

However, from the standpoint of data storage, I doubt that we'll hit the 2^32 anytime soon (~4.3e9). That being said, most our models store `float64` and very few use `int`, so I guess using `int64` doesn't really affect us memory-wise. So, I'm closing this issue.

[2020-06-08 18:03] #1476 closed, assigned to nobody

[2020-06-08 18:40] ma-sadeghi commented on #1442
Yep, I just pushed some changes to README.md directly to `dev` to include `conda` instructions.

[2020-06-08 18:40] #1442 closed

[2020-06-08 21:26] jgostick commented on #1508
I think this idea was a bit overzealous.  There are already site and bond percolation functions in topotools, so the OrdinaryPercolation class just calls these based on settings, which I think is good enough.

[2020-06-08 21:26] #1508 closed, assigned to nobody

[2020-06-09 13:44] ma-sadeghi opened #1512 "Nernst Planck algorithms don't have results or rate method"
`NernstPlanckMultiphysics` and `TransientNernstPlanckMultiphysics` don't have the `results` method implemented.

[2020-06-09 21:50] ma-sadeghi commented on #1466
This is addressed in PR #1511

[2020-06-09 21:50] #1466 closed

[2020-06-12 18:54] jgostick opened #1515 "Update examples"
I have started a new branch called 'examples_galore' and I plan to add and update many examples in the near future.  I am opening this issue as a single place to put all the little issues that I find, instead of opening dozens of new issues in the bug tracker.  I'll use @ mentions to get attention of people as needed.

- [ ] Using PNP algorithm (@magnaou)
- [ ] Using Salome IO class (@magnaou)
- [

[2020-06-12 20:33] ma-sadeghi commented on #1475
This is now addressed in #1496

[2020-06-12 20:33] #1475 closed, assigned to ma-sadeghi

[2020-06-12 20:35] ma-sadeghi commented on #1503
This is now addressed in #1511

[2020-06-12 20:35] #1503 closed, assigned to ma-sadeghi

[2020-06-12 20:37] ma-sadeghi commented on #1470
This is now addressed in #1475

[2020-06-12 20:37] #1470 closed, assigned to nobody

[2020-06-12 20:40] ma-sadeghi commented on #1400
Moved to #1515

[2020-06-12 20:40] #1400 closed

[2020-06-12 20:42] ma-sadeghi commented on #1460
Moved to #1515

[2020-06-12 20:42] #1460 closed

[2020-06-12 20:42] ma-sadeghi commented on #1461
Moved to #1515

[2020-06-12 20:42] #1461 closed

[2020-06-12 20:43] ma-sadeghi commented on #1305
Moved to #1515

[2020-06-12 20:43] #1305 closed

[2020-06-12 20:44] ma-sadeghi commented on #1292
Moved to #1515

[2020-06-12 20:44] #1292 closed

[2020-06-12 20:44] ma-sadeghi commented on #1399
Moved to #1515

[2020-06-12 20:44] #1399 closed

[2020-06-12 20:46] ma-sadeghi commented on #1487
Moved to #1515

[2020-06-12 20:46] #1487 closed, assigned to nobody

[2020-06-12 20:53] jgostick commented on #1515
I thought we had this, but I couldn't find it:
- [ ] Labels, their meaning, creation, and use, including the new ``set_label`` method

[2020-06-12 20:59] ma-sadeghi opened #1516 "Make topotools.dimensionality more robust"
Currently, it uses `np.unique` method, which leaves no room for any numerical error. I recently came up with some examples that are 1D but are interpreted as 2D. A quick fix is to use `np.allclose`.

[2020-06-12 21:16] jgostick commented on #1515
I would also like to reorganize them extensively, perhaps into more fine-grained categories.  I'd also like to move them all down one level so the readme is visible when the page loads, and not pushed off the page by the folder/file list.  I'm thinking:

[code]

[2020-06-14 04:39] jgostick opened #1517 "Update error message when attempting to write arrary without pore or throat prefix"
The error message could be a lot more descriptive about what was done wrong.

[2020-06-14 05:46] jgostick opened #1518 "set_rate_BC accepts values as an argument"
It might be more logical if this accepted ``rates`` , so:

``set_value_BC`` accepts ``values``

``set_rate_BC`` accepts ``rates``

Obviously this is very minor.  This could be done in a backward compatible way by accepted both arguments.

[2020-06-14 06:13] jgostick opened #1519 "[ci skip] does not skip examples"

[2020-06-14 23:43] ma-sadeghi opened #1520 "network.spacing returns 0 for axes that are only 1-pore long"
Is this expected behaviour? @jgostick

[2020-06-15 14:38] ma-sadeghi commented on #1519
This is because examples_galore branch is on old workflows, which runs for both pull_request and push changes. Merge dev onto examples_galore and it'll get fixed

[2020-06-15 14:38] #1519 closed, assigned to nobody

[2020-06-15 14:51] ma-sadeghi opened #1521 "Remove the "dev" branch and keep "main" as the development branch"
The dev branch seems redundant. The only apparent benefit it has is that people can get the stable release via
[code]
We could keep "master" the development branch, and those who are interested in cloning the stable release via `git` can do
[code]
Not to mention that people mostly download OpenPNM via `PyPI` and more recently `conda`, which always have the stable release.

An minor benefit of work

[2020-06-15 19:40] ma-sadeghi commented on #1516
I can't reproduce the bug anymore, so closing.

[2020-06-15 19:59] #1516 closed, assigned to ma-sadeghi

[2020-06-15 23:15] mkaguer opened #1524 "Found bug in multiphase_diffusion that results in 'throat.diffusive_conductance' not being added to iterative_props"

[2020-06-16 00:37] jgostick commented on #1521
Or remove master branch altogether and just use dev all the time.  See here:  https://mobile.twitter.com/Una/status/1271180494944829441

GitHub will make main the new master, but why even have a main?  Just make dev the default, and add tags to each significant merge point.

This would make it clear that it really under constant development.

Also should add an action that deploys to pip with each

[2020-06-16 00:42] ma-sadeghi commented on #1521
@jgostick The good thing about using "master" or whatever GitHub will deem "master" in the future, rather than our own "dev" is the feature of auto-closing of issues :-)

[2020-06-16 03:51] jgostick commented on #1521
But there is an option to set the default branch, maybe that is enough to get the functionality?

[2020-06-16 06:35] ma-sadeghi commented on #1521
You're right. That should be enough.

[2020-06-16 14:52] mkaguer opened #1525 "Possible bug in 'ad_dif_conductance' model from adding multiphase_diffusion as 'throat.diffusive_conductance'"
Received error message when algorithm updated 'ad_dif_conductance'. I think it might be caused by adding multiphase_diffusion as 'throat.diffusion_conductance'. Normally 'throat.diffusion_conductance' is array of size Nt by 1 but with multiphase_diffusion the size is now Nt by 2. The size difference may be causing the problem.

Here is the error message:
line 88, in ad_dif
    Peij = Qij / gd

Val

[2020-06-16 15:09] jgostick commented on #1521
So the options are:

1. Use ``dev`` as the default branch (and set it to default), and leave ``master`` in the dust (and probably rename it to ``main`` since github is pushing for that anyway)
2. Rename ``master`` to ``main`` and stop using ``dev``.

The 2nd option probably is more conventional, but the first is more descriptive.

[2020-06-16 18:27] mkaguer opened #1526 "Problem with 'throat.partition_coef.all' not being set as iterative_prop nor updating when regenerate_models is called manually"
I am writing a model where the partition coefficient changes with concentration. So it's important that 'throat.partition_coef.all' updates as 'throat.diffusive_conductance' (based on multiphase_diffusion) depends on this property to know partition coefficient.

[2020-06-16 19:39] jgostick commented on #1515
The [networkx page](https://networkx.github.io/documentation/stable/auto_examples/index.html) has a nice gallery that is generated by [this](https://sphinx-gallery.github.io/stable/index.html)

[2020-06-16 23:33] jgostick commented on #1520
I don't know about expected but it's unavoidable.  There is nothing to measure against, so there can be no 'space'.  Technically the ``shape`` is 1, but the ``spacing`` is 0.

[2020-06-16 23:33] #1520 closed, assigned to nobody

[2020-06-16 23:35] jgostick commented on #1515
Regarding the sphinx-gallery plugin, it could work if we apply it to the scripts folder.   I would also propose that we move the scripts folder under examples, so we'd have examples/notebooks and examples/scripts.

[2020-06-17 08:51] xu-kai-xu commented on #1421
@ma-sadeghi , hi, I am reading the source code about **shape factors**. And I found three types of shape factor:

You mentioned the paper from which you implemented the flow shape factor, so I wish you could share the paper information (if also for poission shape factor, it will be better). Then I can figure out the mechanism of this concept.

According to the categories, I guess that **throat sha

[2020-06-17 16:53] ma-sadeghi opened #1527 "Default pore diameter in Imported class should be "inscribed" rather than "extended" (?)"

[2020-06-17 16:55] ma-sadeghi commented on #1527
I talked to @Zohaib-Atiq this morning and he thinks "inscribed" diameter gives more realistic results (although he mentioned that it's material-dependent). @jgostick Is there a particular reason why "extended" is the default in `Imported` class?

[2020-06-17 17:42] jgostick commented on #1527
Inscribed is too small, but it has the advantage that it 'shouldn't' create negative throat lengths, while the extended one may.

[2020-06-17 18:03] ma-sadeghi commented on #1527
@jgostick I see, what about in terms of accuracy, e.g. permeability/diffusivity calculations?

[2020-06-17 18:06] ma-sadeghi commented on #1421
@xu-kai-xu Honestly, I don't even know what `throat_shape_factor` is. You can find the reference to the article in the docstrings of the shape factor models.

[2020-06-18 11:26] xu-kai-xu commented on #1421
I read the articles about **throat_shape_factors**, and figured out how it is calculated.
But I can't understand how the **flow shape factor** is calculated. May you offer some references for me? Thanks.

[2020-06-18 15:59] jgostick opened #1528 "Enhance stitch to include labels from original networks"
It would be handy if the stitch network pre-labelled pores and throats from each network so they can be found more easily afterwards.

[2020-06-18 16:18] jgostick opened #1529 "Do Jupyter Notebook examples really provide value?"
These things are a pain for several reasons:

1.  They often don't render on github.  There seems to be some sort of limit to the number of notebooks github can/will render per hour, so I'm often left with a 'something went wrong, reload?' message.
2.  Do people actually download them and use them?  Generally our notebooks have a LOT of explanatory text, which a user would not want, so I suspect t

[2020-06-18 16:38] ma-sadeghi commented on #1421
@xu-kai-xu Can you send a link to the article that you're referring to?

[2020-06-18 18:27] ma-sadeghi commented on #1529
@jgostick Some thoughts:
1. Maybe we can use `nbconvert` to convert them to RST so we can embed them in the documentation
2. I think at the moment, the biggest advantage of having them in notebook format is that they serve serve nicely as integration tests
3. A minor benefit is that they're always up to date, meaning that what you see as output is what you get had you run the example yourself
4. I

[2020-06-18 19:20] jgostick commented on #1529
Counter points:
* pytest can test rst files, and actually adding notebook testing was more recent
* rst files also contain hardcoded output which is compared to the actual output during test, just like the notebooks.  We've added @NBVAL_IGNORE_OUTPUT to many notebooks since output doesn't always match the result of a cell
* the sphinx-gallery plugin is AWESOME.  It looks like it can generate noteb

[2020-06-18 19:47] jgostick opened #1530 "Augment rate method on transient classes to return integrated rate"
At the moment it only returns instantaneous rates, but should accept t_init and t_final, then return in integrated amount of total material entering the domain over that time span.

[2020-06-18 19:53] ma-sadeghi commented on #1529
I agree with your points. I was suggesting that we could have them both, especially that writing an example from scratch as a notebook is easier than writing it from scratch in RST form. If `nbconvert` can do a good job in converting notebook to RST then I think it should be fine to support both.

[2020-06-19 01:07] xu-kai-xu commented on #1421
@ma-sadeghi I referred to the article mentioned in the docstrings of **throat_shape_factors.py** file.
The links are:
1. [Reexamination of Hagen-Poiseuille
    flow: Shape dependence of the hydraulic resistance in microchannels](https://pubmed.ncbi.nlm.nih.gov/16089701/)

2. [Capillary behavior of a perfectly wetting
    liquid in irregular triangular tubes](https://www.sciencedirect.com/science/a

[2020-06-19 15:08] jgostick commented on #1529
let's go with notebook for now, and we can convert to rst's later using nbconvert if needed

[2020-06-19 15:08] #1529 closed, assigned to nobody

[2020-06-19 15:13] jgostick commented on #1504
This is agreed.

However, adding 'conns' and 'coords' to subdomain objects might be a good idea too.

[2020-06-19 15:34] jgostick commented on #1512
Also, the ``rate`` of transfer is being inherited from GenericTransport, and is probably not correct....or at least needs to be investigated.

[2020-06-19 15:36] jgostick commented on #1354
Labelling this as revisit.  The updating seems to be unavoidable without major changes to things, and we've learned to live with it.  Maybe if we do a V3 we can rethink it then.

[2020-06-19 15:56] jgostick opened #1531 "Create deploy on tag action"
The action should first check to make sure that the tag matches the __version__ in the code, and if NOT try to delete the tag.  This way we can reuse the tag number once we've updated the version in the init.

[2020-06-19 18:36] jgostick opened #1532 "stitch needs better handling of labels"
I would be nice if you could specify the labels of the new stitched throats.

[2020-06-19 18:36] jgostick opened #1533 "bug in stich when called repeatedly?"
When I played with this it seemed like calling stitch consecutively deleted the 'throat.stitch' label from previous calls, another user did not see this problem.  Worth investigating.

[2020-06-19 18:37] jgostick commented on #1528
related to #1532

[2020-06-21 01:46] jgostick opened #1534 "Printing a single model's parameter seems to be broken"

[2020-06-21 03:42] jgostick commented on #1534
This will be fixed when we merge the examples_galore branch....it was a 1 character on 1 line fix, so not worth a PR.

[2020-06-21 03:42] #1534 closed, assigned to nobody

[2020-06-22 03:26] jgostick commented on #1502
I'm sorry, I looked at the paper but could not find the time to dig up a correct answer for you. I have a better suggestion though: have you tried writing your own model? That way you'll know exactly what is going on and what each parameter is doing.

[2020-06-22 03:32] xu-kai-xu commented on #1502
@jgostick , ok, I will try it. Thanks.

[2020-06-23 11:59] xu-kai-xu commented on #1420
@jgostick  hi, jeff. I have made a discussion in issue #1421 about **flow shape factor**. I really want to know how to calculate flow shape factor and the mechanism why you calculate it this way. Only by the docstrings I can not figure it out. May you supply me with some refs about the definition of **flow_shape_factor**?? Thanks.

[2020-06-23 12:00] xu-kai-xu commented on #1420
@jgostick  hi, jeff. I have made a discussion in issue #1421 about **flow shape factor**. I really want to know how to calculate flow shape factor and the mechanism why you calculate it this way. Only by the docstrings I can not figure it out. May you supply me with some refs about the definition of **flow_shape_factor**?? Thanks.

[2020-06-23 14:17] ma-sadeghi commented on #1421
@xu-kai-xu The reference I was referring to is listed under `openpnm.models.physics.flow_shape_factors`:
[code]

[2020-06-23 14:18] ma-sadeghi commented on #1420
@xu-kai-xu You can find the reference at the bottom of the docstrings under `openpnm.models.physics.flow_shape_factors` under `Notes` section:
[code]

[2020-06-23 18:54] taylrcawte opened #1536 "Diffusivity calculation in Version 2.3 produces unexpected/unreliable result, not consistent with Version 2.0.3"
When running the Gostick _Et _al.__ (2007) paper recreation on OpenPNM v. 2.3 the single phase diffusivity of air is greater than the bulk diffusivity which doesn't make physical sense. The same example was run on OpenPNM v. 2.0.3 and a different answer was produced.  The difference in diffusivity between each version (using the exact same code) was 3 orders of magnitude (i.e. v. 2.0.3 D<sub>eff</

[2020-06-23 19:02] jgostick commented on #1536
That does seem bad.  We've obviously changed the way something is calculated and the example didn't notice.  I'm guessing we have a #NBVAL_IGNORE_OUTPUT in the cell?

One bug we recently fixed is that re-using an algorithm within a for-loop does not work.  It runs, but is erroneous since not all coefficients in the A matrix were being purged.  Can you check the rate of material entering one face (

[2020-06-23 21:04] taylrcawte commented on #1536
The same issue persists using the 'dev' version and when checking the rates the bc matrix shows all NaNs.

[2020-06-23 22:12] aaornsc opened #1537 "Throat size definition"
Hello to everyone,

My name is Aarón Sánchez, and I’m currently working on my Geophysics Engineering bachelor thesis, which is advised by PhD Martin Diaz-Viera from Instituto Mexicano del Petróleo (IMP). Actually my work is related to the one explained in the issue #489.
I'm not quite sure if it's something I'm missing or something i don't understand completely.

First I'll explain what I'm workin

[2020-06-23 23:39] jgostick commented on #1537
Hi @aaornsc.  We are currently working on updating our examples, and have a new branch called ``examples_galore``.  This branch has an example that may help you:

https://github.com/PMEAL/OpenPNM/blob/examples_galore/examples/notebooks/geometry/adjusting_pore_size_distributions.ipynb

Note that this link will disappear eventually once we merge the branch into dev, but then you can navigate to it b

[2020-06-23 23:43] jgostick commented on #1536
That must mean the conductance values are not being calculated correctly.  Do you see any error / warning messages?  If not, have you changed the log level?

FYI, we are working on a massive revamp of the examples, and part of this will be to remove the paper recreations (at least for now) since they are huge and very difficult to maintain.  Not exactly a solution, but it is an admission that I'm

[2020-06-24 13:23] taylrcawte commented on #1536
There are no errors or warnings and the log levels have not been changed.

I am using the paper recreation as an example and have run into the same problem in my own work using the package. We first noticed the issue when playing around with boundary conditions, in v. 2.0.3 changing the boundary conditions did not have an impact on the diffusivity of the network while in version 2.3 when the bound

[2020-06-24 14:47] jgostick commented on #1536
Let's simplify this problem down to bare basics to isolate the issue.  When I run the following code, I get the same effective diffusivity no matter what boundary conditions I apply, which tells me that the solver and code are fine.  The problem must be coming from your conductance values.

[code]

So as you add complexity, at which point does the problem start? Do the problems only occur when doi

[2020-06-24 15:44] ma-sadeghi opened #1540 "Computing conductance values using Laplacian operator is convoluted"
Basically, for calculating conductance values, we use Scipy's `laplacian` operator with default arguments, i.e. `use_out_degree=False`. This is fine for symmetric problems, but explaining it becomes very convoluted when the problem is assymetric, such as mass partitioning or advection-diffusion. I researched the matter quite a bit and I think we should use `laplacian` with `use_out_degree=True`. T

[2020-06-25 14:55] raymond-guan1 commented on #1536
It appears that the reason for the issue that Taylr is encountering is similar to the one you mentioned. Running multiple algorithms results in erroneous values.

[code]

[code]

In the first code-block, the simulation predicts an effective diffusivity that has a reasonable magnitude (9.58E-7), However, we run into issues in the second code block, where we run StokesFlow prior to FickianDiffusion.

[2020-06-25 15:12] jgostick commented on #1536
Wow, this is a very strange error.  Will investigate immediately.  Thanks for posting this code snippet.  It's very helpful when an error can be reproduced in as few lines as possible.

[2020-06-25 15:56] jgostick commented on #1354
This issue has just moved the forefront, as outlined in the discussion of issue #1536

[2020-06-25 16:08] jgostick commented on #1536
OK, this is not a bug, it's a 'feature'  :-)  In version 2.3 we added some automatic property regeneration, to support our reactive transport and non-linear solvers.  We are working on non-newtonian flow, concentration dependent diffusion, and other fancy applications, so this feature was essential.

For example, if you have a viscosity model that is a function of temperature, and your algorithm s

[2020-06-25 16:08] #1536 closed, assigned to nobody

[2020-06-25 16:16] #1507 closed, assigned to nobody

[2020-06-25 16:18] jgostick opened #1541 "Telecon Agenda for June 26, 2020"
# Documentation:
- [ ] [Discussion] Progress on Notebook examples

# Development
- [ ] #1521: Remove dev branch, remain master to main (or other options?)
- [ ] #1354: [Discussion] Non-invasively update physics/phase inside algorithms.  Related: #1405, #1325,

# Bugs
- [ ] #1481: [Bug] NP accept with multiple physics
- [ ] #1512: [Possible Bug]: NP algorithms don't have `results` or `rate` method

[2020-06-26 14:16] jgostick commented on #1537
I'm going to close this question since I think the example I directed you to should get you started.

[2020-06-26 14:17] #1537 closed, assigned to nobody

[2020-06-26 14:25] jgostick commented on #1499
I've just taken a look over there (RTD) and these docs need to be ripped apart.  I think I've learned how to do this better via porespy, which is much simpler and had links to all the functions etc.

[2020-06-26 14:26] jgostick commented on #1478
I'd rather not store it in the settings, which we would like to be able to print nicely.  How about as an attribute like _x0?  hidden or not.

[2020-06-26 14:27] jgostick commented on #1450
Done on PR #1513

[2020-06-26 14:27] #1450 closed

[2020-06-26 14:29] jgostick commented on #1325
Interestingly, this approach might also prevent the 'unintended update of dependent properties' gotcha that we had this week.

[2020-06-26 14:30] jgostick commented on #1069
Instead of adding to the docs, I think we should create a notebook, and I've already added a stub in the `examples_galore` branch.

[2020-06-26 14:50] ma-sadeghi commented on #1478
I agree, `alg._x0` seems where it belongs.

[2020-06-26 17:51] jgostick commented on #1498
Fixed in PR #1542

[2020-06-26 17:51] #1498 closed, assigned to nobody

[2020-06-26 17:51] jgostick commented on #1504
Done in PR #1543

[2020-06-26 17:51] #1504 closed, assigned to nobody

[2020-06-27 01:26] aaornsc commented on #1537
Sorry for the late response.

Yes, indeed I was able to create the size distribution as I described before with the example given.

Thanks a lot!!

Ps. Just as a comment, in both instances [17] and [18] there was a small typo, or at least i had to change the name of the argument `prop='pore.diameter' ` to `pore_prop='pore.diameter'`

In [17]:

f = op.models.misc.from_neighbor_pores
geo.add_model(p

[2020-06-27 06:38] #1541 closed, assigned to nobody

[2020-06-27 06:39] jgostick opened #1544 "Scaling problem with plot_coordinates"
The image is zoomed way out.  It works ok if connections are done first, then passed as an argument.

[2020-06-27 06:40] jgostick opened #1545 "Would be nice if size_by and color_by could be numpy arrays as well as dict keys"
This would allow the size and color to be based on objects other than the network

[2020-06-29 17:30] raymond-guan1 opened #1546 "'find_neighbor_pores' alters the results of 'find_connecting_pores' and 'find_connecting_throat'"
Using the 'find_neighbor_pores' appears to be affecting the connectivity of the network. When I run the code-block below, the value of the queried_throat and the output_throat are both equal to 1, which makes sense. However, when the 'find_neighbor_pores' line is uncommented, output_throat is now equal to 900.

[code]

This issue extends to the 'find_connecting_throat' function. The code-block bel

[2020-06-29 17:39] jgostick commented on #1546
Hmm, I can reproduce this, so I will investigate.  I will just note that the throat.conns array is stable throughout the above code, s the error is probably a cached version of the lil array changing for some reason.

BTW, what version of scipy are you using?

[2020-06-29 17:41] raymond-guan1 commented on #1546
I am on 1.4.1!

[2020-06-30 14:47] mkaguer opened #1548 "Issue with alg._A not updating properly"
I wrote a script where I run transient fickian diffusion algorithm. My problem required that I stop the solver to update models including diffusive_conductance model and then restart solver using last solution as new initial condition. While my diffusive_conductance values were updated properly when I printed alg._A I could see that the A matrix wasn't being updated properly. I worked around this

[2020-06-30 16:57] 1minus1 opened #1549 "InvasionPercolation opening orphan pores at pore_invasion_sequence = 1"
When doing invasion percolation, a few pores that are (1) not input pores and (2) not connected to them are opened at pore_invasion_sequence = 1. The script below sets up and runs an invasion percolation, and then plots the top pores, and invaded networks for pore_invasion_sequence <= [0,1,10,20].

![seq0 bug](https://user-images.githubusercontent.com/2090927/86154411-0a2eec80-bad1-11ea-9482-75ad6

[2020-06-30 17:01] 1minus1 commented on #1549
Confirmed in both dev and master branches.

[2020-06-30 18:59] 1minus1 commented on #1549
This is not a bug. My code also included sequence=-1 in my parsed networks. The orphaned pores are pores that are never opened in the intrusion and have sequence = -1.  I never saw this bug with ordinary percolation because everything is eventually opened.

Closing.

[2020-06-30 18:59] #1549 closed, assigned to nobody

[2020-07-01 02:05] jgostick commented on #1549
This may not be a bug, but it's a 'gotcha'.  I remember have a discussion with tom about this...I wanted to set uninvaded locations to inf, but this require converting the invasion sequence array to float type, so tom insisted we keep it as ints, and use -1.  I guess both ways are non-ideal.  Anyway, I'm glad it's not a bug but I guess we should clear up the docs somehow to avoid this confusion.

[2020-07-01 03:49] jgostick commented on #1546
Ok, I found the bug.  We cache some adjancency and incidence matrices to speed things up for later use.  This part is fine.  However, we also did a conversion between cached formats if one format was available but a different one was requested.  This was not working correctly due to some nuances in the scipy.sparse library.  I have removed this code block so if a version is not found in the cache

[2020-07-01 20:12] ma-sadeghi commented on #1531
This is addressed in PR #1547

[2020-07-01 20:12] #1531 closed, assigned to ma-sadeghi

[2020-07-01 20:31] #1546 closed, assigned to nobody

[2020-07-02 15:24] ma-sadeghi opened #1554 "Allow topological manipulations when phase is associated to network"

[2020-07-02 15:30] jgostick commented on #1554
Deletions are ok, but additions are a problem since you don't know what values to put into the pores and throats.  If ALL the properties are coming from models, that's fine, but any properties have been hand-written, they become nans.

Basically, yes, it's totally possible...I only prevented it because I didn't have the time to figure out the best policy for adding stuff.

[2020-07-02 15:45] ma-sadeghi commented on #1554
I see your point. Maybe putting `nans` as the default policy? Especially now with the enhanced `GenericTransport`'s sanity check method that almost always locates the root cause of `nans` in A matrix and raises a very descriptive `Exception`.

[2020-07-02 15:49] ma-sadeghi commented on #1548
@mkaguer Can you share a short script here that reproduces the bug?

[2020-07-02 15:50] jgostick commented on #1554
Ya, nans are the obvious choice, so running ``regenerate_models`` and then putting nans everywhere else should do it.

There is also the issue of geometry associations though...many of the manipulations also stop if geometries are found. This is a bit more tricky.

[2020-07-02 16:00] ma-sadeghi commented on #1521
We finally agreed to the following changes:

- Keep merging latest code to `dev` branch as usual
- Change the default branch from `master` to `dev`, which makes our GitHub landing page always up-to-date
- Create a new branch called `release` (optionally delete `master` altogether to avoid confusion)
- Merge `dev` onto `release` whenever we want to publish a minor/major/patch version
- Occasionally

[2020-07-02 16:04] jgostick commented on #1521
That's perfect.  We should update the VERSIONING.md document though.  We were required to have this document by canarie.  I'll change this on the new examples_galore branch.

[2020-07-02 18:51] ma-sadeghi opened #1556 "check_network_health produces non-empty "trim_pores" when connectivity is 8 or 12"
@jgostick
[code]
[code]

[2020-07-03 15:48] #1521 closed, assigned to ma-sadeghi

[2020-07-03 16:10] jgostick opened #1557 "Revisit the idea of doing simulations on subdomains"
At present it is possible to duplicate a project, delete unwanted pores, and do simulations on a subdomain.  Maybe there should be a more 'general' or 'official' way to do this? At the very least, we should make an example of the project-cloning way.

[2020-07-03 16:28] jgostick commented on #1405
This is related to #1482

[2020-07-03 16:32] jgostick commented on #1518
[code]

[2020-07-03 18:57] #1544 closed, assigned to jgostick

[2020-07-03 18:57] #1545 closed, assigned to nobody

[2020-07-03 18:59] jgostick commented on #1528
You can already do this, optionally, by specifying the ``label_suffix`` argument as ``pn_donor.name``

[2020-07-03 18:59] #1528 closed, assigned to nobody

[2020-07-04 06:51] #1556 closed, assigned to jgostick

[2020-07-05 01:36] #1532 closed, assigned to nobody

[2020-07-05 01:36] #1533 closed, assigned to nobody

[2020-07-05 02:07] #1517 closed, assigned to nobody

[2020-07-05 02:08] #1502 closed, assigned to nobody

[2020-07-05 10:19] xu-kai-xu commented on #507
hi, @TomTranter  and @jgostick, when I use paraview to visualize throats, I found that the applied filters (cell data to point data --> extract surface --> tube) suggested by Tom is with one little problem. The problem is that the radius of the throats are not visualized to be their real radius, which means the throat's visual result depends on the two pores this throat is connected to.

e.g., whe

[2020-07-05 16:22] jgostick commented on #507
I think you're doing it correctly, but the throat scaling in paraview is not perfect.  It's only for visualization, so you manually adjust the the scale factor until it looks right.  If you want to do real investigation of pore and throat sizes you should use real data in python, not visualization.

[2020-07-05 16:22] #507 closed

[2020-07-05 18:30] mkaguer commented on #1548
@magnaou suggested looking into `alg.settings['cache_A']` and make sure it is set to `False`. This fixed my problem. Perhaps we need to consider having `False` as the default setting?

[2020-07-06 01:07] xu-kai-xu commented on #507
Thank you! So you mean, just focus the data processed by python. Paraview is just an assistant work. The real pore and throat relations are reflected in the results of openpnm. Do I understand right?

[2020-07-06 02:28] #1469 closed, assigned to ma-sadeghi

[2020-07-06 16:48] #1530 closed, assigned to magnaou

[2020-07-06 16:49] Ni2M commented on #1421
In general in cases where L/D>0.5 the pore shapes can be categorized as an ellipse instead of sphere. But we are assuming sphere and the equations for resistance (conductance) are developed assuming a spherical shape for pore (that's where tan(alpha)=(d/2)/L  appears because of the spherical assumption). Basically, we used the relation of diameter and length in calculation of the integral part for

[2020-07-06 17:16] jgostick commented on #507
In paraview you are just making pictures to help visualize, but the pictures are not 'quantitative'.  You basically have a bit of artistic license to make the picture look right.  If you want to be sure that throats are correct sizes, a picture is not the right way to do this...you should analyze the numerical arrays instead.  So, basically don't stress about getting throat scaling perfect, just a

[2020-07-06 17:34] Ni2M commented on #1421
The geometry "throat_endpoints" formulations which are used for pore and throat length in the conduit suggests that having a pore length>0.5*pore diameter is not valid for spherical pores. e.g. Their corresponding throat diameter will be zero if L1=D1/2 and it will not have a physical value (interferes with basic assumptions to find endpoints and length of conduit elements) if L1>D1/2.

[2020-07-06 17:47] jgostick commented on #1482
I see a lot of value in this, since it is a nice way to address 'constants' as well, which was considered in #717, but ignored due to the challenges.  We'd need to think about the implementation a bit though.

[2020-07-06 18:15] Ni2M commented on #1421
This is a schematic of the problem and geometrical assumptions that can lead to this problem. With the information of the existing geometry (pore.diameter and throat.diameter) the third model in this schematic can be used instead of stick and ball:
![image](https://user-images.githubusercontent.com/43128873/86625501-24fed680-bf93-11ea-8676-8974d0d76ec4.png)

[2020-07-07 00:41] xu-kai-xu commented on #507
@jgostick  Thank you!

[2020-07-07 00:51] xu-kai-xu commented on #1421
@Ni2M  Thanks for your answers!

[2020-07-07 02:24] ma-sadeghi commented on #507
@xu-kai-xu I recently found a way to get throat scaling perfect. Here's what you need to do:

0. Create a new label in `OpenPNM` to store throat **radius** data via
[code]

1. Apply `Shrink` filter and set `Shrink Factor` to 1
2. Apply `CellDatatoPointData` filter
3. Apply `ExtractSurface` filter
4. Apply `Tube` filter

Up to this step, pretty much the same as what you can find in our documentatio

[2020-07-07 02:26] xu-kai-xu commented on #507
@ma-sadeghi, Thanks a lot! I tried it. The result is fascinating.
In the following pictures, I change throats' diameters for a group of tubes crossing the tube direction. Very nice.
![image](https://user-images.githubusercontent.com/44153643/86693795-92674180-c03d-11ea-8800-d3a9467f378c.png)

[2020-07-07 16:19] Ni2M commented on #1421
@xu-kai-xu No problem. I am currently working on implementing the general formulations and other possible solutions described above. I will give more updates later about this issue.

[2020-07-07 19:07] hazardary opened #1565 "[Question]: Is there a way to scale an imported network"
I have used porespy and SNOW to extract a pore network from images. However, the scale is not properly done when I use SNOW. For my large images, redo SNOW can take a long time. I couldn't find a function to rescale the imported pore network from old study. Is there a way to scale the network?

[2020-07-07 20:54] jgostick commented on #1565
I think you're asking if it's possible to recalculate all the pore scale geometry properties of the network because you neglected to put voxel_size into the snow algorithm, right?  It is technically possible to multiply each property on the network accordingly, like ``pn['pore.diameter'] = pn['pore.diameter']*1e-4`` but this would be error prone and slow.  I'm afraid your best bet is just re-run t

[2020-07-07 21:03] hazardary commented on #1565
Thanks for replying. Besides geometry change, also the coordinates of pores. But I guess that only is for plot. It's good to know there isn't a method for now.

[2020-07-07 22:56] jgostick commented on #1565
Yes, like I said it would be error prone to do it by hand since things would inevitably get missed.

[2020-07-07 22:56] #1565 closed, assigned to nobody

[2020-07-08 02:21] ma-sadeghi commented on #1548
`cache_A` is not supposed to be exposed to the user, and is our last resort, we need to investigate why A is not updating.

[2020-07-09 10:42] ma-sadeghi opened #1567 "Unit tests for COMSOL, STL, and Salome IO classes"
We don't have any unit tests for `COMSOL`, `STL`, and `Salome` IO classes at the moment.

[2020-07-09 22:14] Ni2M opened #1568 "[Bug]: <Problem in ad_diff_conductance (shapes are not consistent) >"
**Describe the bug**
line https://github.com/PMEAL/OpenPNM/blob/f49c0bb5eb04926084e80b2d3cd10b6d1e2723f0/openpnm/models/physics/ad_dif_conductance.py#L88

Apparently the shapes of the denominator and nominator are different. using np.tile will make the conductance array shape, but the rates shape is not consistent with g.

**To Reproduce**
Steps to reproduce the behavior, ideally a code snippet th

[2020-07-09 22:26] Ni2M commented on #1568
I will take a further look into the problem and fixing it, but I opened the issue to make sure we don't forget it.

[2020-07-09 22:38] ma-sadeghi commented on #1568
@Ni2M Thanks for reporting it. This is fixed in PR #1569

[2020-07-10 02:28] xu-kai-xu commented on #1425
hi, @ma-sadeghi, @jgostick, I am curious about why should we use the boundary pores in pnm, when it must be considered and when we may ignore it without influencing  the simulation results. From your discussions above, I found that boundary pores need to be considered when the **conductance** model is used. I guess this means all the simulation of flow and diffusion process should include boundary

[2020-07-10 14:44] Ni2M commented on #1568
@ma-sadeghi  Thank your very much for fixing and following up.

[2020-07-10 15:48] ma-sadeghi commented on #1425
@xu-kai-xu That's a good question. There are a couple of points:

Ideally, adding boundary pores should not change the simulation results. So one might ask: why include them in the first place? In my opinion, they should be avoided if possible because they just add complexity to your code by adding extra objects, namely a geometry and a physics dedicated to the boundary pores.

In principle, they

[2020-07-10 19:14] #1524 closed, assigned to ma-sadeghi

[2020-07-10 19:19] #1525 closed, assigned to ma-sadeghi

[2020-07-10 19:19] #1568 closed, assigned to nobody

[2020-07-10 19:48] #1480 closed, assigned to nobody

[2020-07-11 02:06] ma-sadeghi commented on #1526
This has do with our automatic dependency handling that currently doesn't work very well with multi-level properties, i.e. `pore.foo.bar`

[2020-07-11 02:45] ma-sadeghi opened #1570 "Make conical_frustum_and_stick the default shape factor model"
The default flow/Poisson shape factor models in `Standard` physics assume spherical pores. This assumption is not a robust one in terms of numerical calculations (see #1421 for instance). If we use `conical_frustum_and_stick` shape factor models instead, we won't have any issues with the values becoming `inf` or `nan` as they're mathematically relatively simple. Also, while the spherical assumptio

[2020-07-11 08:04] ma-sadeghi commented on #1548
I looked into this and indeed, it's a bug similar to the one fixed in PR #1511. So, basically, we already fixed this bug for `ReactiveTransport` but forgot to fix it for `TransientReactiveTransport` as well. Essentially, we need to change `cache_A` to `False` if `alg.settings['conductance']` is in `alg._get_iterative_props`. Ideally, this should happen in `GenericTransport._build_A`, but the probl

[2020-07-11 14:15] jgostick commented on #1548
I agree with moving _get_Iterative_props to GenericTransport for the reasons you point out.  There are two other options, which I feel like we should consider:

1. Create a new class between GenericTransport and ReactiveTransport, called NonLinearTransport (or IterativeTransport, or VariablePropertyTransport), which basically has the iterative property stuff added.
2. Use multiple inheritance, and

[2020-07-11 15:21] ma-sadeghi commented on #1548
@jgostick Actually, I came up with another solution that requires no change to the code/class layout. I already made a PR (#1571), but here's the new `_build_A` (in `GenericTransport`):

( _the `try` and `except` clause is new_)
[code]
So, basically, although `GenericTransport` doesn't have access to neither of `_get_iterative_props` and `_get_variable_props`, but since all other subclassed algori

[2020-07-11 15:47] jgostick commented on #1548
It's certainly good enough for a quick patch, but a bit hacky, and not self explanatory.  I'd say lets go with this approach for now, but make a note somewhere to consider a proper, explicit inheritance approach.

[2020-07-11 18:40] #1548 closed, assigned to ma-sadeghi, mkaguer

[2020-07-12 14:12] ma-sadeghi opened #1573 "Make OpenPNM codebase typed using mypy"
Not that it's even marginally urgent, just to put this idea out that might be useful for maintaining OpenPNM in the long run. [mypy](http://www.mypy-lang.org/) is an optional static type checker for Python. There are a bunch of benefits, but the one that stood out to me the most was that it makes the codebase much more robust and less reliant on proper unit testing.